<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Querylogs>
      <version>0.1.0</version>
    </Iksula_Querylogs>
  </modules>
  <frontend>
    <routers>
      <querylogs>
        <use>standard</use>
          <args>
            <module>Iksula_Querylogs</module>
            <frontName>querylogs</frontName>
          </args>
      </querylogs>
    </routers>
		<layout>
		  <updates>
			<querylogs>
			  <file>querylogs.xml</file>
			</querylogs>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <querylogs>
        <class>Iksula_Querylogs_Helper</class>
      </querylogs>
    </helpers>
	<blocks>
	  <querylogs>
		<class>Iksula_Querylogs_Block</class>
	  </querylogs>
	</blocks>
	<models>
	  <querylogs>
		<class>Iksula_Querylogs_Model</class>
		<resourceModel>querylogs_mysql4</resourceModel>
	  </querylogs>
	  <querylogs_mysql4>
		<class>Iksula_Querylogs_Model_Mysql4</class>
		<entities>
			  <information>
				<table>querylogs</table>
			  </information>
        </entities>
	  </querylogs_mysql4>
	</models>
	<resources>
	  <querylogs_setup>
		<setup>
		  <module>Iksula_Querylogs</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </querylogs_setup>
	  <querylogs_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </querylogs_write>
	  <querylogs_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </querylogs_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <querylogs>
	    <use>admin</use>
		<args>
		  <module>Iksula_Querylogs</module>
		  <frontName>admin_querylogs</frontName>
		</args>
	  </querylogs>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <querylogs module="querylogs">
		<title>Querylogs</title>
		<sort_order>100</sort_order>
		<children>
		  <information module="querylogs">
		    <title>Manage Information</title>
			<sort_order>0</sort_order>
			<action>admin_querylogs/adminhtml_information</action>
		  </information>
		</children>
	  </querylogs>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<querylogs translate="title" module="querylogs">
			  <title>Querylogs</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <information translate="title">
			<title>Manage Information</title>
			<sort_order>0</sort_order>
		  </information>
			  </children>
			</querylogs>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<querylogs>
		  <file>querylogs.xml</file>
		</querylogs>
	  </updates>
	</layout>
  </adminhtml>
  <crontab>
    <jobs>
        <querylogs_querylogsdelete>
        <schedule><cron_expr>0 0 * * *</cron_expr></schedule>
        <run><model>querylogs/cron::Querylogsdelete</model></run>
        </querylogs_querylogsdelete>
    </jobs>
</crontab>
</config>
