<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_TrustPilotReviews>
      <version>0.1.0</version>
    </Iksula_TrustPilotReviews>
  </modules>
  <frontend>
    <routers>
      <trustpilotreviews>
        <use>standard</use>
          <args>
            <module>Iksula_TrustPilotReviews</module>
            <frontName>trustpilot-reviews</frontName>
          </args>
      </trustpilotreviews>
    </routers>
		<layout>
		  <updates>
			<trustpilotreviews>
			  <file>trustpilotreviews.xml</file>
			</trustpilotreviews>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <trustpilotreviews>
        <class>Iksula_TrustPilotReviews_Helper</class>
      </trustpilotreviews>
    </helpers>
	<blocks>
	  <trustpilotreviews>
		<class>Iksula_TrustPilotReviews_Block</class>
	  </trustpilotreviews>
	</blocks>
  </global>
</config> 