<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Offlinepayment>
      <version>0.1.0</version>
    </Iksula_Offlinepayment>
  </modules>
  <frontend>
    <routers>
      <offlinepayment>
        <use>standard</use>
          <args>
            <module>Iksula_Offlinepayment</module>
            <frontName>offlinepayment</frontName>
          </args>
      </offlinepayment>
    </routers>
		<layout>
		  <updates>
			<offlinepayment>
			  <file>offlinepayment.xml</file>
			</offlinepayment>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <offlinepayment>
        <class>Iksula_Offlinepayment_Helper</class>
      </offlinepayment>
    </helpers>
	<blocks>
	  <offlinepayment>
		<class>Iksula_Offlinepayment_Block</class>
	  </offlinepayment>
	</blocks>
  </global>
</config> 