/* Css by snehal */

/*---Sub category Design start here---*/
.catalog-category-view .filter-block-wrap.block-layered-nav dl#narrow-by-list dd ol li a {
    font-weight: bold;
    background: url(../images/single-arrow-right.png) left center no-repeat !important;
    font-size: 15px;
}
.catalog-category-view .col-right.sidebar .block .block-content, .catalogsearch-result-index .col-right.sidebar .block .block-content{
	background-color: #edffd0 !important;
}

.catalog-category-view .col-right.sidebar .block .block-content.filter-block-tab .current a, .catalog-category-view .col-right.sidebar .block .block-content.filter-block-tab .current {
	color: #f6770e !important;
}
/*---Sub category Design end here---*/
/*---recent purchased popup Design start here---*/
.showProducts{
    border: 1px solid #cdcdcd;
    float: left;
    background-color: #ffff;
    width: 25%;
    position: fixed;
    bottom: 1px;
    z-index: 999999;
    box-shadow: 0 0 5px #aaa;
    -webkit-box-shadow: 0 0 5px #aaa;
    -moz-box-shadow: 0 0 5px #aaa;
    -ms-box-shadow: 0 0 5px #aaa;
    -o-box-shadow: 0 0 5px #aaa;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    left: 0.3%;
}
.showProducts .recent {
    width: 100%;
}
.showProducts .recent .showProducts_img{
	width: 27%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 3%;
}
.showProducts .recent .showProducts_img img{
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}
.showProducts .recent .showProducts_desp{
	width: 70%;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
    font-size: 14px;
}
.showProducts .recent .showProducts_desp b{
	width: 100%;
    float: left;
    text-align: left;
    font-size: 14px;
}
.showProducts .recent .showProducts_desp span{
	text-align: left;
	font-size: 13px;
	font-weight: 500;
}
.showProducts .recent .showProducts_desp span.showProducts_name{
	color: #5f7f0c;
	
}
/*---recent purchased popup Design start here---*/

@media only screen and (max-width: 1200px){
	.showProducts{
		width: 30%;
	}
}