/*new homepage header*/
body, input, select, textarea, button{
    font-family: 'Open Sans', sans-serif !important;
}

body, html{
    /*font-size: 100%!important;*/
  -webkit-text-size-adjust: 100%;
}

.header {
    padding: 1px 0;
        z-index: 99;
}
 .header ..mobile-pr-category-icon{
        display: none;
}

.header li a.top-link-cart{
    background: url(../images/header_cart.png) center left no-repeat!important;
    background-size: 31px!important;
    padding-left: 37px!important;
}

.header li.first.last a span.shopping_count{
    font-size: 13px;
}


.header-top-block .h-left ul li a:hover, .header-top-block .h-right ul li a:hover {
    color: #f6770e;
}

.header-top-block .h-right ul.dropdown_links li a:hover  {
    color: #fff;
}
 .header-top-block {
    background: #f2f2f2;
    height: 31px;
    line-height: 31px;
}
  .header-top-block .h-left ul li a, .header-top-block .h-right ul li a {
    color: #1f1f1f;
}
  .header .quick-access {
    width: 70%;
}
  .header .form-search input.input-text {
    width: 55%;
}
#search_autocomplete {
    width: 40% !important;
}
  a.home_icon {
    line-height: 28px;
    padding: 4px 14px 5px;
    border-radius: 25px;
    margin: 4px 0;
    background-color: #9fb701;
}
body.catalog-product-view a.home_icon {
    line-height: 28px;
    padding: 4px 14px;
    margin: 4px 0;
}
 .header .form-search button.button {
    margin-left: -7px;
    width: 64px;
}
 .header .form-search input.input-text {
    margin-right: 0;
    font-style: normal;
}

.header .links {
    margin: 0;
    padding-bottom: 20px;
}
.header .logo img {
    width: 100%;
}

.logged-in-user a {
    color: #666;
}
.header-container .new-mobile-header{
    display: none;
}
.logged-in-user:hover a, .logged-in-user:hover .dropdown_links li a{
    color: #fff;
}
.header .form-search .search-autocomplete {
    left: 30% !important;
 }
 form {
    display: inline;
    width: 70%;
}
.opc-index-index .header .logo img {
    width: initial;
}
.overlay-header{
    display: none;
    z-index: 999;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.all_categories_list {
    padding-top: 5px;
}
.block-title{
    display: block;
}
/*nav*/
.nav-container.block .block-title {
    background: #1f1f1f;
    height: 45px;
    line-height: 45px;
}
.nav-left-category ul li a {
    line-height: 44px;
}
a.home_icon img {
    vertical-align: middle;
    width: 75%;
}
.block .block-title strong.all-categories {
  line-height: 28px;
    margin: 0;
    height: 30px;
    padding: 6px 15px;
    background: transparent;
}

.my-account input[type="text"], .my-account  select, .my-account  textarea, .my-account  input[type="email"], .my-account  input[type="password"]{
    border-radius: 5px;
    background: #fff;
    padding: 6px 8px;
    font-size: 14px;
    font-weight: normal;
    border: 1px solid #aaaaaa!important;
}

.block .block-title strong span {
    padding: 10px 25px 8px;
    background: #72ae12;
    border-radius: 25px;
    height: 29px;
}

.pr-similar-products .block .block-title strong span {
    padding: 0px 15px;
    background: #72ae12;
    border-radius: 25px;
    height: auto;
    background: transparent;
    display: block;
}

.checkout-cart-index .block-compare .block .block-title strong span{
    background-color: transparent;
    color: #72ae12;
}
.categories-right-hom {
    padding: 4px 0;
}
.block .block-title strong.all-categories span:after {
    right: 18px;
    top: 43%;
    left: initial;
}
.nav-right-category ul li.coupon-and-offer {
    padding: 4px 0;
    border-radius: 25px;
    line-height: 28px;
    height: 28px;
    /*margin: 4px 0;*/
    margin-right: 15px;
}

.nav-right-category ul li.coupon-and-offer  a{
   line-height: 28px;
}
.nav-right-category ul li a span.coupon-icon {
    width: 32px;
    height: 30px;
    background: url(../images/coupons_offers.png) -1px -1px no-repeat;
    margin-right: 8px;
    background-size: 29px;
}
.nav-right-category ul li a {
    line-height: 28px;
}
.nav-right-category ul li.callback-req {
    padding: 4px 0px;
    border-radius: 25px;
    margin-right: 15px;
    line-height: 28px;
    height: 28px;
    /*margin: 4px 0;*/
}   
.nav-right-category ul li a span.callback-icon {
    width: 25px;
    height: 27px;
    background: url(../images/callback_request.png) 8px 7px no-repeat;
    float: left;
    margin-left: 0px;
    margin-right: 4px;
}



/*new homepage footer*/
/*subscription css*/
.footer-container {
    border-top: 0 !important;
}
.footer-container #toTop {
    display: inline-block;
    background-color: #506f00 !important;
    height: auto;
}
.footer-container #toTop .subscribe{
    overflow: hidden;
}
.footer-container #toTop .subscribe-innerdiv{
    background-color: #506f00;
    display: block;
    width: 100%;
    text-transform: uppercase;
    padding: 0 0 20px 0;
}

.footer-container #toTop .subscribe-innerdiv .subscribe-input-go{
    display: block;
    float: none;
    width: 34%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #ffffff;
    box-shadow: none;
    border-radius: 7px;
}
.footer-container #toTop .subscribe-innerdiv .subscribe-input-go .subs{
    width: 68%;
    height: 31px;
    float: left;
    padding-top: 2px;
    padding-right: 5%;
    border-radius: 7px;
    font-style: initial;
}
.footer-container #toTop .subscribe-innerdiv .subscribe-input-go #subscribebtn{
    background-color: #9fb701;
    height: 35px;
    display: inline-block;
    float: right;
    margin-top: 0;
    margin-right: 0;
    width: 20%;
    border-radius: 5px;
}
.adc-footer-links ul.last {
    margin-right: 0 !important;
}
/*subscription css*/


#toTop {
    position: static !important;
}
.footer-container span.footer-logo-adc {
    display: none;
}
.footer-container .adc-footer-links {
    width: 100%;
    float: none;
    display: inline-block;
}

.adc-footer-links ul {
    width: 20% !important;
    margin-right: 0% !important;
}

.footer-container .footer-our-partners span.our-partner-text {
    font-size: 16px;
    line-height: 36px;
    font-weight: bold;
    display: block;
    text-align: center;
    width: 370px;
    margin: 0 auto;
    border-bottom: 1px solid #c9c9c9;
    margin-bottom: 20px;
}
.footer-container .footer-our-partners {
    text-align: center;
}
.footer-our-partners .footer_logos,.footer-our-partners #godaddy_logo,.footer-our-partners .footer_logos.target_blank{
    display: inline-block;
}
.footer-our-partners span {
        margin-right: 30px;
}
.footer address {
    text-transform: capitalize;
}
.adc-footer-row1 {
    max-width: 1110px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
}
.footer-container .footer-our-partners {
    text-align: center;
    margin-bottom: 10px;
    max-width: 1110px;
    width: 100%;
    display: inline-block;
    float: none;
}
.footer_imp_msg {
    max-width: 1110px;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    display: inline-block;
}
p.footer_content {
    text-align: justify;
    padding: 0 30px;
    margin: 10px 0;
    color: #666666;
    font-size: 13px;
    display: inline-block;
}
.footer {
    max-width: 1110px;
    padding: 25px 0;
    width: 100%;
    display: inline-block;
}

.frontend-index-allbrands #search_sidebar_form .drugSearch li #dropdown1, .frontend-index-allbrands #search_sidebar_form .drugSearch li #dropdown2{
    font-size: 15px!important;
}

/* umesh css */

.footer-container #toTop .subscribe-innerdiv{
    padding: 10px 0;
}

.fa-remove:before, .fa-close:before, .fa-times:before{
    content: "x" !important;
}
.customer-address-index .my-account .button.button{
    margin: 0;
}
.col-main .opc-messages-action .button span span, .customer-address-index .my-account .button.button span{
    padding:0!important; 
}

.col-main .opc-messages-action .button span, .opc-wrapper-opc .discount-block .discount-codes .button{
    background: #9fb701 !important;
    color: #fff !important;
    font-size: 14px !important;
    line-height: 14px !important;
    padding: 8px 16px 8px 16px !important;
    border-radius: 30px !important;
    display: inline-block !important;
    font-family: Open Sans, sans-serif !important;
    height: auto !important;
    font-weight: normal !important;
    border-bottom: none !important;
}

.checkout-cart-index .mini-products-list .item{
    width: 100%;
    margin-left: 0;
}

.col-main button, .buttons-set p.back-link a, a.back,.buttons-set p.back-link a:hover, .newsletter-manage-index .buttons-set p.back-link a, 
.newsletter-manage-index .buttons-set p.back-link a:hover, .sales-order-history .buttons-set p.back-link a, .review-customer-index .buttons-set p.back-link a, 
.review-customer-index .buttons-set p.back-link a:hover, .wishlist-index-index .buttons-set p.back-link a:hover, .wishlist-index-index .buttons-set p.back-link a,
.rewardpoints-index-referral .box-account .button-set button.button, .rewardpoints-index-referral .buttons-set p.back-link a, .rewardpoints-index-referral .buttons-set p.back-link a:hover, 
.checkout-cart-index a.pr-continue-shop-cart-empty, .opc-wrapper-opc .btn, .col-main .opc-wrapper-opc .discount-block input.button, .col-main .opc-wrapper-opc .discount-block button, .col-main #drop a, .col-main #drop a:hover, 
.mini-cart-layer .inner-wrapper button.button span, .checkout-cart-index a.pr-continue-shop-cart-empty:hover, .customer-account-forgotpassword .pr-forgot-pswd .buttons-set button.button,
.catalog-product-compare-index .compare-table button.button, .catalog-product-compare-index .buttons-set button.button, .customer-testimonials .buttonset-readmore a{
    background: #9fb701;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    padding: 8px 16px 8px 16px;
    border-radius: 30px;
    margin-top: 12px;
    display: inline-block;
    font-family: Open Sans, sans-serif;
    height: auto;
    font-weight: normal;
    border-bottom: none;
}

.checkout_onepage_failure .col-main .button, .checkout_onepage_failure .col-main button{
    background: #9fb701 !important;
    color: #fff !important;
    font-size: 14px !important;
    line-height: 14px !important;
    padding: 10px 16px 10px 16px !important;
    border-radius: 30px !important;
    display: inline-block !important;
    font-family: Open Sans, sans-serif !important;
    height: auto !important;
    font-weight: normal !important;
    border: 0 !important;
}

.overrides-method-productreview input#summary_field{
    padding: 5px 7px;
    height: 35px;
}

#product_comparison .ratings .rating-box, #product_comparison .ratings .amount{
        float: none;
        display: inline-block;
}

.pr-order-failure .pof-try, .pr-order-failure .pof-continue{
    background: #9fb701 !important;
    color: #fff !important;
    font-size: 14px !important;
    line-height: 14px !important;
    padding: 10px 25px 10px 25px !important;
    border-radius: 30px !important;
    display: inline-block !important;
    font-family: Open Sans, sans-serif !important;
    height: auto !important;
    font-weight: normal !important;
    border-bottom: none !important;
}

.opc-wrapper-opc .discount-block input.button.remove-coupon {
    background: #9fb701 !important;
    color: #fff !important;
    font-size: 14px !important;
    line-height: 14px !important;
    padding: 10px 16px 10px 16px !important;
    border-radius: 30px !important;
    display: inline-block !important;
    font-family: Open Sans, sans-serif !important;
    height: auto !important;
    font-weight: normal !important;
    border-bottom: none !important;
}

.opc-wrapper-opc .discount-block input.button.apply-coupon:hover, .opc-wrapper-opc .discount-block input.button.remove-coupon:hover {
    background: #9fb701 !important;
    border-bottom: 0!important;
}

.testimonial-form-index button.button > span ,.testimonial-form-index button.button > span:hover{
    border-bottom: 0;
}

.catalog-product-compare-index .buttons-set{
    text-align: center;
}
.catalog-product-compare-index .buttons-set button.button{
    margin: 0;
    background: #000;
}
.col-main #drop a:hover{
    border-bottom: none !important;
    margin-top: 0;
}
.col-main #drop a{
    margin-top: 0;
}
.col-main .opc-wrapper-opc .btn{
    background: #9fb701 !important;
    height: auto;
}
.col-main .opc-wrapper-opc .btn:hover span, button.button.apply-coupon:hover, .col-main .opc-wrapper-opc .discount-block input.button.apply-coupon:hover{
    border-bottom: none !important;
    background: #9fb701 !important;
}
.col-main .opc-wrapper-opc .discount-block input.button.apply-coupon{
    padding: 8px 16px 8px 16px !important;
    line-height: normal !important;
    margin-top: 12px !important;
}
.col-main .opc-wrapper-opc .btn span span, .col-main .opc-wrapper-opc .btn span, .col-main .opc-wrapper-opc .btn:hover span{
    background: none;
    padding: 0;
    font-weight: normal;
    border-bottom: none;
    line-height: normal;
    height: auto;
}
.col-main .opc-wrapper-opc .btn-checkout span{
    background: #9fb701;
    border-radius: 30px;
    height: auto;
    line-height: normal;
    border-bottom: none;
    padding: 8px 16px 8px 16px !important;
}
.buttons-set p.back-link a, a.back,.buttons-set p.back-link a:hover, .newsletter-manage-index .buttons-set p.back-link a, 
.newsletter-manage-index .buttons-set p.back-link a:hover, .sales-order-history .buttons-set p.back-link a, .review-customer-index .buttons-set p.back-link a, 
.review-customer-index .buttons-set p.back-link a:hover, .wishlist-index-index .buttons-set p.back-link a:hover, .wishlist-index-index .buttons-set p.back-link a, .rewardpoints-index-referral .buttons-set p.back-link a, .rewardpoints-index-referral .buttons-set p.back-link a:hover, 
.customer-account-forgotpassword .forgot-pswd-text .buttons-set p.back-link a{
    padding: 10.5px 16px;
    background: #1f1f1f;
}
.newsletter-manage-index .buttons-set button.button > span, .newsletter-manage-index .buttons-set button.button:hover > span{
    border-bottom: none !important;
}
.customer-account-forgotpassword .pr-forgot-pswd .forgot-pswd-text .buttons-set p.back-link a{
    margin-top: 6px;
}

.my_account_col .buttons-set button.button, .my_account_col .buttons-set button.button span, .cart-table .btn-empty:hover{
    background: #9fb701;
}
.col-main button span, button.button:hover > span, button.button span:hover span, button.button:hover span span, .my_account_col .buttons-set button.button:hover > span, 
.my_account_col .buttons-set button.button:hover span, .my_account_col .buttons-set button.button:hover span span, .customer-account-edit .buttons-set button.button span, 
.my_account_col .buttons-set button.button span, .customer-account-edit .buttons-set button.button span:hover, .customer-account-edit .buttons-set button.button span:hover span,
.wishlist-index-index .data-table td .cart-cell button.button span, .rewardpoints-index-referral .box-account .button-set button.button span, .rewardpoints-index-referral .box-account .button-set button.button span:hover span,
.rewardpoints-index-referral .box-account .button-set button.button:hover span, .checkout-onepage-success .col-main button.button span, .checkout-onepage-success .col-main button.button:hover span, 
.checkout-onepage-success .col-main button.button:hover span span, .checkout-cart-index .cart-table .btn-continue > span, .checkout-cart-index .cart-table .btn-empty:hover span, .checkout-cart-index .cart-table .btn-update:hover span, 
.cart-table .btn-empty span, .cart-table .btn-continue span, .cart-table .btn-update span, .checkout-cart-index .cart-table .btn-continue:hover > span, .checkout-cart-index .cart-table .btn-continue:hover span, .checkout-cart-index .cart-table .btn-continue:hover span span, 
.checkout-cart-index .cart-table .btn-empty span, .checkout-cart-index .cart-table .btn-update span, .checkout-cart-index .cart-table .btn-empty span:hover span, .checkout-cart-index .cart-table .btn-update span:hover span, 
button.button.btn-proceed-checkout.btn-checkout span, button.button.btn-proceed-checkout.btn-checkout:hover span, button.button.btn-proceed-checkout.btn-checkout:hover span span, .customer-account-forgotpassword .pr-forgot-pswd .buttons-set button.button span, .customer-account-forgotpassword .pr-forgot-pswd .buttons-set button.button span:hover, .customer-account-forgotpassword .pr-forgot-pswd .buttons-set button.button:hover > span, 
.customer-account-forgotpassword .pr-forgot-pswd .buttons-set button.button span:hover span, .catalog-product-compare-index button.button span, .cart .discount button span, .cart .shipping button span, .catalog-product-compare-index .compare-table button.button:hover > span, .catalog-product-compare-index button.button span:hover, .catalog-product-compare-index button.button span:hover span{
    padding:0;
    border-bottom: none;
    background: none;
}
.catalog-product-compare-index .compare-table button.button > span > span{
    min-width: auto;
    padding: 0;
}
.opc-wrapper-opc .discount-block .discount-codes .button span{
    height: auto;
    line-height: normal;
    background: transparent;
}
.catalog-product-compare-index .compare-table button.button{
    margin: 0;
}
.catalog-product-compare-index .compare-table a.link-wishlist, .catalog-product-compare-index .compare-table a.link-wishlist:hover{
    background: url(../images/sprite.png) -10px -101px no-repeat;
    color: #666 !important;
    background-size: inherit !important;
    padding: 9px 5px 10px 25px;
    margin: 0 0 0 15px;
}
.catalog-product-view .pr-add-to-compare a.link-compare:hover, .catalog-product-view .pr-write-review a.link-review:hover, .catalog-product-view .pr-email-friend a.link-email-friend:hover{
    color: #fff;
}
.tag-customer-view .data-table td button.button span, .wishlist-index-index .data-table td .cart-cell button.button span, button.button.btn-proceed-checkout.btn-checkout > span, .button.button.btn-continue-shopping > span, 
.customer-account-login .account-login .col-1 .content button.button span, .customer-account-login .account-login .col-2 .content button.button span, .customer-account-login .account-login .col-1 .content button.button:hover span, 
.customer-account-login .account-login .col-2 .content button.button:hover span, .customer-account-login .col-main .account-login .col-1 .content button.button span:hover, .customer-account-login .col-main .account-login .col-2 .content button.button span:hover,
.customer-account-create .account-create .fieldset .buttons-set button.button span, .customer-account-create .account-create .fieldset .buttons-set button.button:hover span, 
.customer-account-create .account-create .fieldset .buttons-set button.button span:hover span{
    background: none;
    padding: 0;
    border-bottom: none;
    margin: 0;
}
.tag-customer-view .data-table td button.button:hover span span, .tag-customer-view .data-table td button.button span span, 
.wishlist-index-index .data-table td .cart-cell button.button span span, .wishlist-index-index .data-table td .cart-cell button.button:hover span span{
    border-bottom: none;
    background: url(../images/sprite.png) -204px -293px no-repeat;
    background-size: 500px;
}
.tag-customer-view .data-table td button.button:hover span, .wishlist-index-index .data-table td .cart-cell button.button:hover span, .catalog-category-view .products-list .product-shop button.button{
    background: none;
    border-bottom: none;
}
.tag-customer-view .data-table td button.button span, .wishlist-index-index .data-table td .cart-cell button.button span{
    height: auto;
    line-height: normal;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .add-to-links{
    width: 47%;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .btn-cart{
    font-weight: normal;
    margin: 15px 10px 0 0;
    border-left: none;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .btn-cart span{
    color: #fff;
}
.col-main button.slick-arrow{
    background: none;
    padding: 0;
    margin: 0;
    color: transparent;
    line-height: normal;
}
.catalog-category-view .col-main .category-products .products-grid li.item .actions button.button{
    background: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
}
.catalog-category-view .col-main .category-products .products-list li.item .product-shop .f-fix .actions_btn button.button span span{
    color: #202020;
}
.col-main .opc-wrapper-opc .btn-checkout span span, .mini-cart-layer .inner-wrapper button.button span span{
    padding: 0 !important;
    font-size: 14px;
    height: auto;
    margin: 0;
}
.col-main .opc-wrapper-opc .btn-checkout span span, .mini-cart-layer .inner-wrapper button.button span{
    margin-top: 0;
}
.col-main .opc-wrapper-opc .btn-checkout:hover span, .col-main .opc-wrapper-opc .btn-checkout:hover span span{
    background: #9fb701;
    border-bottom: none !important;
}
/*.customer-account-index .compare-block-tab .actions .button.button > span {
    border-radius: 22px;
    background: #9fb701 url(../images/compare_arrows.png) 14px 10px no-repeat;
    top: 15px;
}*/
.customer-account-index .compare-block-tab .actions .button.button > span span{
    padding: 0;
    line-height: inherit;
    height: auto;
}
.customer-account-index .compare-block-tab .actions a{
    padding: 10px 0;
}
.order_view_link{
    font-weight: normal;
}
.customer-account-edit #more_info .form-list select{
    height: 31px;
    padding: 0 8px;
    width: 120px;
}
.col-main{
    box-sizing: border-box;
}
.rewardpoints-index-referral .col-main .box-account{
    padding: 0 0 15px;
}
.rewardpoints-index-referral .buttons-set{
    padding: 0;
}

.overrides-method-productreview .review_desc .review_field_input textarea{
    border-radius: 3px;
    background: none;
    border: 1px solid #a6a6a6;
}
.overrides-method-productreview .star_wrap  label.custom_css_label{
    width: 18px;
    height: 18px;
}
.overrides-method-productreview  .review_frm .rating_heading{
    padding: 10px 0;
}
.star_wrap, .rating_heading{
    line-height: normal;
}


.coming_soon_btn{
    color: #506f00;
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
}
/* umesh css */

@media only screen and (max-width: 1225px){
    .header, .nav-content-header, .main, .adc-footer-row1{
        padding: 0 15px;
        box-sizing: border-box;
    }
    .header-top-block-content{
        padding: 0 5px;
    }
}
@media only screen and (max-width: 1024px){

        a.home_icon {
            margin: 4px 0;
            line-height: 38px;
        }
        a.home_icon img {
            width: 70%;
        }
        .block .block-title strong.all-categories {
            background: #274130;
            border-right: 1px solid #365441;
            border-radius: 25px;
            line-height: 25px;
            height: 25px;
            padding: 6px 8px;
            margin: 0;

        }
        .block .block-title strong span {
            background: transparent;
            padding: 14px 25px;
        }
        .checkout-cart-index .cart-collaterals .block .block-title{
            display: block;
        }
        .checkout-cart-index .cart-collaterals .block .block-title strong span{
            padding: 0;
        }
        .nav-left-category {
            margin-left: 170px;
        }
        .adc-footer-links ul {
            margin-right: 2% !important;
            width: auto !important;
        }

}

@media only screen and (max-width: 900px){
        .nav-right-category ul li a {
            font-size: 0;
            padding: 0;
            color: #274130;
            text-indent: -9em;
        }
        .nav-right-category ul li a span.coupon-icon {
            width: 58px;
            height: 33px;
            background: url(../images/sprite.png) -437px -13px no-repeat;
            background-size: 500px;
        }
        .nav-right-category ul li.coupon-and-offer {
            border-radius: 0;
            padding: 0;
            line-height: 45px;
            height: 45px;
            margin: 0;
            margin-right: 0;
        } 
      .nav-right-category ul li.callback-req {
            border-radius: 0;
            padding: 0;
            line-height: 45px;
            height: 45px;
            margin: 0;
            margin-right: 0;
        }
        .nav-right-category ul li a span.callback-icon {
            width: 58px;
            height: 33px;
            background: url(../images/callback_request.png) 22px 2px no-repeat;
            margin-left: 0;
            background-size: 17px;
        }
        .header-top-block .h-left ul li a {
            padding: 0 7px;
        }
        .nav-right-category {
            margin: 0 10px;
        }
        .catalog-category-view .tab-category-icons{
             margin: 0 10px;
        }
        .categories-right-hom{
            padding: 0;
        }
        .block .block-title strong.all-categories{
            margin: 4px 0;
        }
        
}
@media only screen and (max-width: 840px){
    .home-banner-block.third {
        display: none;
    }
    .customer-account-index .acc-pages-icons{
        margin: 0 10px;
    }
     #search_autocomplete {
            width: 29% !important;
     }
    .header .form-search .search-autocomplete {
        left: 35% !important;
    }
    .block-compare, .block-layered-nav, .customer-account-index .sidebar .block-account .block-content{
        right: 174px;
        top: 180px;
    }
    .customer-account-index .sidebar .block-account .block-content{
        right: 235px;
    }
}
@media only screen and (max-width: 840px){
    .col-main .opc-wrapper-opc .discount-block input.button.apply-coupon{
        margin-top: 0 !important; 
    }
}

@media only screen and (max-width: 800px){
        .subscribe-innerdiv span.xtra-txt {
            display: block;
        }
        .adc-footer-links ul {
            margin-right: 1% !important;
        }
       
}

@media only screen and (max-width: 736px){
    #search_autocomplete {
        width: 100% !important;
        left: 0!important;
        top: 100%!important;
    }
    .header .form-search .search-autocomplete {
        left: 2% !important;
    }
    .adc-footer-links {
        display: block;
    }
    .adc-footer-links ul li {
        text-align: left;
        display: inline-block;
        float: left;
        width: 50%;
        padding-right: 5px;
        margin: 5px 0;
        box-sizing: border-box;
        
    }
    .adc-footer-links ul li a{
        line-height: 16px;
    }

    .adc-footer-links ul {
        margin-right: 3% !important;
        width: 100% !important;
        float: left !important;
    }
    .logged-in-user {
        padding: 0;
    }
    .dropdown_links {
        top: 54px;
    }
    .logged-in-user_normal {
        right: 25px;
    }
    .header-container .new-mobile-header {
        display: block;
        float: left;
        width: 100%;
        background: #f4f4f4;
        padding: 15px;
        box-sizing: border-box;
    }
    .header-container .new-mobile-header .mob-new-contact {
        display: inline-block;
        width: auto;
        float: left;
        background: url(../images/mbl_call.png) left center no-repeat;
        background-size: 17px;
        padding: 0 0 0 20px;
        margin: 2px 0 0;
        cursor: pointer;
        height: 22px;
    }
    .header-container .new-mobile-header .mob-new-contact a{
        color: #666;
        font-weight: bold;
    }
    .header-container .new-mobile-header .mob-right-icons {
        float: right;
        margin: 0;
    }
    .mobile-pr-cart-icon {
        float: right;
        background: url(../images/header_cart.png) center left no-repeat!important;
        background-size: 32px !important;
        padding-right: 10px;
        margin: 13px 0 0;
        width: 32px;
        height: 32px;
    }
    .mobile-pr-login-icon{
        float: right;
        background: url(../images/mbl_user.png) no-repeat;
        margin: 0;
    }
    .header .mobile-pr-category-icon{
        display: block;
    }
    .header{
        text-align: center;
        float: left;
        width: 100%;
        padding: 10px 12px;
        box-sizing: border-box;
    }
    .header h1.logo{
        display: inline-block;
        margin: 0;
        float: none;
        z-index: 99;
    }
    .header .mobile-pr-category-icon{
        display: inline-block;
        background: url(../images/mbl_category.png) no-repeat;
        width: 36px;
        height: 36px;
        background-size: 35px;
        margin: 10px 0 0;

    }
    .mobile-pr-cart-icon span {
        background: #666666;
        color: #ffffff;
        border: 1px solid #e8edd1;
        right: 0;
        top: -5px;
        left: inherit;
        font-size: 10px;
    }
    .header .quick-access {
        border: 0;
        background: inherit;
        box-sizing: border-box;
        padding: 0 !important;
        position: relative;
        top: 0;
    }
    .header .form-search input.input-text, .header .form-search button.button {
        height: 40px;
        box-sizing: border-box;
    }
    .main-container {
        margin-top: 15px !important;
    }
    .checkout-cart-index .main-container, .catalog-product-view .main-container, .catalog-category-view .main-container{
        margin-top: 0 !important;
    }
    .catalog-category-view .main-container .breadcrumbs{
        padding-top: 0 !important;
    }
    .header .form-search input.input-text {
        font-size: 14px;
        margin: 0;
        width: 92% !important;
        box-sizing: border-box;
    }  
    .header .form-search button.button{
        margin-left: -2%;
        width: 10%;
        box-sizing: border-box;
    }
    #toTop_mobile {
        display: none;
    }
    .adc-footer-links ul li a{
        color: #242424;
        line-height: 25px;
        font-size: 12px;
        font-weight: 600;
        /*font-family: 'Open Sans', sans-serif;*/
    }
    #my-tags-table .add-to-links{
        margin: 5px 0 0 5px;
    }
    .cart-wrap-cur button.button.btn-proceed-checkout.btn-checkout span, .cart-wrap-cur .button.button.btn-continue-shopping span{
        padding: 0;
    }
    .checkout-cart-index .cart .cart-wrap-cur .title-buttons .checkout-types li{
        float: right;
        width: 50%;
        text-align: left;
    }
    .checkout-cart-index .button.button.btn-proceed-checkout.btn-checkout, .checkout-cart-index .button.button.btn-continue-shopping{
        width: auto;
    }
    .cart-wrap-cur button.button.btn-proceed-checkout.btn-checkout{
        float: right;
    }
    .checkout-cart-index .cart_table_wrap #shopping-cart-table2{
        display: none;
    }
    .checkout-cart-index .cart-remove-link button{
        color: #fff;
        border: none;
        background: #1f1f1f;
        margin: 0;
    }
    .checkout-cart-index table#shopping-cart-table tr td.a-center.cart-remove-link .btn-remove.btn-remove2{
        color: #fff;
        padding: 0;
        }
    .checkout-cart-index .cart_table_wrap.mid{
        min-height: auto;
    }
    .checkout-cart-index .checkout-types button.button.btn-proceed-checkout.btn-checkout span, .checkout-cart-index .checkout-types .button.button.btn-continue-shopping span{
        padding: 0;
        width: 100%;
    }
    .col-main .opc-wrapper-opc .discount-block input.button.apply-coupon{
        margin-top: 0 !important;
    }
    .col-main button, .buttons-set p.back-link a, a.back, .buttons-set p.back-link a:hover, .newsletter-manage-index .buttons-set p.back-link a, .newsletter-manage-index .buttons-set p.back-link a:hover, .sales-order-history .buttons-set p.back-link a, .review-customer-index .buttons-set p.back-link a, .review-customer-index .buttons-set p.back-link a:hover, .wishlist-index-index .buttons-set p.back-link a:hover, .wishlist-index-index .buttons-set p.back-link a, .rewardpoints-index-referral .box-account .button-set button.button, .rewardpoints-index-referral .buttons-set p.back-link a, .rewardpoints-index-referral .buttons-set p.back-link a:hover, .checkout-cart-index a.pr-continue-shop-cart-empty, .opc-wrapper-opc .btn, .col-main .opc-wrapper-opc .discount-block input.button.apply-coupon, .col-main #drop a, .col-main #drop a:hover, .mini-cart-layer .inner-wrapper button.button span, .checkout-cart-index a.pr-continue-shop-cart-empty:hover{
        padding: 10px 16px;
    }
    .customer-account-login .account-login .col-2 .content button.button span{
        border-bottom: none !important;
        background: no-repeat !important;    
    }
    .customer-account-login .form-list input.input-text{
        width: 100%;
    }
    .customer-account-login .account-login .col2-set .col-1.new-users{
        margin: 15px 0 0;
    }
    .customer-account-login .account-login .col2-set .col-1.new-users .content, .customer-account-login .account-login .col2-set .registered-users .content{
        text-align: center;
    }
    .customer-account-login .account-login .col-1 .content button.button, .customer-account-login .account-login .col-2 .content button.button{
        display: inline-block;
        min-width: 200px;
        width: auto;
        float: none;
    }
    .customer-account-login .validation-advice{
        float: left;
        padding: 0;
    }
    .customer-account-create .account-create .form-list label {
        font-size: 13px;
        width: 40%;
        float: left;
    }
    .customer-account-create .account-create .form-list .input-box{
        clear: none;
        
    }
    .customer-account-create .account-create .form-list .input-box .validation-advice{
        display: block;
        padding: 0;
        margin: -5px 0 10px;
    }
    .customer-account-create .account-create .create-acc-boxrt .form-list .input-box, .customer-account-create .account-create .form-list .input-box, 
    .customer-account-create .account-create .create-acc-boxrt li.control{
        width: 55%;
    }
    .customer-account-create .account-create .create-acc-boxlft, .customer-account-create .account-create .create-acc-boxrt{
        width: 48%;
    }
    .customer-account-create .account-create .create-acc-boxrt li.control .input-box label{
        width: 100%;
    }
    .my_account_col .col-main{
        margin-top: 0;
    }
    .customer-account-login .col1-layout .col-main{
        padding: 0 10px;
    }
    .customer-account-edit .buttons-set{
        margin: 0;
        padding: 0;
    }
    .mobile-pr-login-icon .logged-in-user a{
        color: #fff;
    }

    .logged-in-user .dropdown_links:before{
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #72ae12 transparent;
        position: absolute;
        right: 18px;
        top: -10px;
        display: block;
    }

    .dropdown_links li a:hover{
        color: #000!important;
    }

    .mobile-pr-login-icon .logged-in-user .dropdown_links{
        width: auto;
    } 
    .main{
        padding: 0;
    }
    .checkout-cart-index h1.cart-title-mob{
        font-size: 17px;
    }
    .cms-home .register_user_categories{
        padding: 0 15px;
    }
    .cms-home .col-main .banner_below_category_content .register_user_categories .slick-prev{
        left: 15px;
    }
    .cms-home .col-main .banner_below_category_content .slick-next {
        right: 15px !important;
    }
    .customer-account-index .box-fd-recent-tickets .box-head .actions{
        float: left !important;
    }
    .customer-account-index .box-fd-recent-tickets #my-tickets-table{
        margin: 5px 0 0;
    }

    input[type="button"],
    input[type="button"],
    input[type="submit"]{
        -webkit-appearance: none;
        border-radius: 0;
    }
    input[type="text"]{
       -webkit-appearance: none;
       box-shadow: none; 
    }

@media only screen and (max-width: 670px){
    .customer-account-login .account-login .col2-set .col-1.new-users{
        margin: 0;
    }
}
@media only screen and (max-width: 568px){
    .customer-account-create .account-create .create-acc-boxlft, .customer-account-create .account-create .create-acc-boxrt, .customer-account-create .account-create .form-list label, 
    .customer-account-create .account-create .create-acc-boxrt .form-list .input-box, .customer-account-create .account-create .form-list .input-box, .customer-account-create .account-create .create-acc-boxrt li.control{
        width: 100%;
    }
    .header .form-search input.input-text, .header .form-search button.button{
        height: 35px;
    }
    .medical_history_field3 span, .medical_history_field4 span, .medical_history_field5 span{
        line-height: 0;
    }
}
@media only screen and (max-width: 420px){
    .all_categories_list {
        padding-left: 10px;
    }
    #search_autocomplete {
    width: 100% !important;
}
    .header .form-search .search-autocomplete {
        left: 3% !important;
    }
    .checkout-cart-index .cart .cart-wrap-cur .title-buttons .checkout-types li{
        float: left;
        width: 100%;
        text-align: center;
    }
    .cart-wrap-cur button.button.btn-proceed-checkout.btn-checkout{
        float: none;
    }
    .checkout-cart-index .cart .cart-wrap-cur .title-buttons .checkout-types li button, .checkout-cart-index .button.button.btn-proceed-checkout.btn-checkout, 
    .checkout-cart-index .button.button.btn-continue-shopping{
        display: inline-block;
        min-width: 200px;
    }
    .checkout-cart-index .checkout-types li{
        text-align: center;
    }
    .checkout-cart-index .cart-remove-link button{
        padding: 5px 10px;
    }
    .col-main button, .buttons-set p.back-link a, a.back, .buttons-set p.back-link a:hover, .newsletter-manage-index .buttons-set p.back-link a, .newsletter-manage-index .buttons-set p.back-link a:hover, .sales-order-history .buttons-set p.back-link a, .review-customer-index .buttons-set p.back-link a, .review-customer-index .buttons-set p.back-link a:hover, .wishlist-index-index .buttons-set p.back-link a:hover, .wishlist-index-index .buttons-set p.back-link a, .rewardpoints-index-referral .box-account .button-set button.button, .rewardpoints-index-referral .buttons-set p.back-link a, .rewardpoints-index-referral .buttons-set p.back-link a:hover, .checkout-cart-index a.pr-continue-shop-cart-empty, .opc-wrapper-opc .btn, .col-main .opc-wrapper-opc .discount-block input.button.apply-coupon, .col-main #drop a, .col-main #drop a:hover, .mini-cart-layer .inner-wrapper button.button span, .checkout-cart-index a.pr-continue-shop-cart-empty:hover{
        padding: 0 15px;
        height: 33px;
        line-height: 33px;
    }

    .catalog-category-view .col-main .category-products .products-grid li.item .actions button.button, .catalogsearch-result-index .col-main .category-products .products-grid li.item .actions button.button{
        height: auto;
        line-height: inherit;
    }

    .col-main .opc-wrapper-opc .btn{
        height: 33px;
        line-height: 33px;
    }
    .customer-account-forgotpassword .pr-forgot-pswd .forgot-pswd-text{
        width: 90%;
    }
    .customer-account-edit #more_info .form-list select#timeval1, .customer-account-edit #more_info .form-list select#timeval2, .customer-account-edit #more_info .form-list select#timezone{
        width: 75px !important;
        min-width: auto;
    }
    .customer-account-edit #more_info .form-list .input-box{
        width: 60%;
    }
    .customer-account-edit .form-list li, .customer-account-edit .form-list.edit-pswd .field{
        margin: 0;
    }
    .customer-account-edit .form-list .customer-name-middlename .input-box, .customer-account-edit .form-list.edit-pswd .input-box{
        margin: 0 0 10px;
    }
    .customer-account-edit #more_info .form-list li{
        margin: 0 0 10px;
    } 
    .customer-address-index .my-account .title-buttons button.button{
        background: none;
    }
    .customer-address-form .form-list li.wide input#street_1{
        margin: 0 0 5px;
    }
    .header .form-search button.button {
        margin-left: -6%;
        width: 14%;
    }

    .review-customer-view .product-review .product-img-box, .review-customer-view .product-review .product-details{
        width: 100%;
        margin: 0;
        clear: both;
    }
    .product-review .product-img-box .product-image, .product-review .product-img-box .product-image img{
        width: 100%;
        height: auto;
    }
    .review-customer-view .product-review .product-name{
        padding: 10px 0;
        margin: 0;
    }
    .review-customer-view .product-review .product-img-box .label{
        margin: 5px 0;
    }
    .review-customer-view .product-review .product-img-box .ratings .rating-box{
        margin: 0 0 6px;
    }
    .cms-index-index .col-main .home-content h2{
        width: 100%;
    }
    .nav-container .all_categories_list #nav li a {
        background-position: 0 7px;
    }
    .nav-container .all_categories_list #nav li a:hover{
        background-position: 0 -44px;
    }
    .nav-container .all_categories_list ul#nav li ul li a span {
        padding: 3px 15px 3px 15px;
        font-size: 13px;
        line-height: normal;
    }
    .opc-index-index .opc-messages{
        width: 80%;
        left: 10%;
        margin: 0;
    }
    .customer-account-index .box-fd-recent-tickets .ticket-div{
        overflow: scroll;
    }
    .catalog-product-view .product-collateral .slider_wraper .pr-details-height{
        text-align: left;
    }
    .catalog-product-view .frequently_bought_wrap .slider_wraper .btn-cart{
        height: auto;
    }
}
@media only screen and (max-width: 380px){
    .checkout-cart-index table#shopping-cart-table td.a-center.cart-remove-link{
        margin-left: 0 !important;
        width: 68%;
        float: right;
        text-align: left !important;
    }
}
@media only screen and (max-width: 360px){
    .footer-container .footer-our-partners span.our-partner-text{
        width: 100%;
    }
    .cms-index-index .banner_sec .bx-wrapper .bx-pager{
        bottom: 0;
    }
    .cms-index-index .banner_sec .bx-wrapper .bx-pager.bx-default-pager a{
        width: 10px;
        height: 10px;
    }
}
@media only screen and (max-width: 320px){
    .header .form-search input.input-text{
        font-size: 13px;
    }
    .customer-account-login .col-1.new-users .content p:after, .customer-account-login .col-1.new-users .content p:before{
        width: 10%;
    }
}