/* Global and reqiured variables defined in _var.scss partial file */
/* default value for box-shadow mixin. refer _mixin fie */
/* default value for text-shadow mixin. refer _mixin fie */
/* default value for transform mixin. refer _mixin fie */
/* default value for transform mixin refer _mixin fie */
/* default value for element in fontimport mixin. refer _mixin fie */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
.button_style {
  border-radius: 4px;
  line-height: 2.5rem;
  padding: 0 1rem;
  text-transform: uppercase;
  min-width: 135px;
}

.box_sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/*mixin for transition, variables inside paranthesis are not defined. so they are mandatory*/
/*mixin for border-radius, variables inside paranthesis are not defined. so they are mandatory*/
/*mixin for box-shadow, variables inside paranthesis are defined. variable is defined in _var.scss */
/*mixin for text-shadow, variables inside paranthesis are defined. variable is defined in _var.scss */
/*mixin for transform, variables inside paranthesis are defined as null. specific properties can be changed and used. variable is defined in _var.scss */
/*mixin for button-skewed, variables inside paranthesis are not defined. so they are mandatory*/
/*mixin for button_skewed_oneside, variables inside paranthesis are not defined. so they are mandatory*/
/*mixin for triangle, variables inside paranthesis are not defined. so they are mandatory*/
/*mixin for gradient, variables inside paranthesis are defined. variables are defined in _var.scss*/
/*mixin for media query, variables inside paranthesis are not defined.  so they are mandatory*/
/*mixin for trapezoid, variables inside paranthesis are not defined.  so they are mandatory*/
body {
  color: #333;
  font-family: "OpenSans-Semibold" !important;
}

button.button:hover > span {
  border: 0 !important;
}

.cms-page-view.cms-referral {
  font-family: "OpenSans-Semibold" !important;
}
.cms-page-view.cms-referral .categories-right-hom {
  padding: 4px 0;
  padding-bottom: 0;
}
.cms-page-view.cms-referral .main-container {
  padding-top: 18px;
  background: #fff;
  margin-top: 0;
  padding: 0 !important;
}
.cms-page-view.cms-referral .main-container .main {
  background: transparent;
  max-width: 1200px;
}
.cms-page-view.cms-referral .main-container .main .col-main .std * {
  text-align: center !important;
  padding: 0 !important;
}
.cms-page-view.cms-referral .main-container .main .col-main .referral-wrap {
  display: inline-block;
  width: 100%;
  text-align: center !important;
}
.cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .title {
  font-size: 25px;
  line-height: 25px;
  color: #1f1f1f;
  font-family: "OpenSans-Bold" !important;
  text-transform: uppercase;
  padding: 25px 0 !important;
}
.cms-page-view.cms-referral .main-container .main .col-main .referral-wrap img {
  width: 100%;
  height: auto;
  margin: 0 !important;
}
.cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .content_wrap .how-it-works, .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .content_wrap .this-doesnt-end-here {
  text-align: center !important;
  display: inline-block;
  width: 100%;
}
.cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .content_wrap .how-it-works .outer_area, .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .content_wrap .this-doesnt-end-here .outer_area {
  float: left;
  width: 33.33%;
  padding: 0 4% 35px 4% !important;
  box-sizing: border-box;
}
.cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .content_wrap .how-it-works .outer_area .img_area img, .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .content_wrap .this-doesnt-end-here .outer_area .img_area img {
  width: auto;
  margin: 0 !important;
  display: inline-block;
}
.cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .content_wrap .how-it-works .outer_area .desc_area, .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .content_wrap .this-doesnt-end-here .outer_area .desc_area {
  font-size: 16px;
  line-height: 22px;
  color: #1f1f1f;
  font-family: "OpenSans-Semibold" !important;
}
.cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .content_wrap .this-doesnt-end-here .title {
  color: #72ae12;
}
.cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .invalide-invities {
  background: #e8e8e8;
}
.cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .invalide-invities .inner {
  margin: 0;
  padding: 0 20% 20px 20% !important;
  font-size: 18px;
  line-height: 26px;
  color: #1f1f1f;
  font-family: "OpenSans-Bold" !important;
}
.cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .invalide-invities ul {
  padding: 0 20% 35px 20% !important;
  margin: 0;
  list-style: disc inside;
}
.cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .invalide-invities ul li {
  font-size: 15px;
  line-height: 26px;
  color: #f6770e;
  font-family: "OpenSans-Semibold" !important;
}
.cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .invalide-invities .refer-queries {
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  font-family: "OpenSans-Semibold" !important;
  background: #1f1f1f;
}
.cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .invalide-invities .refer-queries .faq {
  color: #72ae12;
  text-decoration: underline;
  cursor: pointer;
}
.cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .social_btns {
  padding-top: 30px !important;
}
.cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .social_btns a {
  margin: 0 4px;
  display: inline-block;
  cursor: pointer;
}
.cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .social_btns a img {
  width: auto;
  height: auto;
  display: inline-block;
}

@media only screen and (max-width: 1225px) {
  .cms-referral .main-container .main {
    padding: 0 15px;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 900px) {
  .cms-page-view.cms-referral .categories-right-hom {
    padding: 0;
  }
  .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .title {
    font-size: 22px;
  }
  .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .content_wrap .how-it-works .outer_area .desc_area, .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .content_wrap .this-doesnt-end-here .outer_area .desc_area {
    font-size: 15px;
    line-height: 22px;
  }
  .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .invalide-invities .inner {
    font-size: 16px;
    line-height: 22px;
  }
  .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .invalide-invities ul li {
    font-size: 14px;
    line-height: 22px;
  }
  .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .invalide-invities .refer-queries {
    font-size: 14px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 736px) {
  .cms-page-view.cms-referral .main-container {
    margin-top: 0 !important;
  }
  .cms-page-view.cms-referral .main-container .main {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .title {
    font-size: 20px;
    padding: 15px 0 !important;
  }
  .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .content_wrap .how-it-works .outer_area, .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .content_wrap .this-doesnt-end-here .outer_area {
    padding: 0 2% 20px 2% !important;
  }
  .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .content_wrap .how-it-works .outer_area .img_area img, .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .content_wrap .this-doesnt-end-here .outer_area .img_area img {
    width: 110px;
  }
  .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .content_wrap .how-it-works .outer_area .desc_area, .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .content_wrap .this-doesnt-end-here .outer_area .desc_area {
    font-size: 13px;
    line-height: 21px;
  }
  .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .invalide-invities .inner {
    font-size: 15px;
    line-height: 20px;
    padding: 0 5% 15px 5% !important;
  }
  .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .invalide-invities ul {
    padding: 0 5% 15px 5% !important;
  }
  .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .invalide-invities ul li {
    font-size: 14px;
    line-height: 20px;
  }
  .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .invalide-invities .refer-queries {
    font-size: 14px;
    line-height: 40px;
  }
  .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .social_btns {
    padding-top: 22px !important;
  }
}
@media only screen and (max-width: 480px) {
  .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .content_wrap .how-it-works .outer_area, .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .content_wrap .this-doesnt-end-here .outer_area {
    padding: 0 10% 15px 10% !important;
    width: 100%;
  }
  .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .content_wrap .how-it-works .outer_area .img_area img, .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .content_wrap .this-doesnt-end-here .outer_area .img_area img {
    /*width: auto;*/
  }
  .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .content_wrap .how-it-works .outer_area .desc_area, .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .content_wrap .this-doesnt-end-here .outer_area .desc_area {
    font-size: 15px;
    line-height: 19px;
  }
  .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .invalide-invities .refer-queries {
    line-height: 22px;
    padding: 7px 0 !important;
  }
  .cms-page-view.cms-referral .main-container .main .col-main .referral-wrap .invalide-invities .refer-queries .faq {
    width: 100%;
    display: inline-block;
  }
}

/*# sourceMappingURL=global_page.css.map */
