/* Global and reqiured variables defined in _var.scss partial file */
/* default value for box-shadow mixin. refer _mixin fie */
/* default value for text-shadow mixin. refer _mixin fie */
/* default value for transform mixin. refer _mixin fie */
/* default value for transform mixin refer _mixin fie */
/* default value for element in fontimport mixin. refer _mixin fie */
.button_style {
  border-radius: 4px;
  line-height: 2.5rem;
  padding: 0 1rem;
  text-transform: uppercase;
  min-width: 135px;
}

.box_sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/*mixin for transition, variables inside paranthesis are not defined. so they are mandatory*/
/*mixin for border-radius, variables inside paranthesis are not defined. so they are mandatory*/
/*mixin for box-shadow, variables inside paranthesis are defined. variable is defined in _var.scss */
/*mixin for text-shadow, variables inside paranthesis are defined. variable is defined in _var.scss */
/*mixin for transform, variables inside paranthesis are defined as null. specific properties can be changed and used. variable is defined in _var.scss */
/*mixin for button-skewed, variables inside paranthesis are not defined. so they are mandatory*/
/*mixin for button_skewed_oneside, variables inside paranthesis are not defined. so they are mandatory*/
/*mixin for triangle, variables inside paranthesis are not defined. so they are mandatory*/
/*mixin for gradient, variables inside paranthesis are defined. variables are defined in _var.scss*/
/*mixin for media query, variables inside paranthesis are not defined.  so they are mandatory*/
/*mixin for trapezoid, variables inside paranthesis are not defined.  so they are mandatory*/
body {
  color: #333;
}

button.button:hover > span {
  border: 0 !important;
}

.breadcrumbs {
  font-family: Open Sans, sans-serif;
  max-width: 1200px;
  margin: 0 auto 18px;
}
.breadcrumbs * {
  font-family: Open Sans, sans-serif;
}
.breadcrumbs li a {
  color: #202020;
}
.breadcrumbs li a:visited {
  color: #202020;
}

.catalog-product-view .main-container, .review-product-list .main-container {
  padding-top: 18px;
  background: #f4f4f4;
  margin-top: 0;
}
.catalog-product-view .main-container .main, .catalog-product-view .main-container .product-essential, .review-product-list .main-container .main, .review-product-list .main-container .product-essential {
  background: transparent;
}
.catalog-product-view .main-container .main, .review-product-list .main-container .main {
  max-width: 100%;
}
.catalog-product-view .main-container .product-shop .short-description, .review-product-list .main-container .product-shop .short-description {
  background: transparent;
}

.catalog-product-view .product-view {
  font-family: 14px;
}
.catalog-product-view .product-view .product-essential {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.catalog-product-view .product-view * {
  font-family: Open Sans, sans-serif;
}
.catalog-product-view .col-main {
  padding: 0;
}
.catalog-product-view .std p {
  display: inline-block;
  width: 100%;
}
.catalog-product-view .std p span {
  font-size: 14px !important;
  line-height: 22px;
}
.catalog-product-view .std b {
  font-weight: normal;
  font-size: 14px;
  color: #9fb701;
  text-decoration: underline;
}
.catalog-product-view #review-form-div #review-form {
  width: auto;
  display: block;
  padding: 0;
}
.catalog-product-view #review-form-div #review-form .p_name {
  font-size: 14px;
  background: #fff;
  border-radius: 5px;
  padding: 6px 8px;
  font-weight: normal;
  border: 1px solid #aaaaaa;
  height: 35px;
  box-sizing: border-box;
}
.catalog-product-view #review-form-div ul {
  width: 46.5%;
  float: left;
}
.catalog-product-view #review-form-div ul.field_2 {
  float: right;
}
.catalog-product-view #review-form-div ul li {
  margin-bottom: 20px;
}
.catalog-product-view #review-form-div .button {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  padding: 8px 24px 8px 24px;
  float: left;
  border-radius: 30px;
  display: block;
  font-family: Open Sans, sans-serif;
  height: auto;
  font-weight: normal;
  margin: 0 !important;
  float: right !important;
  background: #9fb701;
}
.catalog-product-view #review-form-div .button span {
  padding: 0;
  background: transparent;
}

.catalog-product-view .form-list .input-box, .review-product-list .form-list .input-box {
  width: 100%;
}

.rating_wrap label {
  float: left;
  width: 100px;
}
.rating_wrap table#product-review-table {
  margin: 3px 0 10px;
}
.rating_wrap .input-box {
  float: left;
  clear: none !important;
  width: 60% !important;
}
.rating_wrap .radio_checked {
  clear: both;
  min-height: 13px;
  margin: 3px 0 0;
  padding-left: 17px;
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  background: url(../images/validation_advice_bg.gif) 2px 0 no-repeat;
  color: #eb340a;
}

.captcha_li {
  position: relative;
}
.captcha_li .captcha_small {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}
.captcha_li .captcha_small a {
  font-weight: bold;
}
.captcha_li img#captchaimg {
  border: 1px solid #aaa;
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
}

#cap_box {
  width: 100%;
  float: right;
  padding-left: 105px;
  box-sizing: border-box;
}
#cap_box .input-text {
  margin: 0;
}

.catalog-product-view .form-list textarea, .review-product-list .form-list textarea, .catalog-product-view .form-list input.input-text, .review-product-list .form-list input.input-text {
  font-size: 14px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  height: 35px;
  box-sizing: border-box;
}

.catalog-product-view .form-list textarea, .review-product-list .form-list textarea {
  height: 131px;
}

.catalog-product-view .col1-layout .product-view .product-shop, .catalog-product-view .col1-layout .product-view .product-shop, .review-product-list .col1-layout .product-view .product-shop, .review-product-list .col1-layout .product-view .product-shop {
  width: 60%;
}

.product-view .product-img-box {
  width: 35%;
}
.product-view .product-shop .product-name {
  margin-bottom: 0;
}
.product-view .product-shop .product-name h1 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  font-weight: normal;
  color: #506f00;
  font-family: Open Sans, sans-serif;
  line-height: 24px;
}
.product-view .product-shop .s_desc_share_wrap {
  padding-top: 5px;
  overflow: hidden;
  border-bottom: 1px solid #c9c9c9;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
.product-view .product-shop .short-description {
  font-size: 14px;
  position: relative;
}
.product-view .product-shop .short-description .std {
  margin-bottom: 13px;
}
.product-view .product-shop .short-description .read_more {
  position: absolute;
  bottom: -30px;
  left: 0;
}
.product-view .product-shop .short-description .read_more b {
  font-size: 14px;
  font-weight: 600;
}
.product-view .product-shop .ratings {
  margin: 0;
}
.product-view .product-shop .ratings .rating-box {
  margin-top: 2px;
}
.product-view .product-shop .ratings .rating-links a {
  font-size: 14px;
  color: #333333;
  font-weight: normal;
}
.product-view .product-shop .ratings .rating-links a.review-scroll, .product-view .product-shop .ratings .rating-links a.add_your_review {
  background: #9fb701;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  padding: 8px 16px 8px 16px;
  border-radius: 30px;
  margin-top: 12px;
  display: inline-block;
  font-family: Open Sans, sans-serif;
  height: auto;
  font-weight: normal;
  background-size: 600px;
}
.product-view .product-shop .ratings .rating-links .separator {
  font-size: 0;
  clear: both;
  display: block;
}

.catalog-product-view .pr-social-icons-wrapper .pr-name-social-icons {
  width: 100%;
  margin: 0;
  padding: 0;
}

.share.bordercolor {
  vertical-align: top;
  margin-top: 7px;
  float: right;
}

.catalog-product-view .product_extra_links, .review-product-list .product_extra_links {
  width: auto;
  margin: 0;
  clear: none;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  float: right;
}

#product-review-table input[type=radio].css-checkbox + label.css-label {
  height: 18px;
  padding-left: 20px;
}

.catalog-product-view .pr-add-to-compare a.link-compare, .review-product-list .pr-add-to-compare a.link-compare, .catalog-product-view .pr-email-friend a.link-email-friend, .review-product-list .pr-email-friend a.link-email-friend {
  background: url(../images/sprite.png) -233px -90px no-repeat #9fb701;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  padding: 8px 24px 8px 51px;
  border-radius: 30px;
  display: block;
  font-family: Open Sans, sans-serif;
  height: auto;
  font-weight: normal;
  background-size: 600px;
}

.catalog-product-view .pr-email-friend a.link-email-friend, .review-product-list .pr-email-friend a.link-email-friend {
  background: url(../images/sprite.png) -226px -411.5px no-repeat #9fb701;
  padding: 8px 24px 8px 48px;
}

.catalog-product-view .pr-links-right div, .review-product-list .pr-links-right div {
  display: inline-block;
  padding: 0 0 0 15px;
}

.catalog-product-view .pr-links-right, .review-product-list .pr-links-right {
  margin: 0;
  padding-top: 30px;
}

.product-details-table {
  margin-top: 27px;
}

.catalog-product-view .product-details-table table.new_product_list, .review-product-list .product-details-table table.new_product_list {
  width: 100%;
  margin-bottom: 0;
  border: 1px solid #cccaca;
  border-top: 0;
}

.catalog-product-view .product-details-table table.new_product_list th, .review-product-list .product-details-table table.new_product_list th {
  background-color: #506f00;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  padding: 4px 5px 4px 12px;
  font-family: Open Sans, sans-serif;
  vertical-align: middle;
}

.catalog-product-view .product-details-table table.new_product_list th strong, .review-product-list .product-details-table table.new_product_list th strong {
  font-weight: 600;
  display: block;
  padding-left: 5px;
}

.catalog-product-view .product-details-table table.new_product_list td, .review-product-list .product-details-table table.new_product_list td {
  padding: 15px 5px 15px 12px;
  font-size: 14px;
  text-align: left;
  vertical-align: middle;
}

.catalog-product-view .new_product_list select {
  background: #ffffff;
  border: 1px solid #d4d4d4;
  padding: 7px 9px 7px 10px;
  box-sizing: border-box;
  border-radius: 30px;
  width: 70px;
  color: #000;
}

.catalog-product-view table.new_product_list a.related-buy-now, .review-product-list table.new_product_list a.related-buy-now {
  vertical-align: middle;
}

.catalog-product-view table.new_product_list a.refill_reminder_open, .review-product-list table.new_product_list a.refill_reminder_open {
  text-decoration: none;
  color: #9d9999;
  font-size: 17px;
  background: url(../images/sprite.png) -10px -106px no-repeat;
  padding-left: 26px;
  transition: none;
  padding: 3px 5px 5px 5px;
  width: 20px;
  display: block;
  height: 22px;
}

.catalog-product-view table.new_product_list a.refill_reminder_open:hover, .review-product-list table.new_product_list a.refill_reminder_open:hover {
  background: url(../images/sprite.png) -11px -146px no-repeat;
}

span.recomend-text {
  font-size: 0;
  display: inline-block;
  background: url(../images/highly-recom.png) no-repeat;
  width: 43px;
  height: 43px;
  background-size: 43px 41px;
  position: relative;
  top: 0;
  left: 5px;
  vertical-align: middle;
}

.catalog-product-view table.new_product_list a.related-buy-now, .review-product-list table.new_product_list a.related-buy-now {
  background: url(../images/custom/cart_prod.png) center no-repeat #fff;
  border: 0;
}

.catalog-product-view table.new_product_list a.related-buy-now:hover, .review-product-list table.new_product_list a.related-buy-now:hover {
  background: url(../images/custom/cart_prod.png) center no-repeat #fff;
  border: 0;
}

.catalog-product-view .product-details-table table.new_product_list, .review-product-list .product-details-table table.new_product_list {
  background: #fff;
}

.product-image {
  background: #fff;
}

.product-collateral-inner {
  max-width: 1200px;
  margin: 0 auto;
}

.catalog-product-view .easytabs-wrapper {
  width: 100%;
}

.easytabs-wrapper {
  margin: 30px 0 35px;
}

.product-view .box-tags .product-tags {
  margin-top: 20px;
}

.product-view .box-tags .product-tags li {
  padding: 0;
  display: inline-block !important;
  margin-right: 11px;
}

.catalog-product-view #messages_product_view {
  max-width: 1200px;
  margin: 0 auto;
}
.catalog-product-view .product-tags {
  margin-top: 20px;
}
.catalog-product-view .product-tags li {
  display: inline-block !important;
  margin-right: 11px;
}
.catalog-product-view .product-tags li a {
  border: 1px solid #d1d1d1;
  border-radius: 25px;
  padding: 7px 18px;
  color: #333;
}
.catalog-product-view .easytabs {
  border-spacing: 0;
}
.catalog-product-view .easytabs li {
  background: #818181;
  border: 0;
  box-shadow: none;
  float: left;
  border-right: 1px solid #fff;
  box-sizing: border-box;
  width: 33.33%;
}
.catalog-product-view .easytabs li:hover {
  background: #506f00;
}
.catalog-product-view .easytabs li.active {
  background: #506f00;
  border-width: 0;
  box-shadow: none;
  text-shadow: none;
  border-right: 1px solid #fff;
}
.catalog-product-view .easytabs li a {
  padding: 8px 12px;
}
.catalog-product-view .easytabs-content-wrapper {
  line-height: 20px;
  color: #333;
}
.catalog-product-view .easytabs-content-wrapper h3 strong {
  font-size: 16px !important;
  font-family: Open Sans, sans-serif;
  font-weight: bold;
}
.catalog-product-view .easytabs-content {
  color: #333;
  box-sizing: border-box;
}
.catalog-product-view .easytabs-content .scroll_div_content {
  overflow-x: hidden;
  max-height: 320px;
}
.catalog-product-view .easytabs-content .mCSB_inside > .mCSB_container {
  margin-right: 20px;
}
.catalog-product-view .mCSB_scrollTools .mCSB_draggerContainer {
  right: 2px;
}
.catalog-product-view .product-collateral {
  padding-top: 50px;
}
.catalog-product-view .product-collateral #product_tabs_tags_tabbed_contents .input-box {
  width: 48%;
}
.catalog-product-view .product-collateral #product_tabs_tags_tabbed_contents .input-box input {
  height: 35px;
  line-height: 35px;
  box-sizing: border-box;
  border-radius: 5px;
  border-color: #aaaaaa;
}
.catalog-product-view .product-collateral #product_tabs_tags_tabbed_contents button {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  padding: 8px 24px 8px 24px;
  float: left;
  border-radius: 30px;
  display: block;
  font-family: Open Sans, sans-serif;
  height: auto;
  font-weight: normal;
  background: #9fb701;
}
.catalog-product-view .product-collateral #product_tabs_tags_tabbed_contents button span {
  padding: 0;
  background: transparent;
}
.catalog-product-view .product-view .box-tags .form-add .input-box {
  background: none;
  padding: 0;
}
.catalog-product-view .box-collateral.box-additional .data-table {
  margin: 0;
  border: 0;
}

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: #b7b7b7;
}

.mCSB_scrollTools .mCSB_draggerRail {
  background: #dcdcdc;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #b7b7b7;
}

.catalog-product-view .easytabs-content {
  box-sizing: border-box;
}

.catalog-product-view .padder.easytabs-content-wrapper {
  border: 0;
}
.catalog-product-view .padder.easytabs-content-wrapper .form-add {
  padding: 0;
}

.catalog-product-view .product-view .box-tags .form-add label {
  font-size: 16px !important;
  margin-bottom: 8px;
}

.catalog-product-view .product-collateral #product_tabs_tags_tabbed_contents .input-box input {
  border: 1px solid #d4d4d4;
}

.catalog-product-view .easytabs-content {
  text-align: left;
}

.catalog-product-view .product-view .box-tags .note {
  margin: 10px 0 0;
  padding: 0;
}

.catalog-product-view .product-collateral .form-add h2, .catalog-product-view .product-collateral .trustedcompany-widget h2, .review-product-list .product-collateral .form-add h2, .review-product-list .product-collateral .trustedcompany-widget h2 {
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  border-bottom: 0;
  padding: 9px 14px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
  background: #506f00;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
.catalog-product-view #customer-reviews, .review-product-list #customer-reviews {
  margin-top: 50px;
}
.catalog-product-view #customer-reviews .review-cover:nth-child(odd), .review-product-list #customer-reviews .review-cover:nth-child(odd) {
  background-color: transparent;
}
.catalog-product-view #customer-reviews .review-cover, .review-product-list #customer-reviews .review-cover {
  border-bottom: 1px solid #c9c9c9;
}
.catalog-product-view #customer-reviews .pager, .review-product-list #customer-reviews .pager {
  border: 0;
  padding: 20px 0;
  color: #202020;
  font-size: 14px;
  text-align: center;
}
.catalog-product-view #customer-reviews .pager .amount, .review-product-list #customer-reviews .pager .amount {
  display: inline-block;
  float: none;
  line-height: 40px;
}
.catalog-product-view #customer-reviews .pager .pages, .review-product-list #customer-reviews .pager .pages {
  margin: 0;
  float: left;
  line-height: 40px;
  font-weight: bold;
}
.catalog-product-view #customer-reviews .pager .pages li.current, .review-product-list #customer-reviews .pager .pages li.current {
  color: #506f00;
}
.catalog-product-view #customer-reviews .pager select, .review-product-list #customer-reviews .pager select {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  background: #fff;
  border: 1px solid #d3d3d3;
  margin-left: 5px;
}
.catalog-product-view #customer-reviews .review_right_block, .review-product-list #customer-reviews .review_right_block {
  font-size: 14px;
}
.catalog-product-view #customer-reviews .review_right_block a, .review-product-list #customer-reviews .review_right_block a {
  color: #506f00;
  font-weight: 600;
  font-size: 14px;
}
.catalog-product-view #customer-reviews .review_right_block .review_title, .review-product-list #customer-reviews .review_right_block .review_title {
  margin-bottom: 5px;
}
.catalog-product-view #customer-reviews small.date, .review-product-list #customer-reviews small.date {
  margin: 14px 0 0px 0;
  color: #666666;
  font-weight: normal;
  font-size: 14px;
  text-align: right;
}
.catalog-product-view #customer-reviews .review_left_block, .review-product-list #customer-reviews .review_left_block {
  font-size: 14px;
  color: #333333;
  padding-right: 21px;
  box-sizing: border-box;
}
.catalog-product-view #customer-reviews .review_left_block .review_star, .review-product-list #customer-reviews .review_left_block .review_star {
  margin-top: 11px;
}
.catalog-product-view #customer-reviews .rating-box, .review-product-list #customer-reviews .rating-box {
  width: 89px;
  height: 18px;
  font-size: 0;
  line-height: 0;
  background: url(../images/blank_star.png) 0 0 repeat-x;
}
.catalog-product-view #customer-reviews .rating-box .rating, .review-product-list #customer-reviews .rating-box .rating {
  height: 18px;
  background: url(../images/yellow_star.png) 0 100% repeat-x;
}
.catalog-product-view #customer-reviews h2, .review-product-list #customer-reviews h2 {
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  border-bottom: 0;
  padding: 9px 14px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
  background: #506f00;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.catalog-product-view .customer_rating, .review-product-list .customer_rating {
  width: 100%;
}
.catalog-product-view .customer_rating.review_graph .rating_box, .review-product-list .customer_rating.review_graph .rating_box {
  max-width: 744px;
  width: 62%;
  margin: 20px auto;
}
.catalog-product-view #review-form, .review-product-list #review-form {
  padding: 15px;
}

.trustedcompany-widget {
  clear: both;
}
.trustedcompany-widget .tc-widget-width {
  box-sizing: border-box;
}
.trustedcompany-widget .tc-widget-horizontal-content {
  background: #f4f4f4;
  display: table !important;
}
.trustedcompany-widget .tc-widget-horizontal-content .tc-widget-horizontal-main {
  padding: 0 !important;
  width: 23%;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background: #e9e7e7;
  margin: 0;
  padding: 0 10px !important;
  position: relative;
  text-align: center !important;
}
.trustedcompany-widget .tc-widget-horizontal-content .tc-widget-horizontal-main:after {
  content: "";
  width: 0;
  height: 0;
  display: inline-block;
  background: transparent;
  position: absolute;
  transform: rotate(45deg);
  right: -8px;
  top: 50%;
  border: 0 solid transparent;
  border-top: 20px solid #e9e7e7;
  border-right: 20px solid #e9e7e7;
  margin-top: -10px;
}
.trustedcompany-widget .tc-widget-horizontal-content #tc-carousel-review-86430 {
  width: 70%;
  display: table-cell;
  vertical-align: middle;
}
.trustedcompany-widget .tc-widget-horizontal-content .tc-background-color {
  background: transparent !important;
}

.tc-widget-horizontal .tc-widget-horizontal-content .tc-widget-horizontal-item {
  height: auto !important;
  min-height: 180px;
}

.a.tc-carousel-control svg {
  display: none !important;
}
.a.tc-carousel-control.tc-left {
  background: url(../images/custom_left_bx.png) center no-repeat;
  width: 23px;
  height: 23px;
}

.basic_button {
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  line-height: 28px;
  font-size: 1.083rem;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 0 15px;
  letter-spacing: 0.4px;
}

/*# sourceMappingURL=product_page.css.map */
