/* Global and reqiured variables defined in _var.scss partial file */
/* default value for box-shadow mixin. refer _mixin fie */
/* default value for text-shadow mixin. refer _mixin fie */
/* default value for transform mixin. refer _mixin fie */
/* default value for transform mixin refer _mixin fie */
/* default value for element in fontimport mixin. refer _mixin fie */
.button_style {
  border-radius: 4px;
  line-height: 2.5rem;
  padding: 0 1rem;
  text-transform: uppercase;
  min-width: 135px;
}

.box_sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/*mixin for transition, variables inside paranthesis are not defined. so they are mandatory*/
/*mixin for border-radius, variables inside paranthesis are not defined. so they are mandatory*/
/*mixin for box-shadow, variables inside paranthesis are defined. variable is defined in _var.scss */
/*mixin for text-shadow, variables inside paranthesis are defined. variable is defined in _var.scss */
/*mixin for transform, variables inside paranthesis are defined as null. specific properties can be changed and used. variable is defined in _var.scss */
/*mixin for button-skewed, variables inside paranthesis are not defined. so they are mandatory*/
/*mixin for button_skewed_oneside, variables inside paranthesis are not defined. so they are mandatory*/
/*mixin for triangle, variables inside paranthesis are not defined. so they are mandatory*/
/*mixin for gradient, variables inside paranthesis are defined. variables are defined in _var.scss*/
/*mixin for media query, variables inside paranthesis are not defined.  so they are mandatory*/
/*mixin for trapezoid, variables inside paranthesis are not defined.  so they are mandatory*/
body {
  color: #333;
}

button.button:hover > span {
  border: 0 !important;
}

.breadcrumbs {
  font-family: Open Sans, sans-serif;
  max-width: 1200px;
  margin: 0 auto 18px;
  width: 97%;
}
.breadcrumbs * {
  font-family: Open Sans, sans-serif;
}
.breadcrumbs li a {
  color: #202020;
}
.breadcrumbs li a:visited {
  color: #202020;
}
.breadcrumbs li strong {
  color: #506f00;
  font-weight: normal;
}

.catalog-product-view .main-container, .review-product-list .main-container {
  padding-top: 18px;
  background: #f4f4f4;
  margin-top: 0;
}
.catalog-product-view .main-container .main, .catalog-product-view .main-container .product-essential, .review-product-list .main-container .main, .review-product-list .main-container .product-essential {
  background: transparent;
}
.catalog-product-view .main-container .main, .review-product-list .main-container .main {
  max-width: 100%;
}
.catalog-product-view .main-container .product-shop .short-description, .review-product-list .main-container .product-shop .short-description {
  background: transparent;
}
.catalog-product-view .footer-container, .review-product-list .footer-container {
  margin-top: 0;
}

.catalog-product-view .product-view {
  font-family: 14px;
}
.catalog-product-view .product-view .product-essential {
  max-width: 1200px;
  margin: 0 auto;
  width: 97%;
  padding-bottom: 50px;
}
.catalog-product-view .product-view * {
  font-family: Open Sans, sans-serif;
}
.catalog-product-view .col-main {
  padding: 0;
}
.catalog-product-view .std p {
  display: inline-block;
  width: 100%;
}
.catalog-product-view .std p span {
  font-size: 14px !important;
  line-height: 22px;
}
.catalog-product-view .std b {
  font-weight: normal;
  font-size: 14px;
  color: #506f00;
  text-decoration: underline;
}
.catalog-product-view #review-form-div #review-form {
  width: auto;
  display: block;
  padding: 0;
}
.catalog-product-view #review-form-div #review-form .p_name {
  font-size: 14px;
  background: #fff;
  border-radius: 5px;
  padding: 6px 8px;
  font-weight: normal;
  border: 1px solid #aaaaaa;
  height: 35px;
  box-sizing: border-box;
}
.catalog-product-view #review-form-div ul {
  width: 46.5%;
  float: left;
}
.catalog-product-view #review-form-div ul.field_2 {
  float: right;
}
.catalog-product-view #review-form-div ul li {
  margin-bottom: 20px;
}
.catalog-product-view #review-form-div .button {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  padding: 8px 24px 8px 24px;
  float: left;
  border-radius: 30px;
  display: block;
  font-family: Open Sans, sans-serif;
  height: auto;
  font-weight: normal;
  margin: 0 !important;
  float: right !important;
  background: #9fb701;
}
.catalog-product-view #review-form-div .button span {
  padding: 0;
  background: transparent;
}
.catalog-product-view div.notify-me-boxwrapper .notify-close-btn {
  display: none !important;
}
.catalog-product-view div.notify-me-boxwrapper .out_of_stock_head {
  font-size: 35px;
  color: #506f00;
  margin-bottom: 10px;
  line-height: 50px;
  text-align: left;
}
.catalog-product-view div.notify-me-boxwrapper .notify-input-box input {
  box-shadow: none !important;
}
.catalog-product-view div.notify-me-boxwrapper .notify-input-box {
  width: 100%;
}
.catalog-product-view div.notify-me-boxwrapper .notify-input-box .input-text {
  width: 100%;
}
.catalog-product-view div.notify-me-boxwrapper {
  float: right;
  border-top: 1px solid #c9c9c9;
  width: 60%;
  padding: 17px 0;
}
.catalog-product-view div.notify-me-boxwrapper #notify_me_form {
  width: 100%;
  display: block;
}
.catalog-product-view div.notify-me-boxwrapper button.notify-me {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  padding: 8px 30px 8px 30px;
  border-radius: 30px;
  float: right;
  display: block;
  font-family: Open Sans, sans-serif;
  height: auto;
  font-weight: normal;
  background: #9fb701;
}
.catalog-product-view div.notify-me-boxwrapper button.notify-me:hover {
  background: #9fb701;
}
.catalog-product-view div.notify-me-boxwrapper #notify_email {
  font-size: 14px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  height: 35px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.catalog-product-view div.notify-me-boxwrapper h1 {
  text-align: left;
  color: #333;
  border: 0;
  padding-bottom: 6px;
  font-size: 14px;
}
.catalog-product-view div.notify-me-boxwrapper h1 span {
  width: 100%;
  text-align: left;
  display: block;
}

.catalog-product-view .form-list .input-box, .review-product-list .form-list .input-box {
  width: 100%;
}

.rating_wrap label {
  float: left;
  width: 100px;
}
.rating_wrap table#product-review-table {
  margin: 3px 0 10px;
}
.rating_wrap .input-box {
  float: left;
  clear: none !important;
  width: 60% !important;
}
.rating_wrap .radio_checked {
  clear: both;
  min-height: 13px;
  margin: 3px 0 0;
  padding-left: 17px;
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  background: url(../images/validation_advice_bg.gif) 2px 0 no-repeat;
  color: #eb340a;
}

.captcha_li {
  position: relative;
}
.captcha_li .captcha_small {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}
.captcha_li .captcha_small a {
  font-weight: bold;
}
.captcha_li img#captchaimg {
  border: 1px solid #aaa;
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
}

#cap_box {
  width: 100%;
  float: right;
  padding-left: 105px;
  box-sizing: border-box;
}
#cap_box .input-text {
  margin: 0;
}

.catalog-product-view .form-list textarea, .review-product-list .form-list textarea, .catalog-product-view .form-list input.input-text, .review-product-list .form-list input.input-text {
  font-size: 14px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  height: 35px;
  box-sizing: border-box;
}

.catalog-product-view .form-list textarea, .review-product-list .form-list textarea {
  height: 131px;
}

.catalog-product-view .col1-layout .product-view .product-shop, .catalog-product-view .col1-layout .product-view .product-shop, .review-product-list .col1-layout .product-view .product-shop, .review-product-list .col1-layout .product-view .product-shop {
  width: 60%;
}

.product-view .product-img-box {
  width: 35%;
}
.product-view .product-shop .product-name {
  margin-bottom: 0;
}
.product-view .product-shop .product-name h1 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  font-weight: normal;
  color: #506f00;
  padding-right: 0;
  font-family: Open Sans, sans-serif;
  line-height: 24px;
}
.product-view .product-shop .s_desc_share_wrap {
  padding-top: 5px;
  overflow: hidden;
  border-bottom: 1px solid #c9c9c9;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
.product-view .product-shop .short-description {
  font-size: 14px;
  position: relative;
}
.product-view .product-shop .short-description .std {
  margin-bottom: 13px;
}
.product-view .product-shop .read_more {
  cursor: pointer;
  display: inline-block;
  margin-top: 7px;
}
.product-view .product-shop .read_more b {
  font-size: 14px;
  font-weight: 600;
  color: #506f00;
  text-decoration: underline;
}
.product-view .product-shop .ratings {
  margin: 0;
}
.product-view .product-shop .ratings .rating-box {
  margin-top: 0;
}
.product-view .product-shop .ratings .rating-box {
  width: 89px;
  height: 18px;
  font-size: 0;
  line-height: 0;
  background: url(../images/blank_star.png) 0 0 repeat-x;
}
.product-view .product-shop .ratings .rating-box .rating {
  height: 18px;
  background: url(../images/yellow_star.png) 0 100% repeat-x;
}
.product-view .product-shop .ratings .rating-links a {
  font-size: 14px;
  color: #333333;
  font-weight: normal;
}
.product-view .product-shop .ratings .rating-links a.review-scroll, .product-view .product-shop .ratings .rating-links a.add_your_review {
  background: #9fb701;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  padding: 8px 16px 8px 16px;
  border-radius: 30px;
  margin-top: 12px;
  display: inline-block;
  font-family: Open Sans, sans-serif;
  height: auto;
  font-weight: normal;
  background-size: 600px;
}
.product-view .product-shop .ratings .rating-links .separator {
  font-size: 0;
  clear: both;
  display: block;
}

.catalog-product-view .pr-social-icons-wrapper .pr-name-social-icons {
  width: 100%;
  margin: 0;
  padding: 0;
}

.share.bordercolor {
  vertical-align: top;
  margin-top: 7px;
  float: right;
}

.catalog-product-view .product_extra_links, .review-product-list .product_extra_links {
  width: auto;
  margin: 0;
  clear: none;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  float: right;
}

#product-review-table input[type=radio].css-checkbox + label.css-label {
  height: 18px;
  padding-left: 20px;
}

.catalog-product-view .pr-add-to-compare a.link-compare, .review-product-list .pr-add-to-compare a.link-compare, .catalog-product-view .pr-email-friend a.link-email-friend, .review-product-list .pr-email-friend a.link-email-friend {
  background: url(../images/sprite.png) -233px -90px no-repeat #9fb701;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  padding: 8px 24px 8px 51px;
  border-radius: 30px;
  display: block;
  font-family: Open Sans, sans-serif;
  height: auto;
  font-weight: normal;
  background-size: 600px;
}

.catalog-product-view .pr-email-friend a.link-email-friend, .review-product-list .pr-email-friend a.link-email-friend {
  background: url(../images/sprite.png) -226px -411.5px no-repeat #9fb701;
  padding: 8px 24px 8px 48px;
}

.catalog-product-view .pr-links-right div, .review-product-list .pr-links-right div {
  display: inline-block;
  padding: 0 0 0 15px;
}

.catalog-product-view .pr-links-right, .review-product-list .pr-links-right {
  margin: 0;
  padding-top: 30px;
}

.product-view .product-shop p.no-rating a {
  color: #506f00;
  text-decoration: underline;
}

.catalog-product-view .pr-links-right.first-review, .review-product-list .pr-links-right.first-review {
  padding-top: 4px;
}

.product-details-table {
  margin-top: 27px;
  width: 100%;
  display: inline-block;
}

.catalog-product-view .product-details-table table.new_product_list, .review-product-list .product-details-table table.new_product_list {
  width: 100%;
  margin-bottom: 0;
  border: 1px solid #cccaca;
  border-top: 0;
}

.catalog-product-view .product-details-table table.new_product_list th, .review-product-list .product-details-table table.new_product_list th {
  background-color: #506f00;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  padding: 4px 5px 4px 12px;
  font-family: Open Sans, sans-serif;
  vertical-align: middle;
}

.catalog-product-view .product-details-table table.new_product_list th strong, .review-product-list .product-details-table table.new_product_list th strong {
  font-weight: 600;
  display: block;
  padding-left: 5px;
}

.catalog-product-view .product-details-table table.new_product_list td, .review-product-list .product-details-table table.new_product_list td {
  padding: 15px 5px 15px 12px;
  font-size: 14px;
  text-align: left;
  vertical-align: middle;
}

.catalog-product-view .product-details-table table.new_product_list td.price_value span, .review-product-list .product-details-table table.new_product_list td.price_value span {
  display: inline-block;
}

.catalog-product-view .new_product_list select {
  background: #ffffff;
  border: 1px solid #d4d4d4;
  padding: 7px 9px 7px 10px;
  box-sizing: border-box;
  border-radius: 30px;
  width: 70px;
  color: #000;
}

.catalog-product-view .new_product_list td .select_wrap {
  display: inline-block;
  position: relative;
  border-radius: 30px;
  border: 1px solid #d4d4d4;
  overflow: hidden;
}
.catalog-product-view .new_product_list td .select_wrap select {
  border: 0;
  padding-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}
.catalog-product-view .new_product_list td .select_wrap:after {
  position: absolute;
  content: "";
  float: right;
  border: 4px solid transparent;
  border-top: 5px solid #000;
  right: 6px;
  top: 50%;
  margin-top: -4px;
}

.catalog-product-view table.new_product_list a.related-buy-now, .review-product-list table.new_product_list a.related-buy-now {
  vertical-align: middle;
}

.catalog-product-view table.new_product_list a.refill_reminder_open, .review-product-list table.new_product_list a.refill_reminder_open {
  text-decoration: none;
  color: #9d9999;
  font-size: 17px;
  background: url(../images/sprite.png) -10px -106px no-repeat;
  padding-left: 26px;
  transition: none;
  padding: 3px 5px 5px 5px;
  width: 20px;
  display: block;
  height: 22px;
}

.catalog-product-view table.new_product_list a.refill_reminder_open:hover, .review-product-list table.new_product_list a.refill_reminder_open:hover {
  background: url(../images/sprite.png) -11px -146px no-repeat;
}

span.recomend-text {
  font-size: 0;
  display: inline-block;
  background: url(../images/highly-recom.png) no-repeat;
  width: 43px;
  height: 43px;
  background-size: 43px 41px;
  position: relative;
  top: 0;
  left: 5px;
  vertical-align: middle;
}

span.product_free_gift {
  font-size: 0;
  display: inline-block;
  background: url(../images/free_gift.jpg) no-repeat;
  width: 43px;
  height: 43px;
  background-size: 43px 41px;
  position: relative;
  top: 0;
  left: 5px;
  vertical-align: middle;
}

.catalog-product-view table.new_product_list a.related-buy-now, .review-product-list table.new_product_list a.related-buy-now {
  background: url(../images/custom/cart_prod.png) center no-repeat #fff;
  border: 0;
}

.catalog-product-view table.new_product_list a.related-buy-now:hover, .review-product-list table.new_product_list a.related-buy-now:hover {
  background: url(../images/custom/cart_prod.png) center no-repeat #fff;
  border: 0;
}

.catalog-product-view .product-details-table table.new_product_list, .review-product-list .product-details-table table.new_product_list {
  background: #fff;
}

.product-image {
  background: #fff;
}

.product-collateral-inner {
  max-width: 1200px;
  margin: 0 auto;
  width: 97%;
}

.catalog-product-view .easytabs-wrapper {
  width: 100%;
}

.catalog-product-view .product-view .product-img-box .product-image img {
  width: 100%;
}

.easytabs-wrapper {
  margin: 30px 0 35px;
}

.product-view .box-tags .product-tags {
  margin-top: 20px;
}

.product-view .box-tags .product-tags li {
  padding: 0;
  display: inline-block !important;
  margin-right: 11px;
}

.catalog-product-view #messages_product_view {
  max-width: 1200px;
  margin: 0 auto;
}
.catalog-product-view .compare_box_main {
  max-width: 1200px;
  margin: 0 auto 20px;
  width: 97%;
}
.catalog-product-view .compare_box_main li.product_box {
  border-color: #c9c9c9;
}
.catalog-product-view .compare_box_main li.product_box .p-name {
  height: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.catalog-product-view .compare_box_main li.product_box .p-price {
  height: 45px;
}
.catalog-product-view .compare_box_main .compare_btn_box {
  background: #9fb701;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  padding: 8px 24px 8px 24px;
  border-radius: 30px;
  font-family: Open Sans, sans-serif;
  height: auto;
  font-weight: normal;
}
.catalog-product-view .product-tags {
  margin-top: 20px;
}
.catalog-product-view .product-tags li {
  display: inline-block !important;
  margin-right: 11px;
}
.catalog-product-view .product-tags li a {
  border: 1px solid #d1d1d1;
  border-radius: 25px;
  padding: 7px 18px;
  color: #333;
}
.catalog-product-view .easytabs {
  border-spacing: 0;
}
.catalog-product-view .easytabs li {
  background: #818181;
  border: 0;
  box-shadow: none;
  float: left;
  border-right: 1px solid #fff;
  box-sizing: border-box;
  width: 33.33%;
}
.catalog-product-view .easytabs li:hover {
  background: #506f00;
}
.catalog-product-view .easytabs li.active {
  background: #506f00;
  border-width: 0;
  box-shadow: none;
  text-shadow: none;
  border-right: 1px solid #fff;
}
.catalog-product-view .easytabs li a {
  padding: 8px 12px;
}
.catalog-product-view .easytabs-content-wrapper {
  line-height: 20px;
  color: #333;
}
.catalog-product-view .easytabs-content-wrapper h3 strong {
  font-size: 15px !important;
  font-family: Open Sans, sans-serif;
  font-weight: bold;
}
.catalog-product-view .easytabs-content {
  color: #333;
  box-sizing: border-box;
}
.catalog-product-view .easytabs-content .scroll_div_content {
  overflow-x: hidden;
  max-height: 320px;
}
.catalog-product-view .easytabs-content .mCSB_inside > .mCSB_container {
  margin-right: 20px;
}
.catalog-product-view .mCSB_scrollTools .mCSB_draggerContainer {
  right: 2px;
}
.catalog-product-view .product-collateral {
  padding-top: 50px;
}
.catalog-product-view .product-collateral #product_tabs_tags_tabbed_contents .input-box {
  width: 48%;
}
.catalog-product-view .product-collateral #product_tabs_tags_tabbed_contents .input-box input {
  height: 35px;
  line-height: 35px;
  box-sizing: border-box;
  border-radius: 5px;
  border-color: #aaaaaa;
}
.catalog-product-view .product-collateral #product_tabs_tags_tabbed_contents button {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  padding: 8px 24px 8px 24px;
  float: left;
  border-radius: 30px;
  display: block;
  font-family: Open Sans, sans-serif;
  height: auto;
  font-weight: normal;
  background: #9fb701;
  margin-top: 0;
}
.catalog-product-view .product-collateral #product_tabs_tags_tabbed_contents button span {
  padding: 0;
  background: transparent;
}
.catalog-product-view .product-view .box-tags .form-add .input-box {
  background: none;
  padding: 0;
}
.catalog-product-view .box-collateral.box-additional .data-table {
  margin: 0;
  border: 0;
}

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: #506f00;
}

.mCSB_scrollTools .mCSB_draggerRail {
  background: #a0a0a0;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover {
  background: #506f00;
}

.catalog-product-view .easytabs-content {
  box-sizing: border-box;
}

.catalog-product-view .padder.easytabs-content-wrapper {
  border: 0;
}
.catalog-product-view .padder.easytabs-content-wrapper .form-add {
  padding: 0;
}

.catalog-product-view .product-view .box-tags .form-add label {
  font-size: 16px !important;
  margin-bottom: 8px;
}

.catalog-product-view .product-collateral #product_tabs_tags_tabbed_contents .input-box input {
  border: 1px solid #d4d4d4;
}

.catalog-product-view .easytabs-content {
  text-align: left;
}

.catalog-product-view .product-view .box-tags .note {
  margin: 10px 0 0;
  padding: 0;
}

.catalog-product-view .no-rating.add_your_review a, .review-product-list .no-rating.add_your_review a {
  font-size: 14px;
  font-weight: 600;
  color: #506f00;
}
.catalog-product-view .product-collateral .form-add h2, .catalog-product-view .product-collateral .trustedcompany-widget h2, .review-product-list .product-collateral .form-add h2, .review-product-list .product-collateral .trustedcompany-widget h2 {
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  border-bottom: 0;
  padding: 9px 14px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
  background: #506f00;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
.catalog-product-view #customer-reviews, .review-product-list #customer-reviews {
  margin-top: 50px;
}
.catalog-product-view #customer-reviews .review-cover:nth-child(odd), .review-product-list #customer-reviews .review-cover:nth-child(odd) {
  background-color: transparent;
}
.catalog-product-view #customer-reviews .review-cover, .review-product-list #customer-reviews .review-cover {
  border-bottom: 1px solid #c9c9c9;
}
.catalog-product-view #customer-reviews .pager, .review-product-list #customer-reviews .pager {
  border: 0;
  padding: 20px 0;
  color: #202020;
  font-size: 14px;
  text-align: center;
}
.catalog-product-view #customer-reviews .pager .amount, .review-product-list #customer-reviews .pager .amount {
  display: inline-block;
  float: none;
  line-height: 40px;
}
.catalog-product-view #customer-reviews .pager .pages, .review-product-list #customer-reviews .pager .pages {
  margin: 0;
  float: left;
  line-height: 40px;
  font-weight: bold;
}
.catalog-product-view #customer-reviews .pager .pages li.current, .review-product-list #customer-reviews .pager .pages li.current {
  color: #506f00;
}
.catalog-product-view #customer-reviews .pager select, .review-product-list #customer-reviews .pager select {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  background: #fff;
  border: 1px solid #d3d3d3;
  margin-left: 5px;
}
.catalog-product-view #customer-reviews .review_right_block, .review-product-list #customer-reviews .review_right_block {
  font-size: 14px;
}
.catalog-product-view #customer-reviews .review_right_block a, .review-product-list #customer-reviews .review_right_block a {
  color: #506f00;
  font-weight: 600;
  font-size: 14px;
}
.catalog-product-view #customer-reviews .review_right_block .review_title, .review-product-list #customer-reviews .review_right_block .review_title {
  margin-bottom: 5px;
}
.catalog-product-view #customer-reviews small.date, .review-product-list #customer-reviews small.date {
  margin: 14px 0 0px 0;
  color: #666666;
  font-weight: normal;
  font-size: 14px;
  text-align: right;
}
.catalog-product-view #customer-reviews .review_left_block, .review-product-list #customer-reviews .review_left_block {
  font-size: 14px;
  color: #333333;
  padding-right: 21px;
  box-sizing: border-box;
}
.catalog-product-view #customer-reviews .review_left_block .review_star, .review-product-list #customer-reviews .review_left_block .review_star {
  margin-top: 11px;
}
.catalog-product-view #customer-reviews .rating-box, .review-product-list #customer-reviews .rating-box {
  width: 89px;
  height: 18px;
  font-size: 0;
  line-height: 0;
  background: url(../images/blank_star.png) 0 0 repeat-x;
}
.catalog-product-view #customer-reviews .rating-box .rating, .review-product-list #customer-reviews .rating-box .rating {
  height: 18px;
  background: url(../images/yellow_star.png) 0 100% repeat-x;
}
.catalog-product-view #customer-reviews h2, .review-product-list #customer-reviews h2 {
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  border-bottom: 0;
  padding: 9px 14px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
  background: #506f00;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
.catalog-product-view .frequently_bought_wrap, .review-product-list .frequently_bought_wrap {
  margin-bottom: 50px;
  clear: both;
}
.catalog-product-view .frequently_bought_wrap h2.page_head, .review-product-list .frequently_bought_wrap h2.page_head {
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  border-bottom: 0;
  padding: 9px 14px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
  background: #506f00;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
.catalog-product-view .frequently_bought_wrap .add_your_review, .review-product-list .frequently_bought_wrap .add_your_review {
  padding: 5px 15px;
  color: #fff;
  display: inline-block;
  background: #9fb701;
  border-radius: 30px;
}
.catalog-product-view .frequently_bought_wrap .add_your_review_wrap, .review-product-list .frequently_bought_wrap .add_your_review_wrap {
  margin: 8px 0 10px 0;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper, .review-product-list .frequently_bought_wrap .slider_wraper {
  padding: 30px 20px 0;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .slick-slide, .review-product-list .frequently_bought_wrap .slider_wraper .slick-slide {
  padding: 0;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .slick-prev:before, .catalog-product-view .frequently_bought_wrap .slider_wraper .slick-next:before, .review-product-list .frequently_bought_wrap .slider_wraper .slick-prev:before, .review-product-list .frequently_bought_wrap .slider_wraper .slick-next:before {
  display: none;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .slick-prev, .review-product-list .frequently_bought_wrap .slider_wraper .slick-prev {
  background: url(../images/left_arrow.png) center center no-repeat;
  height: 25px;
  left: 0;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .slick-next, .review-product-list .frequently_bought_wrap .slider_wraper .slick-next {
  background: url(../images/right_arrow.png) center center no-repeat;
  height: 25px;
  right: 0;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .item, .review-product-list .frequently_bought_wrap .slider_wraper .item {
  position: relative;
  border: 1px solid #d3d3d3;
  margin: 0 10px;
  overflow: hidden;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .item .product-image, .review-product-list .frequently_bought_wrap .slider_wraper .item .product-image {
  width: 100%;
  display: inline-block;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .item .product-image img, .review-product-list .frequently_bought_wrap .slider_wraper .item .product-image img {
  width: 100%;
  height: auto;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .item:hover .link-compare, .catalog-product-view .frequently_bought_wrap .slider_wraper .item:hover .btn-cart span, .review-product-list .frequently_bought_wrap .slider_wraper .item:hover .link-compare, .review-product-list .frequently_bought_wrap .slider_wraper .item:hover .btn-cart span {
  color: #506f00;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .item:hover .link-compare:after, .review-product-list .frequently_bought_wrap .slider_wraper .item:hover .link-compare:after {
  background: #506f00;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .amount a, .review-product-list .frequently_bought_wrap .slider_wraper .amount a {
  font-size: 14px;
  color: #818181;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .amount a:hover, .review-product-list .frequently_bought_wrap .slider_wraper .amount a:hover {
  font-weight: normal;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .rating-box, .review-product-list .frequently_bought_wrap .slider_wraper .rating-box {
  margin-top: 0;
  background: url("../images/blank_star.png");
  width: 90px;
  height: 18px;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .rating-box .rating, .review-product-list .frequently_bought_wrap .slider_wraper .rating-box .rating {
  background: url("../images/yellow_star.png");
  height: 18px;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .ratings, .review-product-list .frequently_bought_wrap .slider_wraper .ratings {
  margin: 11px 0;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .link-wishlist, .review-product-list .frequently_bought_wrap .slider_wraper .link-wishlist {
  position: absolute;
  top: 10px;
  font-size: 0;
  width: 21px;
  height: 22px;
  padding: 0;
  right: 10px;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .actions, .review-product-list .frequently_bought_wrap .slider_wraper .actions {
  display: inline-block;
  width: 100%;
  border-top: 1px solid #cccccc;
  float: left;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .link-compare, .review-product-list .frequently_bought_wrap .slider_wraper .link-compare {
  display: block;
  color: #333333;
  font-size: 14px;
  line-height: 17px;
  padding: 24px 0;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .link-compare:after, .review-product-list .frequently_bought_wrap .slider_wraper .link-compare:after {
  content: "+";
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  width: 18px;
  height: 18px;
  background: #818181;
  border-radius: 2px;
  padding: 00;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  margin-left: 8px;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .add-to-links, .catalog-product-view .frequently_bought_wrap .slider_wraper .btn-cart, .review-product-list .frequently_bought_wrap .slider_wraper .add-to-links, .review-product-list .frequently_bought_wrap .slider_wraper .btn-cart {
  text-align: center;
  font-size: 14px;
  float: left;
  margin: 0;
  width: 50%;
  font-weight: bold;
  text-align: center;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .btn-cart, .review-product-list .frequently_bought_wrap .slider_wraper .btn-cart {
  font-weight: bold;
  padding: 24px 0;
  border-left: 1px solid #cccccc;
  box-sizing: border-box;
  background: none;
  border-radius: 0;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .btn-cart span, .review-product-list .frequently_bought_wrap .slider_wraper .btn-cart span {
  color: #333333;
  font-weight: bold;
  padding: 0;
  background: transparent;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .pr-details-height, .review-product-list .frequently_bought_wrap .slider_wraper .pr-details-height {
  font-size: 14px;
  padding: 20px 15px 10px;
  min-height: 231px;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .pr-details-height .product-name, .review-product-list .frequently_bought_wrap .slider_wraper .pr-details-height .product-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  font-size: 14px;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .pr-details-height .product-name a, .review-product-list .frequently_bought_wrap .slider_wraper .pr-details-height .product-name a {
  color: #506f00;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .pr-details-height .generic_for, .catalog-product-view .frequently_bought_wrap .slider_wraper .pr-details-height .generic_name, .review-product-list .frequently_bought_wrap .slider_wraper .pr-details-height .generic_for, .review-product-list .frequently_bought_wrap .slider_wraper .pr-details-height .generic_name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .pr-details-height .manufactured_by, .review-product-list .frequently_bought_wrap .slider_wraper .pr-details-height .manufactured_by {
  height: 42px;
  overflow: hidden;
  margin: 9px 0;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .pr-details-height .custom_price span, .review-product-list .frequently_bought_wrap .slider_wraper .pr-details-height .custom_price span {
  display: inline-block;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .pr-details-height .pack_size, .review-product-list .frequently_bought_wrap .slider_wraper .pr-details-height .pack_size {
  color: #202020;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .pr-details-height .old_price, .review-product-list .frequently_bought_wrap .slider_wraper .pr-details-height .old_price {
  color: #adacac;
  text-decoration: line-through;
}
.catalog-product-view .frequently_bought_wrap .slider_wraper .pr-details-height .special_price, .catalog-product-view .frequently_bought_wrap .slider_wraper .pr-details-height .regular_price, .review-product-list .frequently_bought_wrap .slider_wraper .pr-details-height .special_price, .review-product-list .frequently_bought_wrap .slider_wraper .pr-details-height .regular_price {
  font-weight: bold;
  margin-left: 5px;
  color: #506f00;
}

.catalog-product-view .customer_rating, .review-product-list .customer_rating {
  width: 100%;
}
.catalog-product-view .customer_rating.review_graph .rating_box, .review-product-list .customer_rating.review_graph .rating_box {
  max-width: 744px;
  width: 744px;
  margin: 20px auto;
}
.catalog-product-view .customer_rating.review_graph .rating_box .star_image, .review-product-list .customer_rating.review_graph .rating_box .star_image {
  width: 170px;
}
.catalog-product-view .customer_rating.review_graph .rating_box .average_rating, .review-product-list .customer_rating.review_graph .rating_box .average_rating {
  width: 190px;
}
.catalog-product-view #review-form, .review-product-list #review-form {
  padding: 15px;
}

.trustedcompany-widget {
  clear: both;
}
.trustedcompany-widget .tc-widget-width {
  box-sizing: border-box;
}
.trustedcompany-widget .tc-widget-horizontal-content {
  background: #f4f4f4;
  display: table !important;
}
.trustedcompany-widget .tc-widget-horizontal-content .tc-widget-horizontal-main {
  padding: 0 !important;
  width: 23%;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background: #e9e7e7;
  margin: 0;
  padding: 0 10px !important;
  position: relative;
  text-align: center !important;
}
.trustedcompany-widget .tc-widget-horizontal-content .tc-widget-horizontal-main:after {
  content: "";
  width: 0;
  height: 0;
  display: inline-block;
  background: transparent;
  position: absolute;
  transform: rotate(45deg);
  right: -8px;
  top: 50%;
  border: 0 solid transparent;
  border-top: 20px solid #e9e7e7;
  border-right: 20px solid #e9e7e7;
  margin-top: -10px;
}
.trustedcompany-widget .tc-widget-horizontal-content #tc-carousel-review-86430 {
  width: 70%;
  display: table-cell;
  vertical-align: middle;
}
.trustedcompany-widget .tc-widget-horizontal-content .tc-background-color {
  background: transparent !important;
}

.tc-widget-horizontal .tc-widget-horizontal-content .tc-widget-horizontal-item {
  height: auto !important;
  min-height: 180px;
}

.a.tc-carousel-control svg {
  display: none !important;
}
.a.tc-carousel-control.tc-left {
  background: url(../images/custom_left_bx.png) center no-repeat;
  width: 23px;
  height: 23px;
}

.catalog-product-view .zoom-inner, .review-product-list .zoom-inner {
  height: auto;
  width: 100%;
}

.product-view .product-img-box .more-views li {
  border: 0;
  padding: 0 5px;
  margin: 0;
}

.product-view .product-img-box .more-views li img {
  width: 100%;
  border-width: 0;
}

.product-view .product-img-box .more-views li a {
  width: 100%;
  height: auto;
  background: #fff;
  border: 1px solid #e6e6e6;
}

.product-view .product-img-box .more-views ul {
  margin-left: 0;
  padding: 0 20px;
}

.product-view .product-img-box .more-views li a:hover {
  border: 1px solid #72AE12;
}

.catalog-product-view .rate_me, .review-product-list .rate_me {
  height: auto;
}

.product-view .product-img-box .more-views .slick-prev:before, .product-view .product-img-box .more-views .slick-next:before {
  display: none;
}
.product-view .product-img-box .more-views .slick-prev {
  font-size: 0;
  margin: 0;
  background: url(../images/left_arrow.png) center center no-repeat;
  height: 25px;
  padding: 8px 10px 8px 10px;
  left: 0;
}
.product-view .product-img-box .more-views .slick-next {
  margin: 0;
  padding: 8px 10px 8px 10px;
  font-size: 0;
  background: url(../images/right_arrow.png) center center no-repeat;
  height: 25px;
  right: 0;
}

.catalog-product-view span.pr-rating-points, .review-product-list span.pr-rating-points {
  font-size: 128px;
  line-height: 130px;
}

@media only screen and (max-width: 1135px) {
  .catalog-product-view .main-container, .review-product-list .main-container {
    padding: 0;
    padding-top: 18px;
  }

  .product-view .product-shop p.rating-links a.add_your_review {
    border: 0;
  }
}
@media only screen and (max-width: 1023px) {
  .catalog-product-view .review-count-pr, .review-product-list .review-count-pr {
    width: 100%;
  }

  .catalog-product-view .product_extra_links, .review-product-list .product_extra_links {
    width: 100%;
  }

  .catalog-product-view .pr-links-right, .review-product-list .pr-links-right {
    padding-top: 8px;
  }

  .catalog-product-view .pr-links-right div, .review-product-list .pr-links-right div {
    padding-left: 0;
    padding-right: 21px;
  }

  .product-view .product-shop .ratings .rating-links .separator {
    font-size: 0;
    clear: none;
    display: inline-block;
  }

  .product-view .product-shop .ratings .rating-links a.review-scroll, .product-view .product-shop .ratings .rating-links a.add_your_review {
    margin-top: 0;
    margin-left: 10px;
  }

  .product-view .product-shop .ratings .rating-box {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 980px) {
  .catalog-product-view .col1-layout .product-view .product-shop, .catalog-product-view .col1-layout .product-view .product-shop, .review-product-list .col1-layout .product-view .product-shop, .review-product-list .col1-layout .product-view .product-shop {
    width: 62%;
  }

  .catalog-product-view .rating_box .star_image, .review-product-list .rating_box .star_image {
    width: 170px;
  }

  .catalog-product-view .rating_box .average_rating, .review-product-list .rating_box .average_rating {
    width: 190px;
  }

  .catalog-product-view .rating_box ul.ratingsDistribution, .review-product-list .rating_box ul.ratingsDistribution {
    width: 100%;
  }

  .catalog-product-view .product-details-table table.new_product_list th strong, .review-product-list .product-details-table table.new_product_list th strong {
    max-width: 82px;
    float: left;
    display: inline-block;
  }

  .catalog-product-view table.new_product_list a.refill_reminder_open, .review-product-list table.new_product_list a.refill_reminder_open {
    float: left;
  }

  .catalog-product-view .product-details-table table.new_product_list th.pack_size, .catalog-product-view .product-details-table table.new_product_list th.price_per_pill, .catalog-product-view .product-details-table table.new_product_list th.qty, .review-product-list .product-details-table table.new_product_list th.pack_size, .review-product-list .product-details-table table.new_product_list th.price_per_pill, .review-product-list .product-details-table table.new_product_list th.qty {
    width: 90px !important;
  }
  .catalog-product-view .product-details-table table.new_product_list td.pack_size_value, .catalog-product-view .product-details-table table.new_product_list td.price_value, .catalog-product-view .product-details-table table.new_product_list td.qty_value, .review-product-list .product-details-table table.new_product_list td.pack_size_value, .review-product-list .product-details-table table.new_product_list td.price_value, .review-product-list .product-details-table table.new_product_list td.qty_value {
    width: 90px !important;
  }
  .catalog-product-view .product-details-table table.new_product_list a.related-buy-now, .review-product-list .product-details-table table.new_product_list a.related-buy-now {
    padding: 0 17px;
    width: auto;
  }

  span.recomend-text {
    width: 30px;
    height: 30px;
    background-size: 30px 28px;
  }
}
@media only screen and (max-width: 920px) {
  .catalog-product-view .rating_box .average_rating, .review-product-list .rating_box .average_rating {
    padding-top: 0;
  }
}
@media only screen and (max-width: 840px) {
  .catalog-product-view .col1-layout .product-view .product-shop, .review-product-list .col1-layout .product-view .product-shop {
    padding-top: 0;
    border-top: 0;
    margin-top: 0;
  }

  .catalog-product-view span.pr-rating-points, .review-product-list span.pr-rating-points {
    font-size: 88px;
    line-height: 116px;
  }

  .catalog-product-view .rating_box div.ratingsDistribution, .review-product-list .rating_box div.ratingsDistribution {
    width: 226px;
  }

  .catalog-product-view .customer_rating.review_graph .rating_box, .review-product-list .customer_rating.review_graph .rating_box {
    max-width: 495px;
    width: 495px;
  }

  .product-view .product-shop .s_desc_share_wrap {
    clear: both;
  }

  .catalog-product-view .rating_box .average_rating, .review-product-list .rating_box .average_rating {
    font-size: 15px;
  }

  .ratingsDistribution .rating-bars {
    width: 170px;
  }

  .catalog-product-view .rating_box div.ratingsDistribution, .review-product-list .rating_box div.ratingsDistribution {
    width: 257px;
  }

  	/* .catalog-product-view span.pr-rating-points, .review-product-list span.pr-rating-points {
  	    font-size: 130px;
  	    line-height: 110px;
  	}
   */
  .catalog-product-view .customer_rating.review_graph .rating_box .star_image, .review-product-list .customer_rating.review_graph .rating_box .star_image {
    width: 130px;
    margin-top: 20px;
  }

  /* 	.catalog-product-view .rating_box .star_image img, .review-product-list .rating_box .star_image img {
  	    width: 90%;
  	} */
  .catalog-product-view .customer_rating.review_graph .rating_box .average_rating, .review-product-list .customer_rating.review_graph .rating_box .average_rating {
    width: 130px;
  }

  .catalog-product-view .customer_rating.review_graph .rating_box, .review-product-list .customer_rating.review_graph .rating_box {
    max-width: 545px;
    width: 545px;
  }
}
@media only screen and (max-width: 800px) {
  .review_right_block {
    width: 70%;
  }

  .review_left_block {
    width: 30%;
  }

  .catalog-product-view .frequently_bought_wrap .slider_wraper .item, .review-product-list .frequently_bought_wrap .slider_wraper .item {
    margin: 0 6px;
  }
}
@media only screen and (max-width: 736px) {
  .catalog-product-view .new_product_list select {
    width: 60px;
    padding: 5px 9px 5px 10px;
  }

  .catalog-product-view .product-view .review-count-pr .no-rating {
    margin: 0;
  }

  .catalog-product-view .pr-links-right.first-review, .review-product-list .pr-links-right.first-review {
    padding-top: 20px;
  }

  .catalog-product-view div.notify-me-boxwrapper #notify_email {
    margin-bottom: 0;
  }

  .catalog-product-view div.notify-me-boxwrapper .out_of_stock_head {
    font-size: 25px;
    line-height: 25px;
  }

  div.notify-me-boxwrapper:after {
    display: none;
  }

  .catalog-product-view div.notify-me-boxwrapper {
    width: 100%;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  .product-view .product-shop p.rating-links a.rating_review_count {
    margin-top: 6px;
    display: inline-block;
  }

  .product-view .product-shop .ratings .rating-box {
    margin-top: 5px;
  }

  .catalog-product-view .pr-links-right {
    padding: 20px 0 0;
    border-top: 1px solid #c9c9c9;
    margin-top: 17px;
  }

  .catalog-product-view .main-container, .review-product-list .main-container {
    margin-top: 0 !important;
    padding-top: 0;
  }

  .catalog-product-view .breadcrumbs {
    width: 100%;
    background: #fff;
    padding: 0 3% 10px;
    box-sizing: border-box;
  }

  .catalog-product-view #customer-reviews, .review-product-list #customer-reviews {
    margin-top: 30px;
  }

  .catalog-product-view .product-collateral .form-add h2, .catalog-product-view .product-collateral .trustedcompany-widget h2, .review-product-list .product-collateral .form-add h2, .review-product-list .product-collateral .trustedcompany-widget h2 {
    font-size: 15px;
  }

  .catalog-product-view .easytabs-content .std {
    height: auto;
    overflow: hidden;
  }

  .catalog-product-view .easytabs-a {
    font-size: 15px;
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .catalog-product-view .rate_me li img, .review-product-list .rate_me li img {
    margin-top: 2px;
    width: 13px;
  }

  .catalog-product-view .rate_me li .rating_label, .review-product-list .rate_me li .rating_label {
    font-size: 13px;
    display: block;
    text-align: center;
    margin: 0;
  }

  .catalog-product-view .rate_me li, .review-product-list .rate_me li {
    margin: 0 10px 5px 10px;
  }

  .easytabs-wrapper {
    margin: 30px 0 15px;
  }

  .catalog-product-view .easytabs-content .scroll_div_content {
    max-height: 250px;
  }

  .catalog-product-view .frequently_bought_wrap .slider_wraper .pr-details-height, .review-product-list .frequently_bought_wrap .slider_wraper .pr-details-height {
    width: 100%;
    margin-left: 0;
    box-sizing: border-box;
  }

  .product-view .product-name {
    text-align: left;
  }

  .catalog-product-view .product_star_value span, .review-product-list .product_star_value span {
    display: none;
  }

  .catalog-product-view .frequently_bought_wrap, .review-product-list .frequently_bought_wrap {
    padding: 0 0 30px;
    margin-bottom: 0;
  }

  .product-collateral-inner, .catalog-product-view .col1-layout .product-view .product-shop, .review-product-list .col1-layout .product-view .product-shop {
    width: 100%;
  }

  .catalog-product-view .rate_me li, .review-product-list .rate_me li {
    margin-bottom: 5px;
    text-align: center;
  }

  .trustedcompany-widget .tc-widget-horizontal-content .tc-widget-horizontal-main {
    padding: 10px !important;
  }

  .catalog-product-view .product_star_value, .review-product-list .product_star_value {
    padding: 0 10px;
  }

  .catalog-product-view #review-form-div {
    padding: 0 10px;
  }

  .trustedcompany-widget .tc-widget-horizontal-content .tc-widget-horizontal-main:after {
    right: 50%;
    top: 100%;
    margin-right: -12px;
  }

  #TRUSTEDCOMPANY_widget_86430 .tc-border-color {
    border: 0;
  }

  .trustedcompany-widget .tc-widget-horizontal-content .tc-widget-horizontal-main {
    width: 100%;
    display: block;
  }

  .trustedcompany-widget .tc-widget-horizontal-content #tc-carousel-review-86430 {
    width: 100%;
    display: block;
    vertical-align: middle;
  }

  .catalog-product-view .product-view .product-img-box .more-views ul {
    margin-left: 0;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0 25px;
  }

  .product-view .product-shop .product-name h1 {
    text-align: left;
  }

  .product-view .product-img-box {
    width: 60%;
    margin: 0 auto;
    float: none;
  }

  .footer-container #toTop .subscribe-innerdiv {
    padding: 10px 0;
  }

  .catalog-product-view .frequently_bought_wrap .slider_wraper, .review-product-list .frequently_bought_wrap .slider_wraper {
    padding: 20px 25px 0;
    margin: 0 10px;
  }

  .catalog-product-view #review-form-div .button {
    display: inline-block;
    float: none !important;
  }

  .catalog-product-view #customer-reviews .pager, .review-product-list #customer-reviews .pager {
    padding: 15px 10px 0;
  }

  .catalog-product-view #review-form-div .buttons-set {
    text-align: center;
  }

  .product-view .product-shop .short-description, .catalog-product-view .product_extra_links, .catalog-product-view .pr-availibility, .catalog-product-view .pr-links-right {
    display: block;
  }

  .product-view .product-shop .s_desc_share_wrap {
    padding-top: 0;
  }

  .catalog-product-view .product_extra_links {
    margin-bottom: 20px;
  }

  .product-details-table {
    margin-top: 0;
    width: auto;
    display: block;
    margin-left: -0;
    margin-right: -0;
  }

  .catalog-product-view .col-main .pr-add-to-compare, .review-product-list .col-main .pr-add-to-compare {
    display: inline-block !important;
  }

  .catalog-product-view .pr-links-right div, .review-product-list .pr-links-right div {
    padding: 0;
    display: inline-block;
    width: auto;
  }

  .catalog-product-view .pr-links-right div.pr-email-friend, .review-product-list .pr-links-right div.pr-email-friend, .product-view .product-shop .ratings .rating-links a.review-scroll, .product-view .product-shop .ratings .rating-links a.add_your_review {
    float: right;
  }

  .catalog-product-view .product-view .product-essential {
    width: 100%;
    padding: 0 0 30px;
    box-sizing: border-box;
  }

  .catalog-product-view .product-view .pr-social-icons-wrapper, .catalog-product-view .product-view .description_related, .catalog-product-view .product-view .review-count-pr, .catalog-product-view .product-view .product_extra_links {
    padding: 0 10px;
    box-sizing: border-box;
  }

  .catalog-product-view span.pr-rating-points, .review-product-list span.pr-rating-points {
    font-size: 86px;
  }

  .catalog-product-view .product-collateral {
    padding-top: 30px;
  }

  body.catalog-product-view .product-details-table table.new_product_list td, body.catalog-product-view .review-product-list .product-details-table table.new_product_list {
    padding: 10px 10px;
  }

  .catalog-product-view .product-details-table table.new_product_list, .review-product-list .product-details-table table.new_product_list {
    border: 0;
    border-bottom: 1px solid #cccaca;
  }

  /* span.recomend-text{
  	display: none;
  } */
  .catalog-product-view .product-details-table table.new_product_list, .review-product-list .product-details-table table.new_product_list {
    /* a.related-buy-now{
    	padding: 0 17px;
    	width: auto;
    } */
  }
  .catalog-product-view .product-details-table table.new_product_list th.pack_size, .catalog-product-view .product-details-table table.new_product_list th.price_per_pill, .catalog-product-view .product-details-table table.new_product_list th.qty, .review-product-list .product-details-table table.new_product_list th.pack_size, .review-product-list .product-details-table table.new_product_list th.price_per_pill, .review-product-list .product-details-table table.new_product_list th.qty {
    width: auto !important;
  }
  .catalog-product-view .product-details-table table.new_product_list td.pack_size_value, .catalog-product-view .product-details-table table.new_product_list td.price_value, .catalog-product-view .product-details-table table.new_product_list td.qty_value, .review-product-list .product-details-table table.new_product_list td.pack_size_value, .review-product-list .product-details-table table.new_product_list td.price_value, .review-product-list .product-details-table table.new_product_list td.qty_value {
    width: auto !important;
  }
}
@media only screen and (max-width: 655px) and (min-width: 481px) {
  .catalog-product-view .easytabs li a {
    min-height: 40px;
  }
}
@media only screen and (max-width: 640px) {
  .tc-widget-horizontal .tc-widget-horizontal-content .tc-widget-horizontal-item {
    min-height: auto;
  }
}
@media only screen and (max-width: 575px) {
  .catalog-product-view .customer_rating.review_graph .rating_box .star_image, .review-product-list .customer_rating.review_graph .rating_box .star_image {
    width: 90px;
    margin-top: 0;
  }

  .catalog-product-view #review-form-div ul {
    width: 100%;
  }

  .catalog-product-view #review-form-div ul li.rating_wrap {
    margin-bottom: 15px;
  }

  .catalog-product-view #review-form-div ul li.rating_wrap > label {
    width: auto;
    margin-right: 15px;
  }

  #product-review-table.data-table td {
    padding: 0px 2px;
  }

  ul.ratingsDistribution li {
    margin: 0px 0px 5px;
  }

  .catalog-product-view .rating_box .star_image img, .review-product-list .rating_box .star_image img {
    width: 100%;
  }

  .catalog-product-view .rating_box .average_rating, .review-product-list .rating_box .average_rating {
    font-size: 13px;
  }

  .catalog-product-view span.pr-rating-points, .review-product-list span.pr-rating-points {
    font-size: 75px;
  }

  .catalog-product-view span.pr-rating-points, .review-product-list span.pr-rating-points {
    line-height: 85px;
  }

  .ratingsDistribution .rating-bars {
    width: 150px;
    line-height: 13px;
    font-size: 13px;
  }

  ul.ratingsDistribution span {
    line-height: 13px;
    font-size: 13px;
    margin-left: 7px;
  }

  .catalog-product-view .rating_box div.ratingsDistribution, .review-product-list .rating_box div.ratingsDistribution {
    width: 197px;
  }

  .catalog-product-view .customer_rating.review_graph .rating_box, .review-product-list .customer_rating.review_graph .rating_box {
    max-width: 425px;
    width: 425px;
  }
}
@media only screen and (max-width: 480px) {
  .review_right_block {
    width: 100%;
  }

  .catalog-product-view .review-count-pr, .review-product-list .review-count-pr {
    margin-top: 0;
    border-top: 0;
  }

  .product-view .product-shop .read_more {
    margin-top: 0;
  }

  .catalog-product-view .share.bordercolor {
    margin-top: 30px !important;
    width: 100%;
  }

  /* .product-view .product-shop .short-description .read_more{
  	bottom: -22px;
  } */
  .catalog-product-view div.notify-me-boxwrapper h1 span {
    font-size: 13px;
  }

  .catalog-product-view .frequently_bought_wrap .slider_wraper .pr-details-height, .review-product-list .frequently_bought_wrap .slider_wraper .pr-details-height {
    font-size: 13px;
  }

  .catalog-product-view div.notify-me-boxwrapper .out_of_stock_head {
    font-size: 20px;
    line-height: 20px;
  }

  .catalog-product-view #customer-reviews .review_left_block .nickname, .review-product-list #customer-reviews .review_left_block .nickname {
    font-weight: bold;
  }

  .catalog-product-view #review-form-div ul {
    width: 100%;
    float: left;
  }

  .adc-footer-links ul li {
    text-align: left;
    display: inline-block;
    float: left;
    width: 50%;
  }

  	/* .catalog-product-view .easytabs-a {
  	    font-size: 14px;
  	    position: relative;
  	}
  
  	a.easytabs-anchor.easytabs-a.easytabs-a-accordion:after {
  	    content: "+";
  	    display: inline-block;
  	    font-size: 19px;
  	    position: absolute;
  	    right: 10px;
  	    top: 50%;
  	    margin-top: -13px;
  	} */
  .catalog-product-view a.easytabs-a-accordion {
    position: relative;
  }
  .catalog-product-view a.easytabs-a-accordion:after {
    content: "+";
    display: inline-block;
    font-size: 19px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -13px;
  }
  .catalog-product-view a.easytabs-a-accordion.active {
    background: #506f00;
  }
  .catalog-product-view a.easytabs-a-accordion.active:after {
    content: "-";
    font-size: 23px;
    margin-top: -19px;
  }

  .review_left_block {
    width: 100%;
  }

  .product-view .product-img-box {
    width: 100%;
    margin-bottom: 20px;
  }

  .catalog-product-view .rate_me li, .review-product-list .rate_me li {
    margin: 0 5px 5px 5px;
  }

  .product-view .product-img-box {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 479px) {
  .product-details-table {
    margin-top: 0;
    clear: both;
    width: 100%;
    overflow-x: scroll;
  }

  .catalog-product-view .product-details-table table.new_product_list th strong, .review-product-list .product-details-table table.new_product_list th strong {
    white-space: nowrap;
    max-width: inherit;
  }
}
@media only screen and (max-width: 420px) {
  .catalog-product-view .pr-add-to-compare a.link-compare, .review-product-list .pr-add-to-compare a.link-compare, .catalog-product-view .pr-write-review a.link-review, .review-product-list .pr-write-review a.link-review, .catalog-product-view .pr-email-friend a.link-email-friend, .review-product-list .pr-email-friend a.link-email-friend {
    border-right: 0;
  }

  .catalog-product-view .rating_box div.ratingsDistribution, .review-product-list .rating_box div.ratingsDistribution {
    width: 90%;
    margin: 0 auto;
    display: block;
  }

  .catalog-product-view .customer_rating.review_graph .rating_box, .review-product-list .customer_rating.review_graph .rating_box {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 360px) {
  .catalog-product-view .pr-add-to-compare a.link-compare, .review-product-list .pr-add-to-compare a.link-compare,
  .catalog-product-view .pr-email-friend a.link-email-friend, .review-product-list .pr-email-friend a.link-email-friend, .catalog-product-view .pr-email-friend a.link-email-friend, .review-product-list .pr-email-friend a.link-email-friend {
    padding: 8px 20px 8px 35px;
    font-size: 13px;
  }

  .catalog-product-view .pr-add-to-compare a.link-compare, .review-product-list .pr-add-to-compare a.link-compare {
    background-position: -243px -90px;
  }

  .catalog-product-view .rate_me li, .review-product-list .rate_me li {
    margin: 0 3px 5px 3px;
  }

  .catalog-product-view .rate_me li img, .review-product-list .rate_me li img {
    width: 11px;
  }

  .catalog-product-view .rate_me li .rating_label, .review-product-list .rate_me li .rating_label {
    font-size: 11px;
  }

  .catalog-product-view .pr-email-friend a.link-email-friend, .review-product-list .pr-email-friend a.link-email-friend, .catalog-product-view .pr-email-friend a.link-email-friend, .review-product-list .pr-email-friend a.link-email-friend {
    background-position: -236px -411.5px;
  }

  .product-view .product-shop .ratings .rating-box {
    background-size: 15px;
    width: 75px;
    height: 14px;
  }

  .product-view .product-shop .short-description {
    font-size: 13px;
    position: relative;
    line-height: 18px;
  }

  .product-view .product-shop .product-name h1 {
    font-size: 17px;
  }

  .product-view .product-shop .ratings .rating-box .rating {
    height: 15px;
    background-size: 15px;
  }

  .product-view .product-shop .ratings .rating-links a.review-scroll, .product-view .product-shop .ratings .rating-links a.add_your_review {
    font-size: 13px;
    margin: 0;
  }

  .product-view .product-shop .ratings .rating-links a {
    font-size: 12px;
  }
}
@media only screen and (max-width: 320px) {
  .catalog-product-view .easytabs-content {
    padding: 10px;
  }
}

/*# sourceMappingURL=product_page.css.map */
