<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Callforoffer>
      <version>0.1.26</version>
    </Iksula_Callforoffer>
  </modules>
  <frontend>
    <routers>
      <callforoffer>
        <use>standard</use>
          <args>
            <module>Iksula_Callforoffer</module>
            <frontName>callforoffer</frontName>
          </args>
      </callforoffer>
    </routers>
     <events>
  <!--       <load_customer_quote_before>
            <observers>
                <module_load_customer_quote_before>
                    <class>callforoffer/observer</class>
                    <method>clearAbandonedCarts</method>
                </module_load_customer_quote_before>
            </observers>
        </load_customer_quote_before> -->
        <!--  <controller_action_predispatch>
            <observers>
        		<module_load_customer_quote_event>
        			<class>callforoffer/observer</class>
        			<method>clearAbandonedCarts</method>
        		</module_load_customer_quote_event>
        	</observers>
         </controller_action_predispatch> -->
        <checkout_cart_product_add_after>
        	<observers>
        		<checkout_cart_product_add_afterhandler_observer>
        			<type>singleton</type>
        			<class>callforoffer/observer</class>
        			<method>AfterAddtoCart</method>
        		</checkout_cart_product_add_afterhandler_observer>
        	</observers>
        </checkout_cart_product_add_after>
        <!-- <sales_order_resource_init_virtual_grid_columns>
                <observers>
                    <callforoffers_observer>
                        <type>singleton</type>
                  		<class>Iksula_Callforoffer_Model_Observer</class>
                        <method>adminhtml_sales_order_create_process_data</method>
                    </callforoffers_observer>
                </observers>
        </sales_order_resource_init_virtual_grid_columns> -->
    </events>
  </frontend>
  <global>
  	<sales>
  		<quote>
  			<item>
  				<product_attributes>
  					<shipped_from />
  				</product_attributes>
  			</item>
  		</quote>
  	</sales>  	
  	<fieldsets>
  		<sales_convert_quote_item>
  			<shipped_from>
  				<to_order_item>*</to_order_item>
  			</shipped_from>
  		</sales_convert_quote_item>
  		<sales_convert_order_item>
  			<shipped_from>
  				<to_quote_item>*</to_quote_item>
  			</shipped_from>
  		</sales_convert_order_item>
  	</fieldsets>
  	<rewrite>
  		<iksula_callforoffer_newsletter_subscribercontroller>
  			<from><![CDATA[#^/newsletter/subscriber/#]]></from> <!-- Mage_Newsletter_SubscriberController  -->
  			<to>/callforoffer/newsletter_subscriber/</to> <!-- Iksula_Callforoffer_Newsletter_SubscriberController  -->
  		</iksula_callforoffer_newsletter_subscribercontroller>
  	</rewrite>
    <helpers>
      <callforoffer>
        <class>Iksula_Callforoffer_Helper</class>
      </callforoffer>
    </helpers>
	<blocks>
	  <callforoffer>
		<class>Iksula_Callforoffer_Block</class>
	  </callforoffer>
	  	<adminhtml>
				<rewrite>
					<customer_grid>Iksula_Callforoffer_Block_Adminhtml_Customer_Grid</customer_grid>
				</rewrite>
			</adminhtml>
	</blocks>
	<models>
	  <callforoffer>
		<class>Iksula_Callforoffer_Model</class>
		<resourceModel>callforoffer_mysql4</resourceModel>
	  </callforoffer>
	  <callforoffer_mysql4>
		<class>Iksula_Callforoffer_Model_Mysql4</class>
		<entities>
			  <callforoffers>
				<table>callforoffers</table>
			  </callforoffers>
        </entities>
	  </callforoffer_mysql4>
	</models>
	<resources>
	  <callforoffer_setup>
		<setup>
		  <module>Iksula_Callforoffer</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </callforoffer_setup>
	  <callforoffer_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </callforoffer_write>
	  <callforoffer_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </callforoffer_read>
	  <salesattribute1380612672_setup>
		<setup>
		  <module>Iksula_Callforoffer</module>
		  <class>Mage_Sales_Model_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </salesattribute1380612672_setup>
	  <salesattribute1380612672_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </salesattribute1380612672_write>
	  <salesattribute1380612672_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </salesattribute1380612672_read>
	  <customerattribute1380612672_setup>
		<setup>
		  <module>Iksula_Callforoffer</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1380612672_setup>
	  <customerattribute1380612672_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1380612672_write>
	  <customerattribute1380612672_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1380612672_read>
	</resources>
   	<events>
   		<sales_order_place_after>
   			<observers>
   				<callforoffers_observer>
   					<type>singleton</type>
   					<class>Iksula_Callforoffer_Model_Observer</class>
   					<method>callforfreeregistration</method>
   				</callforoffers_observer>
   			</observers>
   		</sales_order_place_after>
   		<sales_order_resource_init_virtual_grid_columns>
   			<observers>
   				<callforoffers_observer>
   					<type>singleton</type>
   					<class>Iksula_Callforoffer_Model_Observer</class>
   					<method>adminhtml_sales_order_create_process_data</method>
   				</callforoffers_observer>
   			</observers>
   		</sales_order_resource_init_virtual_grid_columns>
   		<sales_quote_item_set_product>
   			<observers>
   				<callforoffers_customattribute>
   					<class>Iksula_Callforoffer_Model_Observer</class>
   					<method>salesQuoteItemSetCustomAttribute</method>
   				</callforoffers_customattribute>
   			</observers>
   		</sales_quote_item_set_product>
	</events>
  </global>
  <admin>
	<routers>
	  <callforoffer>
	    <use>admin</use>
		<args>
		  <module>Iksula_Callforoffer</module>
		  <frontName>callforoffer</frontName>
		</args>
	  </callforoffer>
	</routers>
	<events>
            <sales_order_resource_init_virtual_grid_columns>
                <observers>
                    <callforoffers_observer>
                        <type>singleton</type>
                  		<class>Iksula_Callforoffer_Model_Observer</class>
                        <method>adminhtml_sales_order_create_process_data</method>
                    </callforoffers_observer>
                </observers>
            </sales_order_resource_init_virtual_grid_columns>
        </events>
  </admin>
  <adminhtml>
	<menu>
	 <!--  <callforoffer module="callforoffer">
		<title>Callforoffer</title>
		<sort_order>100</sort_order>
		<children>
		  <callforoffers module="callforoffer">
		    <title>Manage Callforoffers</title>
			<sort_order>0</sort_order>
			<action>callforoffer/adminhtml_callforoffers</action>
		  </callforoffers>
		</children>
	  </callforoffer> -->
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<callforoffer translate="title" module="callforoffer">
			  <title>Callforoffer</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <callforoffers translate="title">
			<title>Manage Callforoffers</title>
			<sort_order>0</sort_order>
		  </callforoffers>
			  </children>
			</callforoffer>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<callforoffer>
		  <file>callforoffer.xml</file>
		</callforoffer>
	  </updates>
	</layout>
  </adminhtml>
</config>
