<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Overrides>
      <version>0.1.0</version>
    </Iksula_Overrides>
  </modules>
  <frontend>
    <routers>
      <customer>
          <args>
              <modules>
                  <iksula_overrides before="Mage_Customer">Iksula_Overrides</iksula_overrides>
              </modules>
          </args>
        </customer>
        <sales>
          <args>
            <modules>
              <Iksula_Overrides before="Mage_Sales_OrderController">Iksula_Overrides_Sales</Iksula_Overrides>
            </modules>
          </args>
        </sales>
        <wishlist>
          <args>
            <modules>
              <Iksula_Overrides before="Mage_Wishlist">Iksula_Overrides</Iksula_Overrides>
            </modules>
          </args>
        </wishlist>
        <overrides>
          <use>standard</use>
          <args>
            <module>Iksula_Overrides</module>
            <frontName>overrides</frontName>
          </args>
        </overrides>
        <thankyou>
          <use>standard</use>
          <args>
            <module>Iksula_Overrides</module>
            <frontName>ccsave</frontName>
          </args>
        </thankyou>
      </routers>
      <layout>
        <updates>
         <overrides>
           <file>overrides.xml</file>
         </overrides>
       </updates>
     </layout>
     <events>
      <customer_logout>
        <observers>
            <overrides_remove_cookies_Observer>
                <type>singleton</type>
                <class>overrides/observer</class>
                <method>removeCookie</method>
            </overrides_remove_cookies_Observer>
        </observers>
      </customer_logout>
      <controller_action_predispatch>
        <observers>
          <overrides_redirects_model_redirector>
            <type>model</type>
            <class>overrides/observer</class>
            <method>productRedirects</method>
          </overrides_redirects_model_redirector>
        </observers>
      </controller_action_predispatch>
      <checkout_onepage_controller_success_action>
        <observers>
          <customer_group_changes>
            <type>model</type>
            <class>overrides/observer</class>
            <method>changegroup</method>
          </customer_group_changes>
        </observers>
      </checkout_onepage_controller_success_action>
      <controller_action_predispatch_opc_index_index>
        <observers>
          <overrides_country_session>
            <type>model</type>
            <class>overrides/observer</class>
            <method>countrySession</method>
          </overrides_country_session>
        </observers>
      </controller_action_predispatch_opc_index_index>
      <controller_action_predispatch_checkout_cart_index>
        <observers>
          <overrides_country_session>
            <type>model</type>
            <class>overrides/observer</class>
            <method>removePaymentMethod</method>
          </overrides_country_session>
        </observers>
      </controller_action_predispatch_checkout_cart_index>
      <checkout_onepage_controller_success_action>
        <observers>
          <send_sms_to_customer>
            <type>model</type>
            <class>Iksula_Overrides_Model_Observer</class>
            <method>deleteQuote</method>
          </send_sms_to_customer>  
        </observers>  
      </checkout_onepage_controller_success_action>
      <customer_register_success>
        <observers>
          <customer_ip_address>
            <type>model</type>
            <class>Iksula_Overrides_Model_Observer</class>
            <method>getIpOfCustomer</method>
          </customer_ip_address>  
        </observers>  
      </customer_register_success>
      <salesrule_validator_process>
        <observers>
          <validation>
            <type>model</type>
            <class>overrides/observer</class>
            <method>deleteExpiredCoupon</method>
          </validation>
        </observers>
      </salesrule_validator_process>
      <customer_group_change>
        <observers>
          <group_change>
            <type>model</type>
            <class>overrides/observer</class>
            <method>customerOrderGroupChange</method>
          </group_change>
        </observers>
      </customer_group_change>
    </events>
  </frontend>
  <admin>
    <routers>
     <adminhtml>
      <args>
        <modules>
          <iksula_overrides before="Mage_Adminhtml">Iksula_Overrides_Adminhtml</iksula_overrides>
        </modules>
      </args>
    </adminhtml>
  </routers>
</admin>
<adminhtml>
  <events>
    <core_block_abstract_prepare_layout_before>
      <observers>
        <overrides_core_block_abstract_prepare_layout_before>
         <type>model</type>
         <class>overrides/observer</class>
         <method>addMassAction</method>
       </overrides_core_block_abstract_prepare_layout_before>
     </observers>
   </core_block_abstract_prepare_layout_before>
   <review_review_save_after>
        <observers>
          <admin_review_change>
            <type>singleton</type>
            <class>overrides/observer</class>
            <method>reviewStatusChange</method>
          </admin_review_change>            
        </observers>  
      </review_review_save_after>
 </events>
</adminhtml>
<global>
  <helpers>
    <overrides>
      <class>Iksula_Overrides_Helper</class>
    </overrides>
    <core>
      <rewrite>
        <http>Iksula_Overrides_Helper_Http</http>
      </rewrite>
    </core>
  </helpers>
  <models>
    <!-- override for elasticsearch -->
        <!-- <catalog_resource>
            <rewrite>
                <product_indexer_eav_source>Iksula_Overrides_Model_Resource_Product_Indexer_Eav_Source</product_indexer_eav_source>
            </rewrite>
          </catalog_resource> -->
          <sales_resource>
            <rewrite>
                <order>Iksula_Overrides_Model_Sales_Resource_Order</order>
            </rewrite>
          </sales_resource>
          <overrides>
            <class>Iksula_Overrides_Model</class>
          </overrides>
          <sales>
            <rewrite>
              <order>Iksula_Overrides_Model_Sales_Order</order>
            </rewrite>
          </sales>
          <checkout>
            <rewrite>
              <cart>Iksula_Overrides_Model_Checkout_Cart</cart>
            </rewrite>
          </checkout>
          <cataloginventory>
            <rewrite>
              <stock_item>Iksula_Overrides_Model_CatalogInventory_Stock_Item</stock_item>
            </rewrite>
          </cataloginventory>
          <shipping>
            <rewrite>
              <carrier_tablerate>Iksula_Overrides_Model_Carrier_Tablerate</carrier_tablerate>
            </rewrite>
          </shipping>
          <directory_resource>
            <rewrite>
              <country_collection>Iksula_Overrides_Model_Directory_Resource_Country_Collection</country_collection>
            </rewrite>
          </directory_resource>
          <catalog>
            <rewrite>
              <product_visibility>Iksula_Overrides_Model_Catalog_Product_Visibility</product_visibility>
            </rewrite>
          </catalog>  
        </models>
      <blocks>
        <overrides>
          <class>Iksula_Overrides_Block</class>
        </overrides>
        <adminhtml>
          <rewrite>
            <customer_edit_tab_view>Iksula_Overrides_Block_Adminhtml_Customer_Edit_Tab_View</customer_edit_tab_view>
          </rewrite>  
        </adminhtml>
        <!-- <adminhtml>
            <rewrite>
                <sales_invoice_grid>Iksula_Overrides_Block_Adminhtml_Sales_Invoice_Grid</sales_invoice_grid>
            </rewrite>
        </adminhtml> -->
       <!--  <checkout>
          <rewrite>
            <onepage_payment_methods>Iksula_Overrides_Block_Checkout_Onepage_Payment_Methods</onepage_payment_methods>
          </rewrite>
        </checkout> -->
        <review>
          <rewrite>
            <form>Iksula_Overrides_Block_Review_Form</form>
          </rewrite>
        </review>
        <sales>
          <rewrite>
           <order_history>Iksula_Overrides_Block_Sales_Order_History</order_history>
           <order_recent>Iksula_Overrides_Block_Sales_Order_Recent</order_recent>
           <order_print>Iksula_Overrides_Block_Sales_Order_Print</order_print>
         </rewrite>
       </sales>
       <!-- <page>
          <rewrite>
           <html_pager>Iksula_Overrides_Block_Page_Html_Pager</html_pager>
         </rewrite>
       </page> -->
       <googleanalytics>
        <rewrite>
          <ga>Iksula_Overrides_Block_GoogleAnalytics_Ga</ga>
        </rewrite>
      </googleanalytics>
      <adminhtml>
        <rewrite>
          <customer_edit_tab_orders>Iksula_Overrides_Block_Adminhtml_Customer_Edit_Tab_Orders</customer_edit_tab_orders>
          <!-- <sales_order_view>Iksula_Overrides_Block_Adminhtml_Sales_Order_View</sales_order_view> -->
        </rewrite>
      </adminhtml>
      <adminhtml>
        <rewrite>
          <sales_order>Iksula_Overrides_Block_Adminhtml_Sales_Order</sales_order>
        </rewrite>
      </adminhtml>
      <adminhtml>
        <rewrite>
          <report_product_sold_grid>Iksula_Overrides_Block_Adminhtml_Report_Product_Sold_Grid</report_product_sold_grid>
        </rewrite>
      </adminhtml>
      <checkout>
        <rewrite>
          <links>Iksula_Overrides_Block_Checkout_Links</links>
          <onepage_success>Iksula_Overrides_Block_Onepage_Success</onepage_success>
          <onepage_failure>Iksula_Overrides_Block_Onepage_Failure</onepage_failure>
        </rewrite>
      </checkout>
      <catalog>
       <rewrite>
         <product_view>Iksula_Overrides_Block_Catalog_Product_View</product_view>
       </rewrite>
       <!-- override for elasticsearch -->
       <!--   <rewrite>
              <product_list>Iksula_Overrides_Block_Catalog_Product_List</product_list>
            </rewrite> -->
          <!-- <rewrite>
              <layer_state>Iksula_Overrides_Block_Catalog_Layer_State</layer_state>
            </rewrite> -->
            <!-- override for elasticsearch -->
          </catalog>
        </blocks>
        <events>
          <core_block_abstract_prepare_layout_before>
            <observers>
              <overrides_core_block_abstract_prepare_layout_before>
               <type>model</type>
               <class>overrides/observer</class>
               <method>addMassAction</method>
             </overrides_core_block_abstract_prepare_layout_before>
           </observers>
         </core_block_abstract_prepare_layout_before>
    <!--  <cataloginventory_stock_item_save_after>
        <observers>
          <overrides_stockmovements>
            <type>singleton</type>
            <class>Iksula_Overrides_Model_Observer</class>
            <method>saveStockItemAfter</method>
          </overrides_stockmovements>
        </observers>
      </cataloginventory_stock_item_save_after> -->
      <checkout_cart_save_before>
        <observers>
          <checkoutcart_save_before>
            <type>singleton</type>
            <class>Iksula_Overrides_Model_Observer</class>
            <method>cartsavebefore</method>
          </checkoutcart_save_before>
        </observers>
      </checkout_cart_save_before>
      <payment_method_is_active>
        <observers>
          <paymentfilter_payment_method_is_active>
            <type>singleton</type>
            <class>Iksula_Overrides_Model_Observer</class>
            <method>paymentMethodIsActive</method>
          </paymentfilter_payment_method_is_active>
          <paymentfilter_payment_method_is_active_showPayment>
            <type>singleton</type>
            <class>Iksula_Overrides_Model_Observer</class>
            <method>showAllPayments</method>
          </paymentfilter_payment_method_is_active_showPayment>
        </observers>
      </payment_method_is_active>
      <!-- <payment_method_is_active>
        <observers>
          <paymentfilter_payment_method_is_active>
            <type>singleton</type>
            <class>Iksula_Overrides_Model_Observer</class>
            <method>showAllPayments</method>
          </paymentfilter_payment_method_is_active>
        </observers>
      </payment_method_is_active> -->
      <catalog_product_save_commit_after>
        <observers>
          <paymentfilter_catalog_product_save_commit_after>
            <type>singleton</type>
            <class>Iksula_Overrides_Model_Observer</class>
            <method>catalog_product_save_commit_after</method>
          </paymentfilter_catalog_product_save_commit_after>
        </observers>
      </catalog_product_save_commit_after>
    </events>
  </global>
  <crontab>
    <jobs>
      <overrides_updateordercountry>
        <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
        <run><model>overrides/cron::updateOrderCountry</model></run>
      </overrides_updateordercountry>
      <overrides_elasticstatus>
        <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
        <run><model>overrides/cron::elasticstatus</model></run>
      </overrides_elasticstatus>
      <overrides_guesttoregister>
        <schedule><cron_expr>* 1 * * *</cron_expr></schedule>
        <run><model>overrides/cron::guesttoregister</model></run>
      </overrides_guesttoregister>
    </jobs>
  </crontab>
</config>
