<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Addcateattribute>
      <version>0.1.0</version>
    </Iksula_Addcateattribute>
  </modules>
  <global>
    <helpers>
      <addcateattribute>
        <class>Iksula_Addcateattribute_Helper</class>
      </addcateattribute>
    </helpers>
	<models>
	  <addcateattribute>
		<class>Iksula_Addcateattribute_Model</class>
		<resourceModel>addcateattribute_mysql4</resourceModel>
	  </addcateattribute>
	</models>
	<resources>
	  <categoryattribute1368093281_setup>
		<setup>
		  <module>Iksula_Addcateattribute</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1368093281_setup>
	  <categoryattribute1368093281_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1368093281_write>
	  <categoryattribute1368093281_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1368093281_read>
	</resources>
  </global>
</config> 