<?xml version="1.0"?>
<config>
    <modules>
        <Iksula_Bitcoins>
            <version>1.6.0.0</version>
        </Iksula_Bitcoins>
    </modules>
    <global>
        <models>
            <bitcoins>
                <class>Iksula_Bitcoins_Model</class>
            </bitcoins>
        </models>
        <helpers>
            <bitcoins>
                <class>Iksula_Bitcoins_Helper</class>
            </bitcoins>
        </helpers>
        <resources>
            <bitcoins_setup>
                <setup>
                    <module>Iksula_Bitcoins</module>
                </setup>
            </bitcoins_setup>
        </resources>
        <blocks>
            <bitcoins><class>Iksula_Bitcoins_Block</class></bitcoins>
        </blocks>
        <template>
            <email>
               <bitcoins_activateemail>
                   <label>bitcoins activate email</label>
                   <file>bitcoins_activateemail.html</file>
                   <type>html</type>
               </bitcoins_activateemail>
            </email>
        </template>
        <payment>
            <groups>
                <gsp>VISA</gsp>
            </groups>
        </payment>
    </global>
    <frontend>
        <secure_url>
            <bitcoins_processing>/bitcoins/processing</bitcoins_processing>
        </secure_url>
        <routers>
            <bitcoins>
                <use>standard</use>
                <args>
                    <module>Iksula_Bitcoins</module>
                    <frontName>bitcoins</frontName>
                </args>
            </bitcoins>
        </routers>
        <translate>
            <modules>
                <Iksula_Bitcoins>
                    <files>
                        <default>Iksula_Bitcoins.csv</default>
                    </files>
                </Iksula_Bitcoins>
            </modules>
        </translate>
        <layout>
            <updates>
                <bitcoins>
                    <file>bitcoins.xml</file>
                </bitcoins>
            </updates>
        </layout>
    </frontend>
    <admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bitcoins after="Mage_Adminhtml">Iksula_Bitcoins</bitcoins>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Iksula_Bitcoins>
                    <files>
                        <default>Iksula_Bitcoins.csv</default>
                    </files>
                </Iksula_Bitcoins>
            </modules>
        </translate>
        <layout>
            <updates>
                <bitcoins>
                    <file>bitcoins.xml</file>
                </bitcoins>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <bitcoins translate="title" module="bitcoins">
                                            <title>Bitcoins Settings</title>
                                        </bitcoins>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <bitcoins>
        <bitcoins>
            <verify_url>http://www.gspay-medien.de/index.php?id=105</verify_url>
        </bitcoins>
    </bitcoins>
    <default>
        <payment>
            <bitcoins_acc>
                <group>gsp</group>
                <active>0</active>
                <model>bitcoins/acc</model>
                <!-- <title>Pay by VISA Credit/ Debit Card</title> -->
                <title>Pay by Bitcoin</title>
                <allowspecific>0</allowspecific>
            </bitcoins_acc>
        </payment>
        <bitcoins>
            <settings>
                <activationstatus>0</activationstatus>
            </settings>
        </bitcoins>
    </default>
</config>
