<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Cashback>
      <version>0.1.4</version>
    </Iksula_Cashback>
  </modules>
  <frontend>
    <routers>
      <cashback>
        <use>standard</use>
          <args>
            <module>Iksula_Cashback</module>
            <frontName>cashback</frontName>
          </args>
      </cashback>
    </routers>                                    
		<layout>
		  <updates>
			<cashback>
			  <file>cashback.xml</file>
			</cashback>
		  </updates>
		</layout>
		<events>
		     <salesrule_validator_process>
		     	<observers>
		          <cashback_rule_validate>
		            <type>model</type>
		            <class>Iksula_Cashback_Model_Observer</class>
		            <method>removeCashbackCoupon</method>
		          </cashback_rule_validate>
		        </observers>
		     </salesrule_validator_process>
		</events>	
  </frontend>
  <global>
  	<events>
			<sales_order_save_after>
		        <observers>
		          <customer_cashback>
		            <type>model</type>
		            <class>Iksula_Cashback_Model_Observer</class>
		            <method>getCashback</method>
		          </customer_cashback>
		        </observers>
		     </sales_order_save_after>
		</events>
    <helpers>
      <cashback>
        <class>Iksula_Cashback_Helper</class>
      </cashback>
    </helpers>
	<blocks>
	  <cashback>
		<class>Iksula_Cashback_Block</class>
	  </cashback>
	</blocks>
	<models>
	  <cashback>
		<class>Iksula_Cashback_Model</class>
		<resourceModel>cashback_mysql4</resourceModel>
	  </cashback>
	  <cashback_mysql4>
		<class>Iksula_Cashback_Model_Mysql4</class>
		<entities>		  
			  <cashback>
				<table>cashback</table>
			  </cashback>
        </entities>
	  </cashback_mysql4>
	</models>
	<resources>
	  <cashback_setup>
		<setup>
		  <module>Iksula_Cashback</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </cashback_setup>
	  <cashback_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </cashback_write>
	  <cashback_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </cashback_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <cashback>
	    <use>admin</use>
		<args>
		  <module>Iksula_Cashback</module>
		  <frontName>cashback</frontName>
		</args>
	  </cashback>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <cashback module="cashback">
		<title>Cashback</title>
		<sort_order>100</sort_order>
		<children>
		  <cashbackbackend module="cashback">
			<title>Cashback</title>
			<sort_order>0</sort_order>
			<action>cashback/adminhtml_cashbackbackend</action>
		  </cashbackbackend>
		  <cashback module="cashback">
		    <title>Manage Cashback</title>
			<sort_order>0</sort_order>
			<action>cashback/adminhtml_cashback</action>
		  </cashback>
		</children>
	  </cashback>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<cashback translate="title" module="cashback">
			  <title>Cashback</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <cashbackbackend translate="title">
			<title>Cashback</title>
		  </cashbackbackend>
		  <cashback translate="title">
			<title>Manage Cashback</title>
			<sort_order>0</sort_order>
		  </cashback>
			  </children>
			</cashback>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<cashback>
		  <file>cashback.xml</file>
		</cashback>
	  </updates>
	</layout>
  </adminhtml>
</config> 