<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Categoryimageformobile>
      <version>0.1.3</version>
    </Iksula_Categoryimageformobile>
  </modules>
  <global>
    <helpers>
      <loadmore>
        <class>Iksula_Categoryimageformobile_Helper</class>
      </loadmore>
    </helpers>
	<models>
	  <loadmore>
		<class>Iksula_Categoryimageformobile_Model</class>
		<resourceModel>loadmore_mysql4</resourceModel>
	  </loadmore>
	</models>
	<resources>
	  <categoryattribute1410339496_setup>
		<setup>
		  <module>Iksula_Categoryimageformobile</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1410339496_setup>
	  <categoryattribute1410339496_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1410339496_write>
	  <categoryattribute1410339496_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1410339496_read>
	</resources>
  </global>
</config> 
