<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Drc>
      <version>0.1.3</version>
    </Iksula_Drc>
  </modules>
  <frontend>
    <routers>
      <drc>
        <use>standard</use>
          <args>
            <module>Iksula_Drc</module>
            <frontName>drc</frontName>
          </args>
      </drc>
    </routers>
		<layout>
		  <updates>
			<drc>
			  <file>drc.xml</file>
			</drc>
		  </updates>
		</layout>
  </frontend>
  <global>
    <fieldsets>
         <sales_convert_quote_payment>
          <voucher_number>
            <to_order_payment>*</to_order_payment>
          </voucher_number>
          <voucher_cvv>
            <to_order_payment>*</to_order_payment>
          </voucher_cvv>
          <voucher_exp>
            <to_order_payment>*</to_order_payment>
          </voucher_exp>
         </sales_convert_quote_payment>
      </fieldsets>
  	<models>
      <drc>
          <class>Iksula_Drc_Model</class>
          <resourceModel>drc_mysql4</resourceModel>
      </drc>
      <drc_mysql4>
          <class>Iksula_Drc_Model_Mysql4</class>
          <entities>      
              <emaildrc>
              <table>dcr_request_email</table>
              </emaildrc>
              <managevoucher>
              <table>dcr_request_email</table>
              </managevoucher>
          </entities>
      </drc_mysql4>
    </models>
    <helpers>
      <drc>
        <class>Iksula_Drc_Helper</class>
      </drc>
    </helpers>
	<blocks>
	  <drc>
		<class>Iksula_Drc_Block</class>
	  </drc>
	</blocks>
	<resources>
	  <drc_setup>
		<setup>
		  <module>Iksula_Drc</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </drc_setup>
	  <drc_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </drc_write>
	  <drc_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </drc_read>
	</resources>
  </global>
  <default>
        <payment>
            <drc>
                <active>1</active>
                <sort_order>2</sort_order>
                <model>drc/drc</model>
                <order_status>pending</order_status>
                <title>Drc Payment</title>
            </drc>
         </payment>
    </default>
    <admin>
  <routers>
    <drc>
      <use>admin</use>
    <args>
      <module>Iksula_Drc</module>
      <frontName>admin_drc</frontName>
    </args>
    </drc>
  </routers>
  </admin>
    <adminhtml>
  <menu>
    <drc module="drc">
    <title>Drc</title>
    <sort_order>100</sort_order>
    <children>
      <managevoucher module="drc">
        <title>Manage Managevoucher</title>
      <sort_order>0</sort_order>
      <action>admin_drc/adminhtml_managevoucher</action>
      </managevoucher>
    </children>
    </drc>
  </menu>
  <acl>
    <resources>
    <all>
      <title>Allow Everything</title>
    </all>
    <admin>
      <children>
      <drc translate="title" module="drc">
        <title>Voucher Details</title>
        <sort_order>1000</sort_order>
        <children>
      <managevoucher translate="title">
      <title>Manage Voucher</title>
      <sort_order>0</sort_order>
      </managevoucher>
        </children>
      </drc>
      </children>
    </admin>
    </resources>
  </acl>
  <layout>
    <updates>
    <drc>
      <file>drc.xml</file>
    </drc>
    </updates>
  </layout>
  </adminhtml>
</config> 