<?xml version="1.0"?>
<config>
    <modules>
        <Iksula_Cartrule>
            <version>1.0.0</version>
        </Iksula_Cartrule>
    </modules>
    <global>
        <models>
            <cartrule>
                <class>Iksula_Cartrule_Model</class>
            </cartrule>
        </models>
        <resources>
            <cartrule_setup>
                <setup>
                    <module>Iksula_Cartrule</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cartrule_setup>
            <cartrule_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cartrule_write>
            <cartrule_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cartrule_read>
        </resources>
    
        <blocks>
            <cartrule>
                <class>Iksula_Cartrule_Block</class>
            </cartrule>
        </blocks>
        <helpers>
            <cartrule>
                <class>Iksula_Cartrule_Helper</class>
            </cartrule>
        </helpers>
        <events>
            <sales_quote_collect_totals_after>
                <observers>
                    <new_dicount_coupon>
                        <type>singleton</type>
                        <class>Iksula_Cartrule_Model_Observer</class>
                        <method>newcoupondiscountcal</method>
                    </new_dicount_coupon>
                </observers>
            </sales_quote_collect_totals_after>
            <max_discount_coupon>
                <observers>
                    <new_dicount_coupon>
                        <type>singleton</type>
                        <class>Iksula_Cartrule_Model_Observer</class>
                        <method>maxnewcoupondiscountcal</method>
                    </new_dicount_coupon>
                </observers>
            </max_discount_coupon>
             <adminhtml_block_salesrule_actions_prepareform>
                <observers>
                    <amasty_rules_model_observer>
                        <type>singleton</type>
                        <class>Iksula_Cartrule_Model_Observer</class>
                        <method>handleMaxDiscountFormCreation</method>
                    </amasty_rules_model_observer>
                </observers>
            </adminhtml_block_salesrule_actions_prepareform>
        </events>        
    </global>
</config>
