<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Trustedcompany>
      <version>0.1.0</version>
    </Iksula_Trustedcompany>
  </modules>
  <frontend>
    <routers>
      <trustedcompany>
        <use>standard</use>
          <args>
            <module>Iksula_Trustedcompany</module>
            <frontName>trustedcompany</frontName>
          </args>
      </trustedcompany>
    </routers>
		<layout>
		  <updates>
			<trustedcompany>
			  <file>trustedcompany.xml</file>
			</trustedcompany>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <trustedcompany>
        <class>Iksula_Trustedcompany_Helper</class>
      </trustedcompany>
    </helpers>
	<blocks>
	  <trustedcompany>
		<class>Iksula_Trustedcompany_Block</class>
	  </trustedcompany>
	</blocks>
	<models>
	  <trustedcompany>
		<class>Iksula_Trustedcompany_Model</class>
		<resourceModel>trustedcompany_mysql4</resourceModel>
	  </trustedcompany>
	  <trustedcompany_mysql4>
		<class>Iksula_Trustedcompany_Model_Mysql4</class>
		<entities>		  
			  <reviews>
				<table>trustedcompany_review</table>
			  </reviews>
        </entities>
	  </trustedcompany_mysql4>
	</models>
	<resources>
	  <trustedcompany_setup>
		<setup>
		  <module>Iksula_Trustedcompany</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </trustedcompany_setup>
	  <trustedcompany_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </trustedcompany_write>
	  <trustedcompany_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </trustedcompany_read>
	</resources>
	<template>
        <email>
            <feedback_email_template translate="label" module="trustedcompany">
                <label>Feedback Email Template</label>
                <file>trustedcompany/trustedcompany.html</file>
                <type>html</type>
            </feedback_email_template>
        </email>
    </template>
  </global>
  <admin>
	<routers>
	  <trustedcompany>
	    <use>admin</use>
		<args>
		  <module>Iksula_Trustedcompany</module>
		  <frontName>admin_trustedcompany</frontName>
		</args>
	  </trustedcompany>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <trustedcompany module="trustedcompany">
		<title>Trustedcompany</title>
		<sort_order>100</sort_order>
		<children>
		  <reviews module="trustedcompany">
		    <title>Manage Reviews</title>
			<sort_order>0</sort_order>
			<action>admin_trustedcompany/adminhtml_reviews</action>
		  </reviews>
		</children>
	  </trustedcompany>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<trustedcompany translate="title" module="trustedcompany">
			  <title>Trustedcompany</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <reviews translate="title">
			<title>Manage Reviews</title>
			<sort_order>0</sort_order>
		  </reviews>
			  </children>
			</trustedcompany>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<trustedcompany>
		  <file>trustedcompany.xml</file>
		</trustedcompany>
	  </updates>
	</layout>
  </adminhtml>    
    <crontab>
        <jobs>            
			<trustedcompany_fetchreview>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>trustedcompany/cron::Fetchreview</model></run>
            </trustedcompany_fetchreview>
        </jobs>
    </crontab>
     <default>
     	 <trustedcompany>
            <trusted_configuration>
            	<magento_email>feedback_email_template</magento_email>
            </trusted_configuration>
        </trustedcompany>
     </default>
</config> 