<?xml version="1.0"?>
<config>
    <modules>
        <Iksula_Dcrfront>
            <version>0.1.0</version>
        </Iksula_Dcrfront>
    </modules>
    <frontend>
        <routers>
            <dcrfront>
                <use>standard</use>
                <args>
                    <module>Iksula_Dcrfront</module>
                    <frontName>dcrfront</frontName>
                </args>
            </dcrfront>
        </routers>
    </frontend> 
    <global>
        <models>
            <dcrfront>
                <class>Iksula_Dcrfront_Model</class>
                <resourceModel>dcrfront_mysql4</resourceModel>
            </dcrfront>
            <!-- <dcrfront_mysql4>
                <class>Iksula_Dcrfront_Model_Mysql4</class>
                <entities>
                    <dcrfront>
                        <table>dcrfront</table>
                    </dcrfront>
                </entities>
            </dcrfront_mysql4> -->
        </models>
        <resources>
            <dcrfront_setup>
                <setup>
                    <module>Iksula_Dcrfront</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dcrfront_setup>
            <dcrfront_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dcrfront_write>
            <dcrfront_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dcrfront_read>
        </resources>
        <blocks>
            <dcrfront>
                <class>Iksula_Dcrfront_Block</class>
            </dcrfront>
        </blocks>
        <helpers>
            <dcrfront>
                <class>Iksula_Dcrfront_Helper</class>
            </dcrfront>
        </helpers>
    </global>
    <default>
        <payment>
            <virtual_dcrfront>
                <active>0</active>
                <model>dcrfront/dcrfront</model>
                <sort_order>1</sort_order>
            </virtual_dcrfront>
         </payment>
    </default>
</config>