<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_ImportOrder>
      <version>0.1.0</version>
    </Iksula_ImportOrder>
  </modules>
  <frontend>
    <routers>
      <importorder>
        <use>standard</use>
          <args>
            <module>Iksula_ImportOrder</module>
            <frontName>importorder</frontName>
          </args>
      </importorder>
    </routers>
		<layout>
		  <updates>
			<importorder>
			  <file>importorder.xml</file>
			</importorder>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <importorder>
        <class>Iksula_ImportOrder_Helper</class>
      </importorder>
    </helpers>
	<models>
	  <importorder>
		<class>Iksula_ImportOrder_Model</class>
		<resourceModel>importorder_mysql4</resourceModel>
	  </importorder>
	  <importorder_mysql4>
		<class>Iksula_ImportOrder_Model_Mysql4</class>
		<entities>		  
			  <getorder>
				<table>old_order</table>
			  </getorder>		  
			  <getorderdetails>
				<table>old_order_details</table>
			  </getorderdetails>
		</entities>
	  </importorder_mysql4>
	</models>
	
	
	<blocks>
	  <importorder>
		<class>Iksula_ImportOrder_Block</class>
	  </importorder>
	</blocks>
	<resources>
	  <importorder_setup>
		<setup>
		  <module>Iksula_ImportOrder</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </importorder_setup>
	  <importorder_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </importorder_write>
	  <importorder_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </importorder_read>
	</resources>
  </global>
  
</config> 