<?xml version="1.0"?>
<config>
    <modules>
        <Excellence_Echeckapi>
            <version>0.1.0</version>
        </Excellence_Echeckapi>
    </modules>
    <frontend>
        <routers>
            <echeckapi>
                <use>standard</use>
                <args>
                    <module>Excellence_Echeckapi</module>
                    <frontName>echeckapi</frontName>
                </args>
            </echeckapi>
        </routers>
        <layout>
            <updates>
                <echeckapi>
                    <file>echeckapi.xml</file>
                </echeckapi>
            </updates>
        </layout>
    </frontend>
    <global>
    	<fieldsets>
    		 <sales_convert_quote_payment>
    		 	<check_no>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_no>
    		 	<check_date>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_date>
    		 </sales_convert_quote_payment>
    	</fieldsets>
        <models>
            <echeckapi>
                <class>Excellence_Echeckapi_Model</class>
                <resourceModel>echeckapi_mysql4</resourceModel>
            </echeckapi>
            <echeckapi_mysql4>
                <class>Excellence_Echeckapi_Model_Mysql4</class>
                <entities>
                    <echeckapi>
                        <table>echeckapi</table>
                    </echeckapi>
                </entities>
            </echeckapi_mysql4>
        </models>
        <resources>
            <echeckapi_setup>
                <setup>
                    <module>Excellence_Echeckapi</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </echeckapi_setup>
            <echeckapi_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </echeckapi_write>
            <echeckapi_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </echeckapi_read>
        </resources>
        <blocks>
            <echeckapi>
                <class>Excellence_Echeckapi_Block</class>
            </echeckapi>
        </blocks>
        <helpers>
            <echeckapi>
                <class>Excellence_Echeckapi_Helper</class>
            </echeckapi>
        </helpers>
    </global>
    <default>
        <payment>
            <echeckapi>
                <active>1</active>
                <model>echeckapi/echeckapi</model>
                <order_status>processing</order_status>
                <title>Echeck Credit Card</title>
                <message>Please enter your credit card information</message>
            </echeckapi>
         </payment>
    </default>
</config>