<?xml version="1.0"?>
<config>
    <modules>
        <Iksula_Bpay>
            <version>0.1.0</version>
        </Iksula_Bpay>
    </modules>
    <frontend>
        <routers>
            <bpay>
                <use>standard</use>
                <args>
                    <module>Iksula_Bpay</module>
                    <frontName>bpay</frontName>
                </args>
            </bpay>
        </routers>
    </frontend> 
    <global>
        <models>
            <bpay>
                <class>Iksula_Bpay_Model</class>
                <resourceModel>bpay_mysql4</resourceModel>
            </bpay>
        </models>
        <resources>
            <bpay_setup>
                <setup>
                    <module>Iksula_Bpay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bpay_setup>
            <bpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bpay_write>
            <bpay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bpay_read>
        </resources>
        <blocks>
            <bpay>
                <class>Iksula_Bpay_Block</class>
            </bpay>
        </blocks>
        <helpers>
            <bpay>
                <class>Iksula_Bpay_Helper</class>
            </bpay>
        </helpers>
    </global>
    <default>
        <payment>
            <bpay>
                <active>0</active>
                <model>bpay/bpay</model>
                <sort_order>1</sort_order>
                <allowspecific>0</allowspecific>
            </bpay>
         </payment>
    </default>
</config>