<body>
<table width="600" border="0" cellspacing="0" cellpadding="0" style="font-size:10px " align="center">
  <tr>
    <td ><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="33%" align="left" valign="top"><a href="http://www.alldaychemist.com/?utm_source=Email-Feedback&amp;utm_campaign=Email-Feedback&amp;utm_medium=Email&amp;utm_nooverride=1&amp;utm_keyword=logo"><img src="http://campaigns.iksula.com/email/adc/091504_emailer/images/img090415_03.jpg" alt="" width="210" style="display:block;" border="0" /></a></td>
        <td width="67%" align="right" valign="middle" style="padding-bottom:10px; font-family:Arial; font-size:11px; color:#33332d; padding-right:20px;"><strong>Toll Free: Tel +1(855) 840-0584 <br />
          International Tel +1 (213) 814 1313  &amp; +1(213) 814-2397 <br />
          Calling Hours 5:00 AM to 5:00 PM (PST)</strong></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td style="padding:20px 15px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="57%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#666666;">Dear <span style="color:#506f00; font-size:22px;"><strong>{{var customername}}}</strong>,</span></td>
          </tr>
          <tr>
            <td style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#666666; padding:30px 0px">You recently bought some products from our website <strong style="color:#506f00;">alldaychemist.com</strong>. We hope you had a good experience with us. </td>
          </tr>
          <tr>
            <td style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#666666;">We care about our customers. Hence, <strong style="color:#506f00;">we have partnered with</strong></td>
          </tr>
          <tr>
            <td style="padding:10px 0;"><img src="http://campaigns.iksula.com/email/adc/091504_emailer/images/img090415_09.jpg" width="323" style="display:block;" border="0" /></td>
          </tr>
          <tr>
            <td style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#666666;">to help us improve our services.</td>
          </tr>
        </table></td>
        <td width="43%" align="left" valign="top"><a href="http://www.alldaychemist.com/?utm_source=Email-Feedback&amp;utm_campaign=Email-Feedback&amp;utm_medium=Email&amp;utm_nooverride=1&amp;utm_keyword=banner"><img src="http://campaigns.iksula.com/email/adc/091504_emailer/images/img090415_07.jpg" width="241" style="display:block;" border="0" /></a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; color:#666666; padding:15px;" >Kindly leave a review about us so that we can serve you better. Just click on<br />
    the button below.<br /></td>
  </tr>
  <tr>
    <td align="center" bgcolor="#ffffff" style="padding:20px"><a href="{{var reviewlink}}}"><img src="http://campaigns.iksula.com/email/adc/091504_emailer/images/img090415_13.jpg" width="200" alt="" border="0" style="display:block;" /></a></td>
  </tr>
  <tr>
    <td align="left" bgcolor="#ffffff" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; color:#333333; padding:15px;"><strong>Always working towards providing the best service to you,<br />
    <span  style="color:#506f00;">Team AllDayChemist.</span></strong></td>
  </tr>
  <tr>
    <td align="center" bgcolor="#f2f5e5" style="font-family:Arial; font-size:11px; color:#272727; padding:5px;">Copyright © 2015 AllDayChemist. All rights reserved. </td>
  </tr>
  <tr>
    <td align="center" bgcolor="#f2f5e5" style="padding-bottom:10px;"><table width="45%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="10%" align="center"><a href="https://www.facebook.com/alldaychemist2"><img src="http://campaigns.iksula.com/email/adc/091504_emailer/images/img_120315_16.jpg" width="22" alt="" style="display:block" border="0" /></a></td>
        <td width="10%" align="center"><a href="https://twitter.com/alldaychemist1"><img src="http://campaigns.iksula.com/email/adc/091504_emailer/images/img_120315_18.jpg" width="22" alt="" style="display:block" border="0" /></a></td>
        <td width="11%" align="center"><a href="http://www.pinterest.com/alldaychemist/"><img src="http://campaigns.iksula.com/email/adc/091504_emailer/images/img_120315_20.jpg" width="23" alt="" style="display:block" border="0" /></a></td>
        <td width="10%" align="center"><a href="http://alldaychemist.com/blog/?utm_source=Email-Feedback&amp;utm_campaign=Email-Feedback&amp;utm_medium=Email&amp;utm_nooverride=1&amp;utm_keyword=blog"><img src="http://campaigns.iksula.com/email/adc/091504_emailer/images/img_120315_22.jpg" width="23" alt="" style="display:block" border="0" /></a></td>
        <td width="59%" align="right" style="padding-left:5px;"><img src="http://campaigns.iksula.com/email/adc/091504_emailer/images/img_120315_24.jpg" width="152" alt="" style="display:block" border="0" /></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>

