<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Echecksteps>
      <version>0.1.1</version>
    </Iksula_Echecksteps>
  </modules>
  <frontend>
    <routers>
      <echecksteps>
        <use>standard</use>
          <args>
            <module>Iksula_Echecksteps</module>
            <frontName>echecksteps</frontName>
          </args>
      </echecksteps>
    </routers>
		<layout>
		  <updates>
			<echecksteps>
			  <file>echecksteps.xml</file>
			</echecksteps>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <echecksteps>
        <class>Iksula_Echecksteps_Helper</class>
      </echecksteps>
    </helpers>
	<blocks>
	  <echecksteps>
		<class>Iksula_Echecksteps_Block</class>
	  </echecksteps>
	</blocks>
	<models>
	  <echecksteps>
		<class>Iksula_Echecksteps_Model</class>
		<resourceModel>echecksteps_mysql4</resourceModel>
	  </echecksteps>
	  <echecksteps_mysql4>
		<class>Iksula_Echecksteps_Model_Mysql4</class>
		<entities>		  
			  <echecksteps>
				<table>echeck_working_steps</table>
			  </echecksteps>
        </entities>
	  </echecksteps_mysql4>
	</models>
	<resources>
	  <echecksteps_setup>
		<setup>
		  <module>Iksula_Echecksteps</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </echecksteps_setup>
	  <echecksteps_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </echecksteps_write>
	  <echecksteps_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </echecksteps_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <echecksteps>
	    <use>admin</use>
		<args>
		  <module>Iksula_Echecksteps</module>
		  <frontName>admin_echecksteps</frontName>
		</args>
	  </echecksteps>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <echecksteps module="echecksteps">
		<title>Echecksteps</title>
		<sort_order>100</sort_order>
		<children>
		  <echecksteps module="echecksteps">
		    <title>Manage Echecksteps</title>
			<sort_order>0</sort_order>
			<action>admin_echecksteps/adminhtml_echecksteps</action>
		  </echecksteps>
		</children>
	  </echecksteps>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<echecksteps translate="title" module="echecksteps">
			  <title>Echecksteps</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <echecksteps translate="title">
			<title>Manage Echecksteps</title>
			<sort_order>0</sort_order>
		  </echecksteps>
			  </children>
			</echecksteps>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<echecksteps>
		  <file>echecksteps.xml</file>
		</echecksteps>
	  </updates>
	</layout>
  </adminhtml>
</config> 