<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Customerinfo>
      <version>0.1.0</version>
    </Iksula_Customerinfo>
  </modules>
  <global>
  	<routers>
      <customerinfo>
        <use>standard</use>
          <args>
            <module>Iksula_Customerinfo</module>
            <frontName>customerinfo</frontName>
          </args>
      </customerinfo>
    </routers>
    <helpers>
      <customerinfo>
        <class>Iksula_Customerinfo_Helper</class>
      </customerinfo>
    </helpers>
	<blocks>
	  <customerinfo>
		<class>Iksula_Customerinfo_Block</class>
	  </customerinfo>
	</blocks>
	<models>
	  <customerinfo>
		<class>Iksula_Customerinfo_Model</class>
		<resourceModel>customerinfo_mysql4</resourceModel>
	  </customerinfo>
	  <customerinfo_mysql4>
		<class>Iksula_Customerinfo_Model_Mysql4</class>
		<entities>		  
			  <customerinfo>
				<table>customerinfo</table>
			  </customerinfo>
        </entities>
	  </customerinfo_mysql4>
	</models>
	<resources>
	  <customerinfo_setup>
		<setup>
		  <module>Iksula_Customerinfo</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerinfo_setup>
	  <customerinfo_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerinfo_write>
	  <customerinfo_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerinfo_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <customerinfo>
	    <use>admin</use>
		<args>
		  <module>Iksula_Customerinfo</module>
		  <frontName>customerinfo</frontName>
		</args>
	  </customerinfo>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <customerinfo module="customerinfo">
		<title>Customerinfo</title>
		<sort_order>100</sort_order>
		<children>
		  <customerinfo module="customerinfo">
		    <title>Manage Customerinfo</title>
			<sort_order>0</sort_order>
			<action>customerinfo/adminhtml_customerinfo</action>
		  </customerinfo>
		</children>
	  </customerinfo>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<customerinfo translate="title" module="customerinfo">
			  <title>Customerinfo</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <customerinfo translate="title">
			<title>Manage Customerinfo</title>
			<sort_order>0</sort_order>
		  </customerinfo>
			  </children>
			</customerinfo>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<customerinfo>
		  <file>customerinfo.xml</file>
		</customerinfo>
	  </updates>
	</layout>
  </adminhtml>
</config> 