/*mobile css by sb*/

@media only screen and (max-width: 1024px){
	/*more info*/
	.customer-account-edit .col-main .more_info_custom .form-list {
	    display: flex;
	    flex-direction: column;
	}
	.customer-account-edit .col-main .more_info_custom .form-list li:nth-child(2){
	   order: -1;
	}
	.customer-account-edit #more_info .form-list .input-box.time_to_call {
	    float: none;
	    margin-top: 10px;
	}
	.customer-account-edit #more_info .form-list select {
	    width: 175px !important;
	}
	.customer-account-edit #more_info .form-list .input-box.time_to_call select{
	    float: none;
	    margin-top: 10px;
	    width: 80px !important;
	}
	/*discount tag*/
	.catalog-product-view .product-details-table table.new_product_list td.price_value span.discount_tag, 
	.review-product-list .product-details-table table.new_product_list td.price_value span.discount_tag {
	    color: #fff;
	    font-weight: bold;
	    border: 1px solid red;
	    border-radius: 12px;
	    background: red;
	    text-align: center;
	}
	.catalog-product-view .product-details-table table.new_product_list td.price_value span, 
	.review-product-list .product-details-table table.new_product_list td.price_value span {
	    display: block !important;
	}
	.catalog-product-view .product-details-table table.new_product_list td.custom_price_center, 
	.review-product-list .product-details-table table.new_product_list td.custom_price_center{
	    text-align: center !important; 
	}
	 .cms-home span.discount_tag, .catalog-category-view span.discount_tag,
 	.catalogsearch-result-index span.discount_tag {
	    position: absolute;
	    top: 5px;
	    left: 5px;
	    width: 40px;
	    height: 45px;
	    background-color: #4f6b05;
	    color: #fff !important;
	    border-radius: 0 0 20px 20px;
	    padding-top: 10px;
	    font-weight: bold;
	    font-size: 15px;
	    line-height: 14px;
	    text-transform: uppercase;
	    text-align: center;
	    background: url(../images/Adc_Offer_Tag.png) 1px 1px no-repeat;
	    width: 49px;
	    height: 40px;
	    background-size: 46px;
		}
/*discount tag end*/
	/*payment-block */
	.opc-index-index .payment-block .trust_banner{
	    width: 100%;
	    display: inline-block;
	    margin-bottom: 25px;
	    text-align: center;
	}
	.opc-index-index .payment-block .trust_banner .trust_banners{
	    display: inline-block;
	    width: 100%;
	    text-align: center;
	    border: 1px solid #ccc;
    	box-shadow: 0 0 5px #ccc;
	}
	.opc-index-index .payment-block .trust_banner .trust_banners a{
	    display: inline-block;
	}
	.opc-index-index .payment-block .trust_banner .trust_banners img{
	    width: auto;
	    height: auto;
	}
	.opc-index-index .payment-block .trust_banner span.banner-3_message::after {
        left: 50%;
    }
    .opc-index-index .payment-block .trust_banner span.banner-3_message {
        left: 10%;
        width: 80%;
        opacity: 1!important;
    }
    .opc-index-index .payment-block .trust_banner span.banner-3_message p {
	    font-size: 14px;
	    margin: 0;
	    padding: 15px;
	    color: black;
	    font-weight: 600;
	}
	/*pay now*/
	.my-account .data-table td a.link-paylink{
	    display: inline-block;
	}
	.my-account .data-table td a.link-paylink .pay_now_image{
	    height: 22px;
	    display: inline-block;
	}
	.related_slider .product-images a{
		text-align: center;
	}
	 .related_slider .product-images img{
	    width: auto !important;
	    max-width: 100%;	
	    display: inline-block;    
	}
	.catalog-product-view .main-container .mini-products-list .product-image img, 
	.review-product-list .main-container .mini-products-list .product-image img {
		width: auto;
	    height: auto;
	    max-width: 100%;
	    min-width: initial;
    	min-height: initial;
	}
	.catalog-product-view .main-container .mini-products-list .product-image a, 
	.review-product-list .main-container .mini-products-list .product-image a {
		text-align: center;
	}
	.catalog-category-view .products-list .product-image{
	    text-align: center;
	}
	.featured_products .featured-block-tab .products-grid .item .product-image img {
	    width: auto !important;
        max-width: 100%;
	}
	.catalog-category-view .col-main .category-products .products-grid li.item .product-image img.lazy,
	.catalog-category-view .col-main .category-products .products-list li.item .product-image img.lazy,
	 .catalogsearch-result-index .col-main .category-products .products-grid li.item .product-image img.lazy,
	 .catalogsearch-result-index .col-main .category-products .products-list li.item .product-image img.lazy{
		width: auto !important;
        max-width: 100%;
	}
	.cms-home .main_config_page .leading_online .leading_online_data ul li a img {
        width: auto !important;
        max-width: 100%;
    }
	.opc-wrapper-opc .payment-block .payment_below_outer {
	    display: inline-block;
	    margin-left: 35px;
	    margin-top: 10px;
	    color: #ff0000;
	    font-weight: 600;
	}
	.opc-wrapper-opc .payment-block .payment_below_outer p{
	    font-size: 14px;
	    color: #ff0000;
	}	

		/*subscription*/

	.footer-container .subs_a {
	    cursor: pointer;
	}
	.footer-container #toTop{
	    width: 100%; position: 
	    relative; bottom: 0px; 
	    position: fixed; 
	    background-color: #ccc; 
	    padding: 10px; 
	    margin: 0px auto; 
	    left: 0px; z-index: 190;
	}
	.footer-container .subscribe,.subscribe_msg{
	    text-align: center;
	}
	.footer-container .subscribe_msg{
	    padding: 5px;
	}
	.footer-container .subscribe-innerdiv{
	    margin:auto;
	    width:100%; 
	    display: inline-block;
	}
	.footer-container #toTop {
	position: fixed;
	bottom: 0px;
	cursor: default;
	color: #fff;
	font-size: 11px;
	text-align: center;
	width: 100%;
	height:30px;
	background: #000000 !important;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0;
	left: 0;
	z-index: 500;
	}

	.footer-container #toTop input.subs {
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    border-radius: 3px;
	    border: 0px solid #ccc;
	    padding: 5px;
	    width: 200px;
	    margin-left: 10px;
	    font-size: 12px;
	}

	.footer-container #subscribebtn {
	    -webkit-align-items: flex-start;
	    text-align: center;
	    cursor: default;
	    color: #fff;
	    border: 0!important;
	    padding: 2px 10px 3px;
	    border-image-source: initial;
	    border-image-slice: initial;
	    border-image-width: initial;
	    border-image-outset: initial;
	    border-image-repeat: initial;
	    box-sizing: border-box;
	}

	.footer-container div#order_reminder_success {
	    position: fixed;
	    display: block;
	    bottom: 52px;
	    cursor: default;
	    color: #fff;
	    font-size: 11px;
	    text-align: center;
	    width: 100%;
	    height: 30px;
	    background: #000000 !important;
	    font-size: 14px;
	    font-weight: bold;
	    padding: 5px 0;
	    left: 0;
	    z-index: 500;
	}

	/*subscription end*/

	.opc-wrapper-opc .payment-block .payment_below_outer {
	    display: inline-block;
	    margin-left: 35px;
	    margin-top: 10px;
	    color: #ff0000;
	    font-weight: 600;
	}
	.opc-wrapper-opc .payment-block .payment_below_outer p{
	    font-size: 14px;
	    color: #ff0000;
	}	
		/*customer review*/
	.catalog-product-view #customer-reviews .review_wrapper{
	    border-bottom: 1px solid #c9c9c9;
	    display: inline-block;
	    width: 100%;
	}
	.catalog-product-view #customer-reviews .review_wrapper .add_review_wrap{
	    width: 80%;
	    display: inline-block;
	    float: right;
	    margin-bottom: 15px;
	}
	.catalog-product-view #customer-reviews .btnExtendedReview,.catalog-product-view #customer-reviews .close_review{
	    color: #fff !important;
	    font-size: 14px;
	    line-height: 14px;
	    padding: 8px 24px 8px 24px;
	    float: left;
	    border-radius: 30px;
	    display: inline-block;
	    font-family: Open Sans, sans-serif;
	    height: auto;
	    font-weight: normal;
	    margin: 15px 5px;
	    float: none;
	    background: #9fb701;
	    border: 0;
	    font-weight: normal !important;
	}

	.catalog-product-view #customer-reviews .btnExtendedReview span{
	    padding: 0;
	    background: transparent;
	}
	.catalog-product-view #customer-reviews .review-cover{
	    border-bottom: 0 !important;
	}
	.catalog-product-view #customer-reviews .add_comment {
	    font-size: 14px;
	    text-transform: capitalize;
	    width: 80%;
	    display: inline-block;
	    float: right;
	    color: #506f00;
	    font-weight: 600;
	}
	.catalog-product-view #customer-reviews .add_comment {
        width: 100%;
    }
    .catalog-product-view #customer-reviews .review_wrapper .add_review_wrap{
        width: 100%;
    }
	.catalog-product-view #customer-reviews .review_right_block .review_comment,
	.catalog-product-view #customer-reviews .review_right_block .review_comment .review_comment_level2{
	    width: 96%;
	    display: inline-block;
	    float: right;
	}
	.catalog-product-view #customer-reviews .add_review_form1 #register_captcha_code{
	    font-size: 14px;
	    background: #fff;
	    border-radius: 5px;
	    border: 1px solid #aaaaaa;
	    height: 35px;
	    box-sizing: border-box;
	    width: 180px;
	    float: left;
	}
	.catalog-product-view #customer-reviews .add_review_form1 #register_captcha_img{
	    border: 1px solid #aaa;
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 35px;
	    border-radius: 5px;
	    overflow: hidden;
	    box-sizing: border-box;
	}
	.catalog-product-view #customer-reviews .add_review_form1 textarea{
	    height: 100px;
	    width: 285px;
	    padding: 10px;
	    font-size: 14px;
	    background: #fff;
	    border-radius: 5px;
	    border: 1px solid #aaaaaa;
	    box-sizing: border-box;
	    display: block;
	}

	.comment_wraper{
	    padding:10px;
	    border: 1px solid #ccc;
	    border-radius: 8px; 
	    clear: both;
	    margin-bottom: 15px;
	}
	.catalog-product-view #customer-reviews .review_right_block .review_title{
	    color: #f06405;
	}
	.comment_count{
	    margin-bottom: 5px;
	}
	.catalog-product-view #customer-reviews .add_review_form1 .captcha_input_box{
	    display: inline-block;
	    font-size: 14px;
	    position: relative;
	    margin-top: 10px;
	}
	.catalog-product-view #customer-reviews .add_review_form1 .captcha_input_box .captcha_small {
	    text-align: left;
	    font-size: 14px;
	    margin: 10px 0;
	    display: inline-block;
	    width: 100%;
	}
	.catalog-product-view #customer-reviews .add_review_form1 .captcha_input_box .captcha_small a{
	    font-weight: bold;
	}

	.catalog-product-view #customer-reviews small.date{
	    text-align: left !important;
	    margin: 5px 0 0px 0;
	}

	/*review closed*/
	.catalog-product-view .product-details-table .product-options-bottom .add-to-cart{
	    float: left;
	}
	.catalog-product-view .product-details-table .product-options-bottom .add-to-cart button.button{
	    border-bottom: 0;
	}
	.trustedcompany-review-index .col-right {
	  width: 24%;
	}
	.trustedcompany-review-index .col-right.sidebar .block .block-title{
	  background: #818181;
	  height: auto;
	  line-height: 51px;
	  font-size: 16px;
	  text-align: center;
	  border: 0;
	}
	.trustedcompany-review-index .col-right.sidebar .block .block-title strong{
	  color: #f1f1f3;
	  padding: 10px 4px;
	  font-size: 16px;
	}
	.trustedcompany-review-index .col-right.sidebar .block .block-title strong span{
	  background: none;
	  padding: 0;
	  font-weight: normal;
	  text-transform: capitalize;
	}
	.trustedcompany-review-index .col-right.sidebar .block .block-content{
	  background-color: #f4f4f4;
	  border: 1px solid #cdcdcd;
	}
	.trustedcompany-review-index .col-right.sidebar .block-compare,.trustedcompany-review-index .col-right.sidebar .sb_block{
	    display: none;
	}

	.trustedcompany-review-index .col-right.sidebar .featured_products,
	.trustedcompany-review-index .col-right.sidebar .bestselling_products {
	  margin-bottom: 30px;
	}
	.trustedcompany-review-index .col-right.sidebar .featured_products .featured-block-tab .products-grid,
	.trustedcompany-review-index .col-right.sidebar .bestselling_products .bestselling-block-tab .products-grid {
	  width: 100%;
	  padding: 18px 15px;
	  background-color: #f4f4f4;
	}
	.trustedcompany-review-index .col-right.sidebar .featured_products .featured-block-tab .products-grid .slick-prev,
	.trustedcompany-review-index .col-right.sidebar .bestselling_products .bestselling-block-tab .products-grid .slick-prev {
	  left: 5px !important;
	  top: 80px;
	  background: url(../images/left_arrow.png) center center no-repeat;
	  height: 25px;
	}
	.trustedcompany-review-index .col-right.sidebar .featured_products .featured-block-tab .products-grid .slick-prev:before,
	.trustedcompany-review-index .col-right.sidebar .bestselling_products .bestselling-block-tab .products-grid .slick-prev:before {
	  content: " " !important;
	}
	.trustedcompany-review-index .col-right.sidebar .featured_products .featured-block-tab .products-grid .slick-next,
	.trustedcompany-review-index .col-right.sidebar .bestselling_products .bestselling-block-tab .products-grid .slick-next {
	  right: 5px !important;
	  top: 80px;
	  background: url(../images/right_arrow.png) center center no-repeat;
	  height: 25px;
	}
	.trustedcompany-review-index .col-right.sidebar .featured_products .featured-block-tab .products-grid,
	.trustedcompany-review-index .col-right.sidebar .bestselling_products .bestselling-block-tab .products-grid{
	    border-bottom: 0;
	    background: #fff;
	    font-size: 14px;
	    color: #000;
	    font-weight: 400;
	    width: 100%;
	    padding: 18px 15px;
	    background-color: #f4f4f4;
	}
	.trustedcompany-review-index .col-right.sidebar .featured_products .featured-block-tab .products-grid .slick-next:before,
	.trustedcompany-review-index .col-right.sidebar .bestselling_products .bestselling-block-tab .products-grid .slick-next:before {
	  content: " " !important;
	}
	.trustedcompany-review-index .col-right.sidebar .featured_products .featured-block-tab .products-grid .item,
	.trustedcompany-review-index .col-right.sidebar .bestselling_products .bestselling-block-tab .products-grid .item {
	  width: 100%;
	  margin-right: 0;
	  padding: 0;
	  min-height: 270px;
	  box-sizing: border-box;
	  margin: 0 1%;
	}
	.trustedcompany-review-index .col-right.sidebar .featured_products .featured-block-tab .products-grid .item .product-image,
	.trustedcompany-review-index .col-right.sidebar .bestselling_products .bestselling-block-tab .products-grid .item .product-image {
	    border: 1px solid #d3d3d3;
	    display: block;
	    box-sizing: border-box;
	    text-align: center;
	    margin-bottom: 15px;
	    width: 100%;
	    padding: 10px 0;
	    background: #fff;
	    height: auto;
	}
	.trustedcompany-review-index .col-right.sidebar .featured_products .featured-block-tab .products-grid .item .product-image img,
	.trustedcompany-review-index .col-right.sidebar .bestselling_products .bestselling-block-tab .products-grid .item .product-image img{
	    width: auto;
	    height: auto;
	    display: inline;
	}
	.trustedcompany-review-index .col-right.sidebar .featured_products a,
	.trustedcompany-review-index .col-right.sidebar .bestselling_products a{
	    outline: none;
	    color: #666;
	    text-decoration: none;
	    font-size: 14px;
	}
	.trustedcompany-review-index .col-right.sidebar .featured_products .featured-block-tab .products-grid .item .pr-details-height,
	.trustedcompany-review-index .col-right.sidebar .bestselling_products .bestselling-block-tab .products-grid .item .pr-details-height {
	  text-align: left;
	  padding: 0;
	}
	.trustedcompany-review-index .col-right.sidebar .featured_products .featured-block-tab .products-grid .item .pr-details-height .product-name,
	.trustedcompany-review-index .col-right.sidebar .featured_products .featured-block-tab .products-grid .item .pr-details-height .generic_name, 
	.trustedcompany-review-index .col-right.sidebar .featured_products .featured-block-tab .products-grid .item .pr-details-height .generic_for {
	  text-overflow: ellipsis;
	  overflow: hidden;
	  white-space: nowrap;
	  line-height: 17px;
	  font-weight: normal;
	  display: block;
	  font-size: 14px;
	}
	.trustedcompany-review-index .col-right.sidebar .bestselling_products .bestselling-block-tab .products-grid .item .pr-details-height .product-name,
	.trustedcompany-review-index .col-right.sidebar .bestselling_products .bestselling-block-tab .products-grid .item .pr-details-height .generic_name, 
	.trustedcompany-review-index .col-right.sidebar .bestselling_products .bestselling-block-tab .products-grid .item .pr-details-height .generic_for {
	  text-overflow: ellipsis;
	  overflow: hidden;
	  white-space: nowrap;
	  line-height: 17px;
	  font-weight: normal;
	  display: block;
	  font-size: 14px;
	}
	.trustedcompany-review-index .col-right.sidebar .featured_products .featured-block-tab .products-grid .item .pr-details-height .product-name,
	.trustedcompany-review-index .col-right.sidebar .bestselling_products .bestselling-block-tab .products-grid .item .pr-details-height .product-name {
	    margin-bottom: 13px;
	}
	.trustedcompany-review-index .col-right.sidebar .featured_products .featured-block-tab .products-grid .item .pr-details-height .product-name a,
	.trustedcompany-review-index .col-right.sidebar .bestselling_products .bestselling-block-tab .products-grid .item .pr-details-height .product-name a {
	    overflow: hidden;
	    text-decoration: none;
	    color: #5f7f0c;
	    font-size: 14px;
	    font-weight: 600;
	}
	.trustedcompany-review-index .col-right.sidebar .featured_products .featured-block-tab .products-grid .item .pr-details-height .manufactured_by,
	.trustedcompany-review-index .col-right.sidebar .bestselling_products .bestselling-block-tab .products-grid .item .pr-details-height .manufactured_by {
	  min-height: 30px;
	  line-height: 19px;
	  margin: 10px 0;
	  height: 38px;
	  font-weight: normal;
	}
	.trustedcompany-review-index .col-right.sidebar .featured_products .featured-block-tab .products-grid .item .first_child_info .custom_price,
	.trustedcompany-review-index .col-right.sidebar .bestselling_products .bestselling-block-tab .products-grid .item .first_child_info .custom_price {
	    color: #202020;
	    font-weight: 600;
	    margin: 3px 0;
	    width: 95%;
	    display: inline-block;
	}
	.trustedcompany-review-index .col-right.sidebar .featured_products .featured-block-tab .products-grid .item .first_child_info .custom_price .custom_child_3,
	.trustedcompany-review-index .col-right.sidebar .bestselling_products .bestselling-block-tab .products-grid .item .first_child_info .custom_price .custom_child_3 {
	  color: #5f7f0c;
	}
	.trustedcompany-review-index .col-right.sidebar .featured_products .featured-block-tab .products-grid .item .first_child_info .custom_price .custom_child_3 + span,
	.trustedcompany-review-index .col-right.sidebar .bestselling_products .bestselling-block-tab .products-grid .item .first_child_info .custom_price .custom_child_3 + span {
	  color: #5f7f0c;
	}

    .testimonial-form-index div#ratingBox {
        margin-left: 8% !important;
        margin-top: 0!important;
    }
    .testimonial-form-index .form-list label{
    	float: left;
    }
    .testimonial-form-index .form-list .input-box{
    	clear: none;
    	float: right;
    	width: 75%;
    }
    .testimonial-form-index .testimonial-submit{
    	width: 60%;
    	margin: 0 auto;
    	text-align: center;
    }
    .testimonial-form-index .testimonial-submit form{
    	display: inline-block;
    }
    .testimonial-form-index .form-list input.input-text, .testimonial-form-index .form-list textarea{
    	width: 100%;
    	box-sizing: border-box;
    }
    .testimonial-form-index .std-input-box{
    	width: 75%;
    }
	 .testimonial-form-index .col-main {
	    padding: 0;
	}
	.testimonial-form-index button.button > span {
	    border-bottom: 2px solid #506f00;
	}
	.testimonial-form-index button.button > span:hover {
	    border-bottom: 2px solid #8e4407;
	}
	.testimonial-form-index .input-box-captcha {
	    float: left;
	    width: 100%;
	    margin: 0 0 8px;
	    text-align: left;
	}
	.testimonial-form-index .input-box-captcha label {
	    float: left;
	    font-size: 14px;
	    display: inline-block;
	    color: #666;
	    font-weight: bold;
	    position: relative;
	    z-index: 0;
	}
	.testimonial-form-index .input-box-captcha label.required em {
	    right: inherit;
	    top: 0;
	    margin-left: 3px;
	    position: static;
	    float: right;
	    font-style: normal;
	    color: #eb340a;
	}
	.testimonial-form-index .input-box-captcha .input-box {
	    width: 75%;
	    display: inline-block;
	    float: right;
	}
	.testimonial-form-index .input-box-captcha input.input-text {
	    width: 45%;
	}
	.testimonial-form-index .input-box-captcha .input-box p {
	    font-size: 14px;
	    display: inline-block;
	    color: #666;
	    font-weight: bold;
	}
	.testimonial-form-index div#ratingBox {
	    float: left;
	    width: 60%;
	    margin-top: 10px;
	    margin-left: 20%;
	}
	.overrides-method-productreview .review_by {
	    font-size: 15px;
	    display: inline-block;
	    float: left;
	    line-height: 39px;
	    margin-left: 10%;
	    color: #6B9A63;
	}
	.overrides-method-productreview h2.review_rating_heading {
	   text-transform: uppercase;
	    color: #6B9A63;
	    text-align: left;
	    clear: both;
	    margin: 10px 0;
	    display: inline-block;
	    width: 100%;
	    font-size: 14px;
	}
	.checkout-cart-index .cart_text {
	    font-size: 15px;
	    color: #000;
	    margin-bottom: 8px;
	    line-height: 26px;
	}
	.checkout-cart-index .cart_text span.shipping-xtra {
	    display: block;
	    font-size: 14px;
	}
	.checkout-cart-index .cart_text span.i_image img {
	    width: 20px;
	    margin-top: 2px;
	}
	.checkout-cart-index .cart_text span.price {
	    color: #F6770E;
	}
	.checkout-cart-index table#shopping-cart-table td {
	    box-sizing: border-box;
	    position: relative;
	}
	.checkout-cart-index .data-table thead th.move_to_wishlist {
	    display: none;
	}
	.checkout-cart-index .pr-checkout-r1 .align-l {
	    width: 100%;
	}
	.checkout-cart-index .pr-checkout-r1 .align-r {
	    float: left;
	    margin-left: 0;
	}
	.checkout-cart-index .cart-table tfoot td {
	    padding: 10px 0px;
	}
	.checkout-cart-index table#shopping-cart-table td:nth-child(3) {
	    width: 14%;
	}
	.checkout-cart-index table#shopping-cart-table td:nth-child(4) {
	    width: 21%;
	}
	.checkout-cart-index .data-table thead th.unit_price {
	    width: 19%;
	}
	.cms-index-index .slider-block .products-grid li.item {
	    /* margin-right: 10px; */
	    width: 100% !important;
	}
	#checkout-review-table td.last {
	    width: 22% !important;
	}

	/*product review page*/
	.overrides-method-productreview .review_desc {
                    float: right;
                    width: 70%;
                    display: inline-block;
                }
                .overrides-method-productreview  .review_frm .rating_heading {
                    margin-right: 0;
                    font-size: 14px;
                    line-height: 28px;
                    display: block;
    	    float: none;
                }
                .overrides-method-productreview .review_frm {
	    display: inline-block;
	    width: 100%;
	    border-top: 1px solid #e7e7e7;
	}
	.overrides-method-productreview .review_img {
	    text-align: center;
	     float: left;
	    width: 28%;
	    display: inline-block;
	}
	.overrides-method-productreview .review_img img{
	    width: 45%;
	    height: auto;
	}
	.rating_section {
	    display: inline-block;
	    float: right;
	    width: 70%;
	}
	.star_wrap, .rating_heading {
	    display: inline-block;
	    float: left;
	    line-height: 39px;
	}
	.star_wrap > div {
	    float: left;
	}
	.rating_section input[type=radio].css-checkbox {
	    position: absolute;
	    z-index: -1000;
	    left: -1000px;
	    overflow: hidden;
	    clip: rect(0 0 0 0);
	    height: 1px;
	    margin: -1px;
	    padding: 0;
	    border: 0;
	    width: 100%;
	    float: right;
	    clear: none;
	}
	input[type="radio"] {
	    line-height: normal;
	}
	input.radio {
	    display: inline-block;
	    vertical-align: middle;
	}
	.overrides-method-productreview .star_wrap label.custom_css_label {
	    margin-bottom: 0;
	    width: 34px;
	    height: 34px;
	    background: url(../images/custom_new_stars.png) center center no-repeat;
	    padding: 0;
	    background-size: 100%;
	    display: inline-block;
	    line-height: 25px;
	    font-size: 25px;
	    vertical-align: middle;
	    cursor: pointer;
	    font-weight: 600;
	}
	.overrides-method-productreview .review_frm #summary_field_div {
	    margin: 20px 0;
	}
	.overrides-method-productreview .form-list li {
	    margin: 0 0 8px;
	}
	.overrides-method-productreview .review_frm .summary_input {
	    width: 100%;
	}
	.overrides-method-productreview input#summary_field {
	    background-color: #fff;
	    height: 22px;
	    padding: 15px 7px;
	    line-height: normal;
	    border: 1px solid #a6a6a6;
	    border-top-color: #949494;
	    border-radius: 3px;
	    box-shadow: 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.07) inset;
	    outline: 0;
	    font-size: 13px!important;
	    line-height: 19px!important;
	    width: 100%;
	    box-sizing: border-box;
	}
	.overrides-method-productreview .review_frm .review_field_input {
	    width: 100%;
	    display: block;
	}
	.overrides-method-productreview .review_frm #review_field {
	    width: 100%;
	    height: 10em;
	    border: 1px solid #DDD;
	    padding: 8px 5px;
	    box-sizing: border-box;
	    overflow: auto;
	}
	.catalog-product-view .rating-links .add_your_review_btn {
	    border: 0;
	    font-size: 14px;
	    text-align: left;
	    vertical-align: top;
	    font-weight: normal;
	    text-decoration: none;
	    color: #fff;
	    background: #506f00;
	    height: 28px;
	    line-height: 28px;
	    display: inline-block;
	    text-align: center;
	    border-bottom: 2px solid #2a360c;
	    padding: 0 12px;
	    font-size: 12px;
	}
	.catalog-product-view .review-count-pr{
		width: 100%;
		display: inline-block;
		margin: 0 auto;
		text-align: center;
	}
	.catalog-product-view .review-count-pr .rating-box{
	    display: inline-block;
	    text-align: center;
	    float: none;
	}
	.catalog-product-view .review-count-pr .rating-links{
	    display: inline-block;
	    text-align: center;
	    float: none;
	}
	.new_arrival{
        margin: 0 5% 0 0;
        display: inline-block;
    }
    .new_arrival a img{
	    margin: -14% 0 0;
	}
	.catalog-product-view .product-details-table .product-options-bottom {
	    background-color: #fff;
	}
	.trustedcompany-review-index .col-main .aggregate-rating{
	    margin-bottom: 10px;
	} 
	.trustedcompany-review-index .col-main .trusted_company .review_details{
	    background-color: #f4f4f4;
	    border: 1px solid #cdcdcd;
	    margin-bottom: 30px;
	    padding: 20px;
	} 
	.trustedcompany-review-index .col-main .review_details .review_subject,.trustedcompany-review-index .col-main .review_details .review_body{
	    font-size: 14px;
	}

	/*echeck cms page*/
	.cms-content-114-echeck .col-main .std{
	    position: relative;
	}
	.cms-content-114-echeck .main .col-main .howecheckworks{
	    position: absolute;
	    right: 0;
	    top: -54px;
	    margin: 0;
	    padding: 0px 13px !important;
	    line-height: 25px !important;
	    background: #72ae12;
	    border-radius: 25px;
	    height: 25px;
	    color: #fff!important;
	   position: absolute;
	    right: 0;
	    top: -60px;
	    margin: 0;
	    padding: 1px 13px !important;
	    line-height: 28px !important;
	    background: #72ae12;
	    border-radius: 25px;
	    height: 29px;
	    color: #fff!important;
	    font-size: 14px;

	}
	.cms-content-114-echeck .col-main .std .howecheckworks a{
	    color: #fff;
	}
}

@media only screen and (max-width: 768px){
	.testimonial-form-index .testimonial-submit form{
		width: 90%;
	}
	.testimonial-form-index .testimonial-submit{
		width: 75%;
	}
	.testimonial-form-index div#ratingBox{
		margin-left: 11% !important;
	}
	.cms-content-114-echeck .main .col-main .howecheckworks{
	    position: absolute;
	    right: 0;
	    top: -38px;
	    margin: 0;
	    padding: 0px 13px !important;
	    line-height: 25px !important;
	    background: #72ae12;
	    border-radius: 25px;
	    height: 25px;
	    color: #fff!important;
	}
}
@media only screen and (max-width: 736px){
	.opc-index-index .payment-block .trust_banner span.banner-3_message {
        opacity: 1!important;
    }
    .opc-index-index .payment-block .trust_banner span.banner-3_message p {
	    font-size: 14px;
	    margin: 0;
	    padding: 15px;
	    color: black;
	    font-weight: 600;
	}
	.catalog-product-view #customer-reviews .add_review_form1 #register_captcha_code{
	    width: 159px;
	}
	.catalog-product-view #customer-reviews .add_review_form1 textarea{
		width: 265px;
	}
	.catalog-product-view #customer-reviews .add_comment {
		width: 96%;
	}
	 .catalog-product-view #customer-reviews .review_wrapper .add_review_wrap{
        width: 96%;
    }
	.catalog-product-view #customer-reviews .review_comment_span_customername {
	    display: block;
	}
	.catalog-product-view #customer-reviews .separator {
	    display: none;
	}
	.cms-content-114-echeck .main .col-main .howecheckworks{
	   position: absolute;
	    right: 0;
	    top: -45px;
	    margin: 0;
	    padding: 1px 13px !important;
	    line-height: 28px !important;
	    background: #72ae12;
	    border-radius: 25px;
	    height: 29px;
	    color: #fff!important;
	    font-size: 14px;
	} 	
	.trustedcompany-review-index .col-right {
	  width: 100%;
	}
	.trustedcompany-review-index .col-main {
        width: 100%;
        margin-bottom: 30px;
        box-sizing: border-box;
    }
	.trustedcompany-review-index .col-right.sidebar .featured_products .featured-block-tab .products-grid .item .pr-details-height {
        margin-left: 0;
        width: 100%;
        box-sizing: border-box;
    }
    .trustedcompany-review-index .col-right.sidebar .bestselling_products .bestselling-block-tab .products-grid .item .pr-details-height {
        margin-left: 0;
        width: 100%;
        box-sizing: border-box;
    }
	.catalog-product-view .easytabs-content ul.one-time .slick-dots {
	    top: 0 !important;
	    bottom: inherit !important;
	}
	.catalog-product-view .easytabs-content ul.one-time .slick-dots li.slick-active button {
	    background: #506f00;
	}
	.catalog-product-view .easytabs-content ul.one-time .slick-dots li button {
	    background: #818181;
	    margin-top: 0;
	}
	.catalog-product-view .easytabs-content ul.one-time .slick-dots li button:before {
	    color: transparent;
	}
	.new_arrival{
		display: block;
		position: absolute;
		    right: 0;
		    top: -58px;
	}
	.new_arrival.stock-desk{display: none;}
	.overrides-method-productreview .review_by {
	    font-size: 15px;
	    display: inline-block;
	    float: left;
	    line-height: 39px;
	    margin-left: 0;
	    color: #6B9A63;
	}
	.overrides-method-productreview h2.review_rating_heading {
	   text-transform: uppercase;
	    color: #6B9A63;
	    text-align: left;
	    clear: both;
	    margin: 10px 0;
	    display: inline-block;
	    width: 100%;
	    font-size: 12px;
	}
	.overrides-method-productreview .review_desc {
                    float: right;
                    width: 100%;
                    display: inline-block;
                }
                .overrides-method-productreview .review_img img {
	    width: 65%;
	}
	.catalog-product-view .rating-links .add_your_review_btn {
	    border: 0;
	    font-size: 14px;
	    text-align: left;
	    vertical-align: top;
	    font-weight: normal;
	     text-decoration: none;
	    color: #fff;
	    background: #506f00;
	    height: 28px;
	    line-height: 28px;
	    display: inline-block;
	    text-align: center;
	    border-bottom: 2px solid #2a360c;
	    padding: 0 12px;
	    font-size: 12px;
	}
	.catalog-product-view .product-details-table .product-options-bottom {
	    background-color: #fff;
	}
	.trustedcompany-review-index .col-main .aggregate-rating{
	    margin-bottom: 10px;
	} 
	.trustedcompany-review-index .col-main .trusted_company .review_details{
	    background-color: #f4f4f4;
	    border: 1px solid #cdcdcd;
	    margin-bottom: 30px;
	    padding: 20px;
	} 
	.trustedcompany-review-index .col-main .review_details .review_subject,.trustedcompany-review-index .col-main .review_details .review_body{
	    font-size: 14px;
	}
	.opc-wrapper-opc .payment-block dt {
	    height: 42px !important;
	}
	.opc-wrapper-opc .payment-block .payment_below_outer {
	    display: block;
	    margin-left: 0;
	    margin-top: 8px;
	    color: #393939;
	    font-weight: 600;
	    width: 100%;
	}
	.opc-wrapper-opc .payment-block .payment_below_outer p {
	        font-size: 13px;
		    display: block;
		    width: 100%;
		    text-align: center;
		    padding: 5px 0;
		    margin: 0;
	}
	.cms-home .main_config_page .leading_online .leading_online_data ul li a img {
        width: auto !important;
        max-width: 100%;
    }
    .catalog-product-view .product-details-table table.new_product_list td.price_value span.discount_tag, 
	.review-product-list .product-details-table table.new_product_list td.price_value span.discount_tag {
	   color: #fff;
	    font-weight: bold;
	    border: 1px solid red;
	    border-radius: 12px;
	    background: red;
	    text-align: center;
	}
	.catalog-product-view .product-details-table table.new_product_list td.custom_price_center, 
	.review-product-list .product-details-table table.new_product_list td.custom_price_center{
	    text-align: center !important; 
	}
}
@media only screen and (max-width: 568px){
	.testimonial-form-index div#ratingBox{
		margin-left: 6% !important;
	}
}
@media only screen and (max-width: 480px){
	.catalog-product-view #customer-reviews .add_comment {
	    width: 97%;
	}
	.catalog-product-view #customer-reviews .review_wrapper .add_review_wrap {
	    width: 97%;
	}
	.testimonial-form-index .form-list label {
	    margin-bottom: 5px;
	}
	.testimonial-form-index .form-list .input-box {
	    width: 100%;
	}
	.testimonial-form-index .std-input-box {
	    width: 100%;
	}
	.testimonial-form-index .input-box-captcha label {
	    margin-bottom: 5px;	
	}
	.testimonial-form-index .input-box-captcha .input-box {
                    width: 100%;
	}
	.testimonial-form-index div#ratingBox {
	    margin-left: 0 !important;
	    width: 100%;
	    display: block;
	}
	.testimonial-form-index .testimonial-submit{
		width: 90%;
	}
	.testimonial-form-index .testimonial-submit .buttons-set p.back-link{
		margin: 5px 0 0;
	}
}
