@media only screen and (max-width: 1024px){
    /*countdown new yr*/
    .new_year .new_year_countdown {
        display: inline-block;
        width: 100%;
        text-align: center;
        max-width: 100%;
        border: 1px solid #c9c9c9;
        margin: 22px 0;
        background-color: #506f00;
    }
    .new_year .new_year_countdown .container {
        padding: 20px 42px;
        box-sizing: border-box;
    }
    .container .countdown_right img{
        width: 100%;
    }
    .countdown_left {
        float: left;
        width: 50%;
        text-transform: uppercase;
        color: #fff;
        line-height: 21px;
        text-align: right;
    }
    .countdown_left .txt1{
        display: block;
        font-size: 20px;
    }
    .countdown_left .txt2{
        display: block;
        font-size: 14px;
    }
    .countdown_right {
        float: left;
        width: 50%;
    }
    .countdown_text{
        display: inline-block;
        width: 100%;
    }
    .cube_left {
        color: #c4e304;
        font-size: 30px;
    }
    .new_year_img {
        width: 17%;
        position: absolute;
        right: 20%;
        top: 4%;
    }
    .new_year_img img{
        width: 100%;
    }
    .new_year .header .new_arrival.stock-desk {
        position: absolute;
        width: 6%;
        display: inline-block;
        float: right;
        right: 2%;
        top: 14px;
    }
    .countdown {
        font-family: 'Roboto';
        text-transform: uppercase;
        display: inline-block;
        background-color: #2f2f2f;
        width: 100%;
        padding-top: 6px;
        border-radius: 5px;
    }

    .countdown > div { 
        display: inline-block;
        width: 23%;
        box-sizing: border-box; 
    }

    .countdown > div > span {
        display: block;
        text-align: center;
    }

    .countdown-container { 
        margin: 0 3px; 
    }

    .countdown-container .countdown-heading {
        font-size: 12px;
        margin: 3px;
        color: #fff;
    }

    .countdown-container .countdown-value {
        font-size: 20px;
        background: #444444;
        padding: 4px 0px;
        color: #fff;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
        border: 2px solid #202020;
    }
    .countdown-container.seconds{
        display: none;
    }
    /*countdown new yr end*/
    .new_year .header .new_arrival.stock-desk {
        right: 5%;
    }
    .new_year .new_yr_header_wrap {
        position: relative;
        background: url(../images/ADC_Newyr_2018_background.jpg) no-repeat;
        background-size: cover;
    }
    .new_year .header_wrap, .new_year .header-top-block{
        background: url(../images/ADC_Newyr_2018_background.jpg) no-repeat;
    }

    .new_year .header-top-block {
        background: url(../images/ADC_Newyr_2018_background1.jpg) no-repeat;
    }
    .new_year .lights_div {
        background: url(../images/Light.gif) center bottom no-repeat;
        width: 10%;
        height: 97px;
        position: absolute;
        left: 0;
        background-size: 100%;
        display: inline-block;
        bottom: 0;
    }
    .new_year .header .quick-access {
        width: 52% !important;
        margin-right: 130px;
    }
    .new_year .header .form-search input.input-text {
        width: 46%;
    }
    .new_year .header h1.logo {
        margin: 0;
        width: 19%;
        margin-left: 70px;
    }
    .new_year_img {
        width: 20%;
        position: absolute;
        right: 20%;
        top: -3%;
    }
    .container .new_year_img img{
        width: 100%;
    }
    .new_year .header .new_arrival.stock-desk {
        position: absolute;
        width: 6%;
        display: inline-block;
        float: right;
        right: 0;
        top: 14px;
    }
    .header .quick-access {
        padding: 18px 0 0 0;
    }
}
@media only screen and (max-width: 900px){
    .new_year .header h1.logo {
        margin: 0;
        width: 22%;
        margin-left: 42px;
    }
    .new_year .lights_div {
        width: 14%;
    }
    .new_year .header .quick-access {
        width: 55% !important;
        margin-right: 99px;
    }
    .new_year .header .new_arrival.stock-desk {
        margin-right: 4%;
    }
}
@media only screen and (max-width: 840px){
    .new_year .header h1.logo {
        margin: 0;
        width: 23%;
        margin-left: 20px;
    }
    .new_year .header .quick-access {
        width: 60% !important;
        margin-right: 64px;
    }
    .new_year .header-container {
        background: transparent;
    }
    .new_year .header .new_arrival.stock-desk {
        margin-right: 2%;
        top: 17px;
    }
    .new_year_img {
        width: 23%;
        position: absolute;
        right: 20%;
        top: -12%;
    }
}

@media only screen and (max-width: 736px){

   .new_year .header-container .new-mobile-header {
        background: transparent;
   }
    .new_year .header_wrap, .new_year .header-top-block {
        background: transparent;
    }
    .new_year .header_wrap {
        width: 100%;
        display: inline-block;
    }
    .new_year .header .quick-access {
        width: 50% !important;
        margin-right: 80px;
        margin-top: 16px;
    }
    .new_year .header .form-search button.button {
        margin-left: -8%;
        width: 16%;
        box-sizing: border-box;
    }
    .new_year .header h1.logo {
        margin-left: 0;
    }
    .new_year .new_year_countdown {
        display: inline-block;
    }
    .new_year .header .new_arrival.stock-desk {
        display: none;
    }
    .new_year_img {
        display: none;
    }
    .new_year_img_mob {
        position: absolute;
        left: 42%;
        top: -16%;
        width: 20%;
    }
    .new_year_img_mob img {
        width: 100%;
    }
    .new_year .main-container {
        margin-top: 0px !important;
    }
}
@media only screen and (max-width: 694px){

    .new_year .header .quick-access {
        width: 100% !important;
        margin-right: 0;
        background: transparent;
    }
    .new_year_img_mob {
        left: 42%;
        top: -9%;
        width: 18%;
    }
}
@media only screen and (max-width: 640px){
    .new_year_img_mob {
        left: 41%;
        top: -5%;
        width: 18%;
    }
}
@media only screen and (max-width: 580px){
    .new_year .new_year_countdown h1{
        font-size: 13px;
    }
}
@media only screen and (max-width: 540px){
    .new_year_img_mob {
        left: 39%;
        top: -5%;
        width: 22%;
    }
}
@media only screen and (max-width: 430px){
    .new_year_img_mob {
        left: 37%;
        top: -5%;
        width: 26%;
    }
}
@media only screen and (max-width: 375px){
    .new_year_img_mob {
        left: 36%;
        top: -5%;
        width: 32%;
    }
}