<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Cheetahmail>
      <version>0.1.0</version>
    </Iksula_Cheetahmail>
  </modules>
  <frontend>
    <routers>
      <cheetahmail>
        <use>standard</use>
          <args>
            <module>Iksula_Cheetahmail</module>
            <frontName>cheetahmail</frontName>
          </args>
      </cheetahmail>
    </routers>
		<layout>
		  <updates>
			<cheetahmail>
			  <file>cheetahmail.xml</file>
			</cheetahmail>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <cheetahmail>
        <class>Iksula_Cheetahmail_Helper</class>
      </cheetahmail>
    </helpers>
	<blocks>
	  <cheetahmail>
		<class>Iksula_Cheetahmail_Block</class>
	  </cheetahmail>
	</blocks>
	<models>
	  <cheetahmail>
		<class>Iksula_Cheetahmail_Model</class>
		<resourceModel>cheetahmail_mysql4</resourceModel>
	  </cheetahmail>
	</models>
  </global>    
    <crontab>
        <jobs>            
			<cheetahmail_builddatabase>
                <schedule><cron_expr>0 0 * * *</cron_expr></schedule>
                <run><model>cheetahmail/cron::buildDatabase</model></run>
            </cheetahmail_builddatabase>
        </jobs>
    </crontab>
</config> 