<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Otherpayments>
      <version>0.1.0</version>
    </Iksula_Otherpayments>
  </modules>
   <frontend>
        <routers>
            <otherpayments>
                <use>standard</use>
                <args>
                    <module>Iksula_Otherpayments</module>
                    <frontName>otherpayments</frontName>
                </args>
            </otherpayments>
        </routers>
        <layout>
            <updates>
                <otherpayments>
                    <file>otherpayments.xml</file>
                </otherpayments>
            </updates>
        </layout>
    </frontend> 
  <global>
    <helpers>
      <otherpayments>
        <class>Iksula_Otherpayments_Helper</class>
      </otherpayments>
    </helpers>
      <models>
            <otherpayments>
                <class>Iksula_Otherpayments_Model</class>
                <resourceModel>otherpayments_mysql4</resourceModel>
            </otherpayments>
            <otherpayments_mysql4>
                <class>Iksula_Otherpayments_Model_Mysql4</class>
                <entities>
                    <otherpayments>
                        <table>otherpayments</table>
                    </otherpayments>
                </entities>
            </otherpayments_mysql4>
        </models>
        <resources>
          <otherpayments_setup>
            <setup>
              <module>Iksula_Otherpayments</module>
            </setup>
            <connection>
              <use>core_setup</use>
            </connection>
          </otherpayments_setup>
          <otherpayments_write>
            <connection>
              <use>core_write</use>
            </connection>
          </otherpayments_write>
          <otherpayments_read>
            <connection>
              <use>core_read</use>
            </connection>
          </otherpayments_read>
        </resources>
        <blocks>
          <otherpayments>
            <class>Iksula_Otherpayments_Block</class>
          </otherpayments>
        </blocks>
  </global>
   <default>
        <payment>
            <otherpayments>
                <active>1</active>
                <model>otherpayments/otherpayments</model>
                <order_status>processing</order_status>
                <title>Other Payments Method</title>
            </otherpayments>
         </payment>
    </default>
</config> 