<?xml version="1.0"?>
<config>
    <modules>
        <Iksula_Dummypayment>
            <version>0.1.0</version>
        </Iksula_Dummypayment>
    </modules>
    <frontend>
        <routers>
            <dummypayment>
                <use>standard</use>
                <args>
                    <module>Iksula_Dummypayment</module>
                    <frontName>dummypayment</frontName>
                </args>
            </dummypayment>
        </routers>
        <events>
            <sales_order_place_after>
              <observers>
                <sales_order_place_after_dummypayment>
                  <type>singleton</type>
                  <class>Iksula_Dummypayment_Model_Observer</class>
                  <method>sendEmailDummypayment</method>
                </sales_order_place_after_dummypayment>
              </observers>
            </sales_order_place_after>
        </events>
    </frontend> 
    <global>
        <models>
            <dummypayment>
                <class>Iksula_Dummypayment_Model</class>
                <resourceModel>dummypayment_mysql4</resourceModel>
            </dummypayment>
            <!-- <dummypayment_mysql4>
                <class>Iksula_Dummypayment_Model_Mysql4</class>
                <entities>
                    <dummypayment>
                        <table>dummypayment</table>
                    </dummypayment>
                </entities>
            </dummypayment_mysql4> -->
        </models>
        <resources>
            <dummypayment_setup>
                <setup>
                    <module>Iksula_Dummypayment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dummypayment_setup>
            <dummypayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dummypayment_write>
            <dummypayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dummypayment_read>
        </resources>
        <blocks>
            <dummypayment>
                <class>Iksula_Dummypayment_Block</class>
            </dummypayment>
        </blocks>
        <helpers>
            <dummypayment>
                <class>Iksula_Dummypayment_Helper</class>
            </dummypayment>
        </helpers>
    </global>
    <default>
        <payment>
            <dummypayment>
                <active>0</active>
                <model>dummypayment/dummypayment</model>
                <sort_order>1</sort_order>
            </dummypayment>
         </payment>
    </default>
</config>