@import 'partials/var';
@import 'partials/mixin';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

body{
	color: #333;
	font-family: $open_sans_semibold !important;
}
button.button:hover > span{
	border:0!important; 
}
.cms-page-view.cms-referral{
	font-family: $open_sans_semibold !important;
	
	.categories-right-hom {
	    padding: 4px 0;
	    padding-bottom: 0;
	}

	.main-container {
	    padding-top: 18px;
	    background: #fff;
	    margin-top: 0;
	    padding: 0 !important;

	    .main{
	    	background: transparent;
	    	max-width: 1200px;

	    	.col-main{
	    		.std  *{
	    				text-align: center !important;
	    				padding: 0 !important;
					}
		    	.referral-wrap{
		    		display: inline-block;
		    		width: 100%;
		    		text-align: center !important;

		    		.title{
		    			font-size: 25px;
		    			line-height: 25px;
		    			color: #1f1f1f;
		    			font-family: $open_sans_bold !important;
		    			text-transform: uppercase;
	    			    padding: 25px 0 !important;
		    		}
		    		img{
		    			width: 100%;
		    			height: auto;
		    			margin: 0 !important;
		    		}
		    		.share-to-earn{

		    		}
		    		.content_wrap{

		    			.how-it-works, .this-doesnt-end-here{
		    				text-align: center !important; 
		    				display: inline-block;
    						width: 100%;

		    				.outer_area{
		    					float: left;
							    width: 33.33%;
							    padding: 0 4% 35px 4% !important;
							    box-sizing: border-box;

		    					.img_area{

		    						img{
		    							width: auto;
		    							margin: 0 !important;
		    							display: inline-block;
		    						}
		    					}
		    					.desc_area{
		    						font-size: 16px;
								    line-height: 22px;
								    color: #1f1f1f;
								    font-family: $open_sans_semibold !important;
		    					}
		    				}
		    			}
		    			.this-doesnt-end-here{
		    				.title{
		    					color: #72ae12;
		    				}
		    			}
		    		}
		    		.invalide-invities{
		    			background: #e8e8e8;

		    			.inner{
	    				    margin: 0;
    						padding: 0 20% 20px 20% !important;
    						font-size: 18px;
						    line-height: 26px;
						    color: #1f1f1f;
						    font-family: $open_sans_bold !important;
		    			}
		    			ul{
		    				padding: 0 20% 35px 20% !important;
    						margin: 0;
						    list-style: disc inside;

						    li{
						    	font-size: 15px;
							    line-height: 26px;
							    color: #f6770e;
							    font-family: $open_sans_semibold !important;
						    }
		    			}
		    			.refer-queries{
		    				font-size: 16px;
						    line-height: 40px;
						    color: #fff;
						    font-family: $open_sans_semibold !important;
						    background: #1f1f1f;

						    .faq{
						    	color: #72ae12;
						    	text-decoration: underline;
						    	cursor: pointer;
						    }
		    			}
		    		}
		    		.social_btns{
		    		    padding-top: 30px !important;		    			
		    			a{	
		    				margin: 0 4px;
							display: inline-block;
							cursor: pointer;

		    			    img{
		    			    	width: auto;
		    			    	height: auto;
		    			    	display: inline-block;
		    			    }
		    			}
		    		}
    			}
	    	}
	    }	 
	}
}

@media only screen and (max-width: 1225px){
	.cms-referral{
	.main-container {

		.main{
	 		padding: 0 15px;
    		box-sizing: border-box;
			}	 
		}
	}
}
@media only screen and (max-width: 900px){
	.cms-page-view.cms-referral{
		.categories-right-hom {
		    padding: 0;
		}
		.main-container {
		    .main{
		    	.col-main{
			    	.referral-wrap{
			    		.title{
			    			font-size: 22px;
			    		}
			    		.content_wrap{

			    			.how-it-works, .this-doesnt-end-here{
			    				.outer_area{
			    					.desc_area{
			    						font-size: 15px;
									    line-height: 22px;
			    					}
			    				}
			    			}
			    		}
			    		.invalide-invities{
			    			.inner{
	    						font-size: 16px;
							    line-height: 22px;
			    			}
			    			ul{
							    li{
							    	font-size: 14px;
								    line-height: 22px;
							    }
			    			}
			    			.refer-queries{
			    				font-size: 14px;
							    line-height: 40px;
			    			}
			    		}
	    			}
		    	}
		    }	 
		}
	}
}
@media only screen and (max-width: 736px){
	.cms-page-view.cms-referral{
	.main-container {
		margin-top: 0 !important;

		.main{
	 		padding: 0;
	 		margin: 0 auto;
    		box-sizing: border-box;

		    	.col-main{
			    	.referral-wrap{
			    		.title{
			    			font-size: 20px;
			    			padding: 15px 0 !important;
			    		}
			    		.content_wrap{

			    			.how-it-works, .this-doesnt-end-here{
			    				.outer_area{
		    					    padding: 0 2% 20px 2% !important;
		    					    .img_area{
		    					    	img{
	    					    		    width: 110px;
		    					    	}
		    					    }
			    					.desc_area{
			    						font-size: 13px;
    									line-height: 21px;
			    					}
			    				}
			    			}
			    		}
			    		.invalide-invities{
			    			.inner{
	    						font-size: 15px;
							    line-height: 20px;
						        padding: 0 5% 15px 5% !important;
			    			}
			    			ul{
		    					padding: 0 5% 15px 5% !important;

							    li{
							    	font-size: 14px;
								    line-height: 20px;
							    }
			    			}
			    			.refer-queries{
			    				font-size: 14px;
							    line-height: 40px;
			    			}
			    		}
			    		.social_btns{
			    		    padding-top: 22px !important;		    			
			    		}
	    			}
		    	}
			}	 
		}
	}
}

@media only screen and (max-width: 480px){
	.cms-page-view.cms-referral{
		.main-container {
			.main{
		    	.col-main{
			    	.referral-wrap{
			    		.content_wrap{
			    			.how-it-works, .this-doesnt-end-here{
			    				.outer_area{
		    					    padding: 0 10% 15px 10% !important;
		    					    width: 100%;

		    					    .img_area{
		    					    	img{
	    					    		    /*width: auto;*/
		    					    	}
		    					    }
			    					.desc_area{
			    						font-size: 15px;
    									line-height: 19px;
			    					}
			    				}
			    			}
			    		}
			    		.invalide-invities{
			    			.refer-queries{
							    line-height: 22px;
							    padding: 7px 0 !important;
							    .faq {
								    width: 100%;
								    display: inline-block;
								}
			    			}
			    		}
	    			}
		    	}
			}	 
		}
	}
}

