<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Promotions>
      <version>0.1.1</version>
    </Iksula_Promotions>
  </modules>
  <frontend>
    <routers>
      <promotions>
        <use>standard</use>
          <args>
            <module>Iksula_Promotions</module>
            <frontName>promotions</frontName>
          </args>
      </promotions>
    </routers>
		<layout>
		  <updates>
			<promotions>
			  <file>promotions.xml</file>
			</promotions>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <promotions>
        <class>Iksula_Promotions_Helper</class>
      </promotions>
    </helpers>
	<blocks>
	  <promotions>
		<class>Iksula_Promotions_Block</class>
	  </promotions>
	</blocks>
   <resources>
    <promotions_setup>
    <setup>
      <module>Iksula_Promotions</module>
    </setup>
    <connection>
      <use>core_setup</use>
    </connection>
    </promotions_setup>
    <promotions_write>
    <connection>
      <use>core_write</use>
    </connection>
    </promotions_write>
    <promotions_read>
    <connection>
      <use>core_read</use>
    </connection>
    </promotions_read>
  </resources>
  </global>
</config> 