<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_RecentPurchasedPopup>
      <version>0.1.0</version>
    </Iksula_RecentPurchasedPopup>
  </modules>
  <frontend>
    <routers>
      <recentpurchasedpopup>
        <use>standard</use>
          <args>
            <module>Iksula_RecentPurchasedPopup</module>
            <frontName>recentpurchasedpopup</frontName>
          </args>
      </recentpurchasedpopup>
    </routers>
		<layout>
		  <updates>
			<recentpurchasedpopup>
			  <file>recentpurchasedpopup.xml</file>
			</recentpurchasedpopup>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <recentpurchasedpopup>
        <class>Iksula_RecentPurchasedPopup_Helper</class>
      </recentpurchasedpopup>
    </helpers>
	<blocks>
	  <recentpurchasedpopup>
		<class>Iksula_RecentPurchasedPopup_Block</class>
	  </recentpurchasedpopup>
	</blocks>
  </global>
</config> 