<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Variations>
      <version>0.1.2</version>
    </Iksula_Variations>
  </modules>
  <frontend>
    <routers>
      <variations>
        <use>standard</use>
          <args>
            <module>Iksula_Variations</module>
            <frontName>variations</frontName>
          </args>
      </variations>
    </routers>
		<layout>
		  <updates>
			<variations>
			  <file>variations.xml</file>
			</variations>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <variations>
        <class>Iksula_Variations_Helper</class>
      </variations>
    </helpers>
	<blocks>
	  <variations>
		<class>Iksula_Variations_Block</class>
	  </variations>
	</blocks>
	<models>
	  <variations>
		<class>Iksula_Variations_Model</class>
		<resourceModel>variations_mysql4</resourceModel>
	  </variations>
	  <variations_mysql4>
		<class>Iksula_Variations_Model_Mysql4</class>
		<entities>		  
			  <variations>
				<table>variations</table>
			  </variations>
        </entities>
	  </variations_mysql4>
	</models>
	<resources>
	  <variations_setup>
		<setup>
		  <module>Iksula_Variations</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </variations_setup>
	  <variations_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </variations_write>
	  <variations_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </variations_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <variations>
	    <use>admin</use>
		<args>
		  <module>Iksula_Variations</module>
		  <frontName>admin_variations</frontName>
		</args>
	  </variations>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <variations module="variations">
		<title>Variations</title>
		<sort_order>100</sort_order>
		<children>
		  <variations module="variations">
		    <title>Manage Variations</title>
			<sort_order>0</sort_order>
			<action>admin_variations/adminhtml_variations</action>
		  </variations>
		  <bulk_uploadvariations module="variations">
		    <title>Bulk Upload Variations</title>
			<sort_order>1</sort_order>
			<action>admin_variations/adminhtml_variationsbackend</action>
		  </bulk_uploadvariations>
		</children>
	  </variations>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<variations translate="title" module="variations">
			  <title>Variations</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <variations translate="title">
			<title>Manage Variations</title>
			<sort_order>0</sort_order>
		  </variations>
			  </children>
			</variations>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<variations>
		  <file>variations.xml</file>
		</variations>
	  </updates>
	</layout>
  </adminhtml>
</config> 