<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Limitedsupply>
      <version>0.1.1</version>
    </Iksula_Limitedsupply>
  </modules>
  <frontend>
    <routers>
      <limitedsupply>
        <use>standard</use>
          <args>
            <module>Iksula_Limitedsupply</module>
            <frontName>limitedsupply</frontName>
          </args>
      </limitedsupply>
    </routers>
		<layout>
		  <updates>
			<limitedsupply>
			  <file>limitedsupply.xml</file>
			</limitedsupply>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <limitedsupply>
        <class>Iksula_Limitedsupply_Helper</class>
      </limitedsupply>
    </helpers>
	<blocks>
	  <limitedsupply>
		<class>Iksula_Limitedsupply_Block</class>
	  </limitedsupply>
	</blocks>
	<models>
	  <limitedsupply>
		<class>Iksula_Limitedsupply_Model</class>
		<resourceModel>limitedsupply_mysql4</resourceModel>
	  </limitedsupply>
	  <limitedsupply_mysql4>
		<class>Iksula_Limitedsupply_Model_Mysql4</class>
		<entities>
			  <limitedsupply>
				<table>limitedsupply_info</table>
			  </limitedsupply>
        </entities>
	  </limitedsupply_mysql4>
	</models>
	<resources>
	  <limitedsupply_setup>
		<setup>
		  <module>Iksula_Limitedsupply</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </limitedsupply_setup>
	  <limitedsupply_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </limitedsupply_write>
	  <limitedsupply_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </limitedsupply_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <limitedsupply>
	    <use>admin</use>
		<args>
		  <module>Iksula_Limitedsupply</module>
		  <frontName>admin_limitedsupply</frontName>
		</args>
	  </limitedsupply>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <limitedsupply module="limitedsupply">
		<title>Limitedsupply</title>
		<sort_order>100</sort_order>
		<children>
		  <limitedsupply module="limitedsupply">
		    <title>Manage Limitedsupply</title>
			<sort_order>0</sort_order>
			<action>admin_limitedsupply/adminhtml_limitedsupply</action>
		  </limitedsupply>
		</children>
	  </limitedsupply>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<limitedsupply translate="title" module="limitedsupply">
			  <title>Limitedsupply</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <limitedsupply translate="title">
			<title>Manage Limitedsupply</title>
			<sort_order>0</sort_order>
		  </limitedsupply>
			  </children>
			</limitedsupply>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<limitedsupply>
		  <file>limitedsupply.xml</file>
		</limitedsupply>
	  </updates>
	</layout>
  </adminhtml>
</config>
